<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" height="220" width="220" />

        <div class="header-details flexrow">
            <div class="header-background flexrow">
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" data-tippy-content="<strong>{{localize "SFRPG.CharacterNamePlaceHolderText"}}</strong>" placeholder="{{localize "SFRPG.CharacterNamePlaceHolderText"}}" />
                </h1>

                <div class="charlevel">
                    <div class="level {{#if disableExperience}}noxp{{/if}}" data-tippy-content="<strong>{{localize "SFRPG.LevelLabelText"}}</strong><br>@details.level.value<br><br>{{#each data.details.level.tooltip as |tip|}}{{tip}}<br>{{/each}}">
                        <label>{{localize "SFRPG.LevelLabelText"}} </label>
                        <span>{{data.details.level.value}}</span>
                    </div>
                    {{#unless disableExperience}}
                    <div class="experience">
                        <input name="data.details.xp.value" type="text" value="{{data.details.xp.value}}"
                            data-dtype="Number" placeholder="0" />
                        <span class="max"> / {{data.details.xp.max}}</span>
                    </div>
                    <div class="xpbar">
                        <span class="bar" style="width: {{data.details.xp.pct}}%"></span>
                    </div>
                    {{/unless}}
                </div>
            </div>

            {{!-- Character Summary --}}
            <ul class="summary">
                <li>
                    <input type="text" name="data.details.race" value="{{data.details.race}}" data-tippy-content="<strong>{{localize "SFRPG.RacePlaceHolderText"}}</strong><br>@details.race" placeholder="{{localize "SFRPG.RacePlaceHolderText"}}" />
                </li>
                <li>
                    <input type="text" name="data.details.theme" value="{{data.details.theme}}" data-tippy-content="<strong>{{localize "SFRPG.ThemePlaceHolderText"}}</strong><br>@details.theme" placeholder="{{localize "SFRPG.ThemePlaceHolderText"}}" />
                </li>
                <li>
                    <input type="text" name="data.details.alignment" value="{{data.details.alignment}}" data-tippy-content="<strong>{{localize "SFRPG.AlignmentPlaceHolderText"}}</strong><br>@details.alignment"
                        placeholder="{{localize "SFRPG.AlignmentPlaceHolderText"}}" />
                </li>
            </ul>

            {{!-- Header Attributes --}}
            <ul class="attributes flexrow">
                <li class="attribute health" data-tippy-content="<strong>{{ localize "SFRPG.Health" }}</strong><br/>@attributes.hp.value<br/>@attributes.hp.max<br/><br/>{{#each data.attributes.hp.tooltip as |tip|}}{{tip}}<br/>{{/each}}">
                    <h4 class="attribute-name box-title">{{ localize "SFRPG.Health" }}</h4>
                    <div class="attribute-value multiple">
                        <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}"
                            data-dtype="Number" placeholder="10" />
                        <span class="sep"> / </span>
                        <div class="attribute-value-max">{{data.attributes.hp.max}}</div>
                    </div>
                    <footer class="attribute-footer">
                        <input name="data.attributes.hp.temp" type="text" class="temphp" placeholder="{{localize "SFRPG.TempHPPlaceHolderText"}}"
                            value="{{data.attributes.hp.temp}}" data-dtype="Number" />
                        <input name="data.attributes.hp.tempmax" type="text" class="temphp" placeholder="{{localize "SFRPG.TempHPMaxPlaceHolderText"}}"
                            value="{{data.attributes.hp.tempmax}}" data-dtype="Number" />
                    </footer>
                </li>

                <li class="attribute health" data-tippy-content="<strong>{{ localize "SFRPG.Stamina" }}</strong><br/>@attributes.sp.value<br/>@attributes.sp.max<br/><br/>{{#each data.attributes.sp.tooltip as |tip|}}{{tip}}<br/>{{/each}}">
                    <h4 class="attribute-name box-title">{{ localize "SFRPG.Stamina" }}</h4>
                    <div class="attribute-value multiple">
                        <input name="data.attributes.sp.value" type="text" value="{{data.attributes.sp.value}}"
                            data-dtype="Number" placeholder="10" />
                        <span class="sep"> / </span>
                        <div class="attribute-value-max">{{data.attributes.sp.max}}</div>
                    </div>                    
                </li>

                <li class="attribute" data-tippy-content="<strong>{{ localize "SFRPG.EnergyArmorClass" }}</strong><br>@attributes.eac.value<br><br>{{#each data.attributes.eac.tooltip as |tip|}}{{tip}}<br>{{/each}}">
                    <h4 class="attribute-name box-title">{{ localize "SFRPG.EnergyArmorClass" }}</h4>
                    <div class="attribute-value">
                        <span>{{data.attributes.eac.value}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <a class="rest short-rest">{{localize "SFRPG.RestS"}}</a>
                    </footer>
                </li>

                <li class="attribute" data-tippy-content="<strong>{{ localize "SFRPG.KineticArmorClass" }}</strong><br>@attributes.kac.value<br><br>{{#each data.attributes.kac.tooltip as |tip|}}{{tip}}<br>{{/each}}">
                    <h4 class="attribute-name box-title">{{ localize "SFRPG.KineticArmorClass" }}</h4>
                    <div class="attribute-value">
                        <span>{{data.attributes.kac.value}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <a class="rest long-rest">{{localize "SFRPG.RestL"}}</a>
                    </footer>
                </li>

                <li class="attribute" data-tippy-content="<strong>{{ localize "SFRPG.Speed" }}</strong><br>@attributes.speed.value<br>@attributes.speed.special">
                    <h4 class="attribute-name box-title">{{ localize "SFRPG.Speed" }}</h4>
                    <div class="attribute-value">
                        <input name="data.attributes.speed.value" type="text" value="{{data.attributes.speed.value}}"
                            placeholder="0" />
                    </div>
                    <footer class="attribute-footer">
                        <input type="text" class="speed" name="data.attributes.speed.special"
                            value="{{data.attributes.speed.special}}"
                            placeholder="{{ localize 'SFRPG.SpeedSpecial' }}" />
                    </footer>
                </li>
            </ul>
        </div>
    </header>

    {{!-- NPC Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="attributes">{{ localize "SFRPG.Attributes" }}</a>
        <a class="item" data-tab="inventory">{{ localize "SFRPG.Inventory" }}</a>
        <a class="item" data-tab="features">{{ localize "SFRPG.Features" }}</a>
        <a class="item" data-tab="spellbook">{{ localize "SFRPG.SpellBook.Spellbook" }}</a>
        <a class="item" data-tab="modifiers">{{localize "SFRPG.Modifiers"}}</a>
        <a class="item" data-tab="biography">{{ localize "SFRPG.Biography" }}</a>        
    </nav>

    {{!-- NPC Sheet Body --}}
    <section class="sheet-body">

        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">

            {{!-- Ability Scores --}}
            <ul class="ability-scores flexrow">
                {{#each data.abilities as |ability id|}}
                <li class="ability {{#if ability.proficient}}proficient{{/if}}" data-ability="{{id}}">
                  <div class="ability-header flexrow">
                    <input class="ability-damage" name="data.abilities.{{id}}.damage" type="text" data-tippy-content="{{localize "SFRPG.AbilityDamageTitle"}}"
                    value="{{#if ability.damage}}{{ability.damage}}{{/if}}" data-dtype="Number" placeholder="{{localize "SFRPG.AbilityDamagePlaceholder"}}"/>
                    <input class="ability-penalty" name="data.abilities.{{id}}.userPenalty" type="text" data-tippy-content="{{localize "SFRPG.AbilityPenaltyTitle"}}"
                    value="{{#if ability.userPenalty}}{{ability.userPenalty}}{{/if}}" data-dtype="Number" placeholder="{{localize "SFRPG.AbilityPenaltyPlaceholder"}}"/>
                    <input class="ability-drain" name="data.abilities.{{id}}.drain" type="text" data-tippy-content="{{localize "SFRPG.AbilityDrainTitle"}}"
                    value="{{#if ability.drain}}{{ability.drain}}{{/if}}" data-dtype="Number" placeholder="{{localize "SFRPG.AbilityDrainPlaceholder"}}"/>
                  </div>
                  <h4 class="ability-name box-title rollable" data-tippy-content="<strong>{{ability.label}}</strong><br>@abilities.{{id}}.value<br><br>{{#each ability.tooltip as |tip|}}{{tip}}<br>{{/each}}">{{ability.label}}</h4>
                  <div class="ability-modifiers flexrow">
                    <span class="ability-mod" data-tippy-content="<strong>{{ability.label}}</strong><br>@abilities.{{id}}.mod<br><br>{{#each ability.modifierTooltip as |tip|}}{{tip}}<br>{{/each}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                    <div class="ability-center" data-tippy-content="<strong>{{ability.label}}</strong><br>@abilities.{{id}}.value<br><br>{{#each ability.tooltip as |tip|}}{{tip}}<br>{{/each}}">{{ability.value}}</div>
                    <input class="ability-base" data-tippy-content="<strong>{{localize "SFRPG.AbilityScoreBase"}}</strong><br>@abilities.{{id}}.base" name="data.abilities.{{id}}.base" type="text" value="{{ability.base}}" data-dtype="Number" placeholder="10"/>
                  </div>
                </li>
                {{/each}}
            </ul>

            {{!-- Skills --}}
            <ul class="skills-list">
                <h3 class="skill-ranks {{#if (greaterThan data.skillpoints.used data.skillpoints.max)}}red{{/if}}" data-tippy-content="<strong>{{localize "SFRPG.ActorSheet.Attributes.Skills.SkillRanks"}}</strong><br>@skillpoints.used<br>@skillpoints.total<br><br>{{#each data.skillpoints.tooltip as |tip|}}{{tip}}<br>{{/each}}">
                    {{localize "SFRPG.ActorSheet.Attributes.Skills.SkillRanks"}} ({{data.skillpoints.used}} / {{data.skillpoints.max}})
                </h3>
                <li class="skills-header flexrow">
                    <div class="skill-header-prof"></div>
                    <h3 class="skill-header-name flexrow">{{localize "SFRPG.SkillsHeaderName"}}</h3>
                    <div class="skill-header-rank">{{localize "SFRPG.SkillsHeaderRanks"}}</div>
                    <div class="skill-header-ability">{{localize "SFRPG.SkillsHeaderAbility"}}</div>
                    <div class="skill-header-mod">{{localize "SFRPG.SkillsHeaderModifier"}}</div>
                </li>
                {{#each data.skills as |skill s|}}
                <li class="skill flexrow {{#if skill.value}}proficient{{/if}}" data-tippy-content="<strong>{{skill.label}}</strong>{{#if (or skill.isTrainedOnly skill.hasArmorCheckPenalty)}}<br>(<em>{{#if skill.hasArmorCheckPenalty}}Armor Check Penalty{{/if}}{{#if (and skill.isTrainedOnly skill.hasArmorCheckPenalty)}}; {{/if}}{{#if skill.isTrainedOnly}}Trained Only{{/if}}</em>){{/if}}<br>@skills.{{s}}.mod<br><br>{{#each skill.tooltip as |tip|}}{{tip}}<br>{{/each}}" data-skill="{{s}}">
                    <input type="hidden" name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number" />
                    <a class="proficiency-toggle skill-proficiency" title="{{skill.hover}}">{{{skill.icon}}}</a>
                    <h4 class="skill-name rollable">
                        {{skill.label}}
                        {{#if skill.isTrainedOnly}}<span>&dagger;</span>{{/if}}
                        {{#if skill.hasArmorCheckPenalty}}<span>*</span>{{/if}}
                    </h4>
                    <input type="text" class="skill-ranks" title="Skill Ranks" name="data.skills.{{s}}.ranks"
                        value="{{skill.ranks}}" data-dtype="Number" />
                    <span class="skill-ability">{{skill.ability}}</span>
                    <span class="skill-mod">{{numberFormat skill.mod decimals=0 sign=true}}</span>
                </li>
                {{/each}}
                <li class="flexcol skills-footer">
                    <div class="form-group">
                        <button id="add-profession"><i class="fas fa-plus"></i> {{localize "SFRPG.AddProfessionButtonText"}}</button>
                    </div>
                    <div class="form-group">
                        <small>* = {{localize "SFRPG.ArmorCheckPenalty"}}, &dagger; = {{localize "SFRPG.SkillTrainedOnly"}}</small>
                    </div>
                </li>
                {{!-- <li class="flexrow">
                    
                </li> --}}
            </ul>

            <section class="center-pane">

                {{!-- Body Attributes --}}
                <ul class="attributes flexrow">
                    {{!-- {{#each resources as |res|}}
                    <li class="attribute resource">
                        <h4 class="attribute-name box-title">
                            <input name="data.resources.{{res.name}}.label" type="text" value="{{res.label}}"
                                   placeholder="{{res.placeholder}}" />
                        </h4>
                        <div class="attribute-value multiple">
                            <input name="data.resources.{{res.name}}.value" type="text" value="{{res.value}}"
                                   data-dtype="Number" placeholder="0"/>
                            <span class="sep"> / </span>
                           <input name="data.resources.{{res.name}}.max" type="text" value="{{res.max}}"
                                  data-dtype="Number" placeholder="0"/>
                        </div>
                        <footer class="attribute-footer">
                            <label class="checkbox">
                                SR <input name="data.resources.{{res.name}}.sr" type="checkbox" {{checked res.sr}}/>
                            </label>
                            <label class="checkbox">
                                LR <input name="data.resources.{{res.name}}.lr" type="checkbox" {{checked res.lr}}/>
                            </label>
                        </footer>
                    </li>
                    {{/each}} --}}

                    <li class="attribute save" data-tippy-content="<strong>{{localize "SFRPG.FortitudeSave"}}</strong><br>@attributes.fort.bonus<br><br>{{#each data.attributes.fort.tooltip as |tip|}}{{tip}}<br>{{/each}}" data-save="fort">
                        <h4 class="attribute-name save-name box-title rollable">{{localize "SFRPG.FortitudeSave"}}</h4>
                        <div class="attribute-value">
                            <span>{{numberFormat data.attributes.fort.bonus decimals=0 sign=true}}</span>
                        </div>
                        <footer class="attribute-footer">
                            <div>
                                <span>{{localize "SFRPG.SaveMiscModifierLabel"}}</span>
                                <input name="data.attributes.fort.misc" type="text" placeholder="0" data-dtype="Number"
                                    value="{{numberFormat data.attributes.fort.misc decimals=0 sign=true}}" />
                            </div>
                        </footer>
                    </li>

                    <li class="attribute save" data-tippy-content="<strong>{{localize "SFRPG.ReflexSave"}}</strong><br>@attributes.reflex.bonus<br><br>{{#each data.attributes.reflex.tooltip as |tip|}}{{tip}}<br>{{/each}}" data-save="reflex">
                        <h4 class="attribute-name save-name box-title rollable">{{localize "SFRPG.ReflexSave"}}</h4>
                        <div class="attribute-value">
                            <span>{{numberFormat data.attributes.reflex.bonus decimals=0 sign=true}}</span>
                        </div>
                        <footer class="attribute-footer">
                            <div>
                                <span>{{localize "SFRPG.SaveMiscModifierLabel"}}</span>
                                <input name="data.attributes.reflex.misc" type="text" placeholder="0"
                                    data-dtype="Number"
                                    value="{{numberFormat data.attributes.reflex.misc decimals=0 sign=true}}" />
                            </div>
                        </footer>
                    </li>

                    <li class="attribute save" data-tippy-content="<strong>{{localize "SFRPG.WillSave"}}</strong><br>@attributes.will.bonus<br><br>{{#each data.attributes.will.tooltip as |tip|}}{{tip}}<br>{{/each}}" data-save="will">
                        <h4 class="attribute-name save-name box-title rollable">{{localize "SFRPG.WillSave"}}</h4>
                        <div class="attribute-value">
                            <span>{{numberFormat data.attributes.will.bonus decimals=0 sign=true}}</span>
                        </div>
                        <footer class="attribute-footer">
                            <div>
                                <span>{{localize "SFRPG.SaveMiscModifierLabel"}}</span>
                                <input name="data.attributes.will.misc" type="text" placeholder="0" data-dtype="Number"
                                    value="{{numberFormat data.attributes.will.misc decimals=0 sign=true}}" />
                            </div>
                        </footer>
                    </li>

                </ul>

                <ul class="attributes flexrow last">
                    <li class="attribute initiative" data-tippy-content="<strong>{{localize "SFRPG.InitiativeLabel"}}</strong><br>@attributes.init.total<br><br>{{#each data.attributes.init.tooltip as |tip|}}{{tip}}<br>{{/each}}">
                        <h4 class="attribute-name box-title">{{localize "SFRPG.InitiativeLabel"}}</h4>
                        <div class="attribute-value">
                            <span>{{numberFormat data.attributes.init.total decimals=0 sign=true}}</span>
                        </div>
                        <footer class="attribute-footer">
                            <span>{{localize "SFRPG.InitiativeModiferLabel"}}</span>
                            <input name="data.attributes.init.value" type="text" placeholder="0" data-dtype="Number"
                                value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}" />
                        </footer>
                    </li>
                    <li class="attribute cmd" data-tippy-content="<strong>{{localize "SFRPG.ACvsCombatManeuversTitle"}}</strong><br>@attributes.cmd.value<br><br>{{#each data.attributes.cmd.tooltip as |tip|}}{{tip}}<br>{{/each}}">
                        <h4 class="attribute-name box-title">
                            {{localize "SFRPG.ACvsCombatManeuversLabel"}}
                        </h4>
                        <div class="attribute-value">
                            <span>{{numberFormat data.attributes.cmd.value decimal=0 sign=false}}</span>
                        </div>
                    </li>
                    <li class="attribute bab" data-tippy-content="<strong>{{localize "SFRPG.BaseAttackBonusTitle"}}</strong><br>@attributes.bab<br><br>{{#each data.attributes.babtooltip as |tip|}}{{tip}}<br>{{/each}}">
                        <h4 class="attribute-name box-title">
                            {{localize "SFRPG.BaseAttackBonusLabel"}}
                        </h4>
                        <div class="attribute-value">
                            <span>{{numberFormat data.attributes.bab decimal=0 sign=true}}</span>
                        </div>
                    </li>
                    <li class="attribute resolve" data-tippy-content="<strong>{{localize "SFRPG.Resolve"}}</strong><br/>@attributes.rp.value<br/>@attributes.rp.max<br/><br/>{{#each data.attributes.rp.tooltip as |tip|}}{{tip}}<br/>{{/each}}">
                        <h4 class="attribute-name box-title">{{ localize "SFRPG.Resolve" }}</h4>
                        <div class="attribute-value multiple">
                            <input name="data.attributes.rp.value" type="text" value="{{data.attributes.rp.value}}"
                                data-dtype="Number" placeholder="10" />
                            <span class="sep"> / </span>
                            <div class="attribute-value-max">{{data.attributes.rp.max}}</div>
                        </div>
                    </li>
                </ul>

                {{!-- Traits --}}
                {{> "systems/sfrpg/templates/actors/parts/actor-traits.html"}}
            </section>
        </div>

        {{!-- Inventory Tab --}}
        <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
            {{> "systems/sfrpg/templates/actors/parts/actor-inventory.html" sections=inventory}}
        </div>

        {{!-- Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "systems/sfrpg/templates/actors/parts/actor-features.html" sections=features}}
        </div>

        {{!-- Spellbook Tab --}}
        <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
            {{> "systems/sfrpg/templates/actors/parts/actor-spellbook.html"}}
        </div>

        {{!-- Modifiers Tab --}}
        <div class="tab modifers flexcol" data-group="primary" data-tab="modifiers">
            {{> "systems/sfrpg/templates/actors/parts/actor-modifiers.html" sections=modifiers}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography flexcol" data-group="primary" data-tab="biography">
            {{editorPlus content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable rolls=false rollData=data}}
        </div>
    </section>
</form>