<form class="{{cssClass}}" autocomplete="off">

    <!-- HEADER -->
    <header class="sheet-header">
        <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "SFRPG.HazardSheet.Header.NamePlaceholder"}}"/>
        </h1>
    </header>

    <!-- BODY -->
    <section class="sheet-body">
        <div class="tab biography">
            {{editorPlus content=data.details.description.value target="data.details.description.value" button=true isOwner=isOwner editable=editable rolls=false rollData=data}}
        </div>
    </section>

    <!-- SIDEBAR -->
    <section class="sheet-sidebar">
        <img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}}" height="220" width="220" data-edit="img"/>
    </section>
</form>