<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" height="200" width="200" style="border: none;" />
        <div class="flexcol" style="margin-left: -2px;">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" data-tippy-content="<strong>{{localize "SFRPG.CharacterNamePlaceHolderText"}}</strong>" placeholder="{{localize "SFRPG.CharacterNamePlaceHolderText"}}" />
            </h1>
        </div>
    </header>
    <span style="flex: 0 0 5px;"></span>
    <section class="sheet-body">
        <div class="tab biography flexrow">
            {{> "systems/sfrpg/templates/actors/parts/actor-biography.html" limited=true hideVitals=(not (eq actor.type "character"))}}
        </div>
    </section>
</form>
