<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- NPC Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />

        <div class="header-details flexrow">
            <div class="header-background flexrow">
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "SFRPG.NPCSheet.Header.NamePlaceHolderText"}}" />
                </h1>

                <div class="charlevel">
                    <div class="level">
                        <label>CR</label>
                        <input name="data.details.cr" type="text" value="{{labels.cr}}" placeholder="1" />
                    </div>
                    <div class="experience">
                        <span>{{data.details.xp.value}} XP</span>
                    </div>
                </div>
            </div>
            <ul class="summary-row1">
                <li>
                    <input type="text" name="data.details.raceAndGrafts" value="{{data.details.raceAndGrafts}}" placeholder="{{localize "SFRPG.NPCSheet.Header.RaceAndGraftsPlaceHolderText"}}" />
                </li>
                <li>
                    <input type="text" name="data.details.source" value="{{data.details.source}}" placeholder="{{localize "SFRPG.NPCSheet.Header.SourcePlaceHolderText"}}" />
                </li>
            </ul>
            <ul class="summary-row2">
                <li>
                    <input type="text" name="data.details.alignment" value="{{data.details.alignment}}" placeholder="{{localize "SFRPG.NPCSheet.Header.AlignmentPlaceHolderText"}}" />
                </li>
                <li>
                    <input type="text" name="data.details.type" value="{{data.details.type}}" placeholder="{{localize "SFRPG.NPCSheet.Header.TypePlaceHolderText"}}" />
                </li>
                <li>
                    <input type="text" name="data.details.aura" value="{{data.details.aura}}" placeholder="{{localize "SFRPG.NPCSheet.Header.AuraPlaceHolderText"}}" />
                </li>
            </ul>
        </div>
    </header>

    {{!-- NPC Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="attributes">{{ localize "SFRPG.Attributes" }}</a>
        <a class="item" data-tab="inventory">{{ localize "SFRPG.Inventory" }}</a>
        <a class="item" data-tab="features">{{ localize "SFRPG.Features" }}</a>
        <a class="item" data-tab="spellbook">{{ localize "SFRPG.SpellBook.Spellbook" }}</a>
        <a class="item" data-tab="modifiers">{{localize "SFRPG.NPCSheet.Interface.Navigation.Conditions"}}</a>
        <a class="item" data-tab="biography">{{ localize "SFRPG.Biography" }}</a>
    </nav>

    {{!-- NPC Sheet Body --}}
    <section class="sheet-body">
        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">

            {{!-- Ability Scores --}}
            <ul class="ability-scores flexrow">
                {{#each data.abilities as |ability id|}}
                <li class="ability {{#if ability.proficient}}proficient{{/if}}" data-ability="{{id}}">
                    <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
                    <input class="ability-score" name="data.abilities.{{id}}.mod" type="text"
                        value="{{numberFormat ability.mod decimals=0 sign=true}}" data-dtype="Number" placeholder="0" />
                </li>
                {{/each}}
            </ul>

            {{!-- Skills --}}
            <ul class="skills-list">
                {{#each data.skills as |skill s|}}
                {{#if skill.enabled}}
                <li class="skill flexrow {{#if skill.value}}proficient{{/if}}" data-skill="{{s}}">
                    <input type="hidden" name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number" />
                    <h4 class="skill-name rollable">
                        {{skill.label}}
                    </h4>
                    <input class="skill-mod" type="text" name="data.skills.{{s}}.mod" data-dtype="Number" value="{{numberFormat skill.mod decimals=0 sign=true}}" />
                </li>
                {{/if}}
                {{/each}}
                <li class="flexrow">
                    <div class="form-group">
                        <button id="add-skills"><i class="fas fa-plus"></i> {{localize "SFRPG.ToggleSkillsButtonLabel"}}</button>
                    </div>
                </li>
                <li class="flexrow">
                    <div class="form-group">
                        <button id="add-profession"><i class="fas fa-plus"></i> {{localize "SFRPG.AddProfessionButtonText"}}</button>
                    </div>
                </li>
            </ul>

            <section class="center-pane">

                {{!-- Attributes --}}
                <ul class="attributes flexrow">
                    <li class="attribute health">
                        <h4 class="attribute-name box-title rollable">{{ localize "SFRPG.Health" }}</h4>
                        <div class="attribute-value multiple">
                            <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}"
                                data-dtype="Number" placeholder="10" />
                            <span class="sep"> / </span>
                            <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}"
                                data-dtype="Number" placeholder="10" />
                        </div>
                    </li>

                    <li class="attribute health">
                        <h4 class="attribute-name box-title">{{ localize "SFRPG.Stamina"}}</h4>
                        <div class="attribute-value multiple">
                            <input name="data.attributes.sp.value" type="text" value="{{data.attributes.sp.value}}"
                                data-dtype="Number" placeholder="10" />
                            <span class="sep"> / </span>
                            <input name="data.attributes.sp.max" type="text" value="{{data.attributes.sp.max}}"
                                data-dtype="Number" placeholder="10" />
                        </div>
                    </li>

                    <li class="attribute">
                        <h4 class="attribute-name box-title">{{ localize "SFRPG.EnergyArmorClass" }}</h4>
                        <div class="attribute-value">
                            <input name="data.attributes.eac.value" type="text" value="{{data.attributes.eac.value}}"
                                data-dtype="Number" placeholder="10" />
                        </div>
                    </li>

                    <li class="attribute">
                        <h4 class="attribute-name box-title">{{ localize "SFRPG.KineticArmorClass" }}</h4>
                        <div class="attribute-value">
                            <input name="data.attributes.kac.value" type="text" value="{{data.attributes.kac.value}}"
                                data-dtype="Number" placeholder="10" />
                        </div>
                    </li>
                    
                </ul>

                <ul class="attributes flexrow">                    
                    <li class="attribute">
                        <h4 class="attribute-name box-title">{{ localize "SFRPG.Resolve"}}</h4>
                        <div class="attribute-value multiple">
                            <input name="data.attributes.rp.value" type="text" value="{{data.attributes.rp.value}}"
                                data-dtype="Number" placeholder="10" />
                            <span class="sep"> / </span>
                            <input name="data.attributes.rp.max" type="text" value="{{data.attributes.rp.max}}"
                                data-dtype="Number" placeholder="10" />
                        </div>
                    </li>
                    <li class="attribute initiative">
                        <h4 class="attribute-name box-title">{{ localize "SFRPG.InitiativeLabel" }}</h4>
                        <div class="attribute-value">
                            <input type="text" data-dtype="Number" name="data.attributes.init.total" value="{{numberFormat data.attributes.init.total decimals=0 sign=true}}" />
                        </div>
                    </li>
                    <li class="attribute">
                        <h4 class="attribute-name box-title">{{ localize "SFRPG.Speed" }}</h4>
                        <div class="attribute-value">
                            <input name="data.attributes.speed.value" type="text"
                                value="{{data.attributes.speed.value}}" placeholder="0" />
                        </div>
                        <footer class="attribute-footer">
                            <input type="text" class="speed" name="data.attributes.speed.special"
                                value="{{data.attributes.speed.special}}"
                                placeholder="{{ localize 'SFRPG.SpeedSpecial' }}" />
                        </footer>
                    </li>
                </ul>

                <ul class="attributes flexrow">
                    <li class="attribute save" data-save="fort">
                        <h4 class="attribute-name save-name box-title rollable">{{localize "SFRPG.FortitudeSave"}}</h4>
                        <div class="attribute-value">
                            <input type="text" data-dtype="Number" name="data.attributes.fort.bonus" value="{{numberFormat data.attributes.fort.bonus decimals=0 sign=true}}" />
                        </div>
                    </li>

                    <li class="attribute save" data-save="reflex">
                        <h4 class="attribute-name save-name box-title rollable">{{localize "SFRPG.ReflexSave"}}</h4>
                        <div class="attribute-value">
                            <input type="text" data-dtype="Number" name="data.attributes.reflex.bonus" value="{{numberFormat data.attributes.reflex.bonus decimals=0 sign=true}}" />
                        </div>
                    </li>

                    <li class="attribute save" data-save="will">
                        <h4 class="attribute-name save-name box-title rollable">{{localize "SFRPG.WillSave"}}</h4>
                        <div class="attribute-value">
                            <input type="text" data-dtype="Number" name="data.attributes.will.bonus" value="{{numberFormat data.attributes.will.bonus decimals=0 sign=true}}" />
                        </div>
                    </li>
                </ul>

                {{!-- Legendary Actions --}}
                <div class="counters flexrow">
                </div>

                {{!-- Traits --}}
                {{> "systems/sfrpg/templates/actors/parts/actor-traits.html"}}
            </section>
        </div>

        {{!-- Inventory Tab --}}
        <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
            {{> "systems/sfrpg/templates/actors/parts/actor-inventory.html" sections=inventory}}
        </div>

        {{!-- Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "systems/sfrpg/templates/actors/parts/actor-features.html" sections=features}}
        </div>

        {{!-- Spellbook Tab --}}
        <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
            {{> "systems/sfrpg/templates/actors/parts/actor-spellbook.html"}}
        </div>

        {{!-- Conditions Tab --}}
        <div class="tab modifers flexcol" data-group="primary" data-tab="modifiers">
            {{> "systems/sfrpg/templates/actors/parts/actor-modifiers.html" sections=modifiers}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography flexcol" data-group="primary" data-tab="biography">
            {{editorPlus content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable rolls=false rollData=data}}
        </div>
    </section>
</form>