<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" height="180" width="180" />

        <div class="header-details flexrow">
            <div class="header-background flexrow">
                <h1 class="charname" data-tippy-content="{{localize "SFRPG.ShipNameLabel"}}">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "SFRPG.ShipNameLabel"}}" />
                </h1>

                <div class="charlevel"  data-tippy-content="{{localize "SFRPG.ShipTierLabel"}}<br>@details.tier" >
                    <div class="level noxp">
                        <label>{{localize "SFRPG.ShipTierLabel"}} </label>
                        <input name="data.details.tier" type="text" value="{{labels.tier}}" placeholder="1" />
                    </div>
                </div>
            </div>

            <ul class="summary">
                <li data-tippy-content="{{localize "SFRPG.ShipModelLabel"}}<br>@details.model">
                    <input type="text" name="data.details.model" value="{{data.details.model}}" placeholder="{{localize "SFRPG.ShipModelLabel"}}" />
                </li>
                <li data-tippy-content="{{localize "SFRPG.ShipFrameLabel"}}<br>@details.frame">
                    <input type="text" name="data.details.frame" value="{{data.details.frame}}" placeholder="{{localize "SFRPG.ShipFrameLabel"}}" />
                </li>
                <li class="flexrow" data-tippy-content="{{ localize "SFRPG.Size"}}<br>@details.size">
                    <select name="data.details.size">
                        {{#select data.details.size}}
                        {{#each config.starshipSizes as |size s|}}
                        <option value="{{s}}">{{size}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </li>
            </ul>

            <ul class="attributes flexrow">
                <li class="attribute health" data-tippy-content="{{ localize "SFRPG.HullPoints" }}<br>@attributes.hp.value<br>@attributes.hp.max">
                    <h4 class="attribute-name box-title">{{ localize "SFRPG.HullPoints" }}</h4>
                    <div class="attribute-value multiple">
                        <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}"
                            data-dtype="Number" placeholder="10" />
                        <span class="sep"> / </span>
                        <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}"
                            data-dtype="Number" placeholder="10" />
                    </div>
                    <footer class="attribute-footer">
                        <input name="data.attributes.hp.increment" type="text" placeholder="Increment"
                            value="{{data.attributes.hp.increment}}" data-dtype="Number"
                            title="This is the number of hull points that are added when the ship reaches tier 4 (and every 4 tiers after)" />
                    </footer>
                </li>
                <li class="attribute" data-tippy-content="Armor Class<br>@attributes.ac.value">
                    <h4 class="attribute-name box-title">AC</h4>
                    <div class="attribute-value">
                        <span>{{data.attributes.ac.value}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <input type="text" name="data.attributes.ac.misc"
                            value="{{numberFormat data.attributes.ac.misc decimals=0 sign=true}}" data-dtype="Number"
                            placeholder="+Misc" />
                    </footer>
                </li>
                <li class="attribute" data-tippy-content="Target Lock<br>@attributes.tl.value">
                    <h4 class="attribute-name box-title">TL</h4>
                    <div class="attribute-value">
                        <span>{{data.attributes.tl.value}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <input type="text" name="data.attributes.tl.misc"
                            value="{{numberFormat data.attributes.tl.misc decimals=0 sign=true}}" data-dtype="Number"
                            placeholder="+Misc" />
                    </footer>
                </li>
                <li class="attribute" data-tippy-content="{{localize "SFRPG.Speed"}}<br>@attributes.speed">
                    <h4 class="attribute-name box-title">{{ localize "SFRPG.Speed" }}</h4>
                    <div class="attribute-value">
                        <span>{{data.attributes.speed}}</span>
                    </div>
                    <footer class="attribute-footer select" data-tippy-content="Maneuverability<br>@attributes.maneuverability">
                        <select name="data.attributes.maneuverability">
                            {{#select data.attributes.maneuverability}}
                            {{#each config.maneuverability as |man k|}}
                            <option value="{{k}}">{{man}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </footer>
                </li>
            </ul>

        </div>
    </header>

    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="details">{{ localize "SFRPG.Details" }}</a>
        <a class="item" data-tab="weapons">Weapons</a>
        <a class="item" data-tab="crew">Crew</a>
        <a class="item" data-tab="notes">{{ localize "SFRPG.Notes" }}</a>
    </nav>

    <section class="sheet-body">
        <div class="tab details" data-group="primary" data-tab="details">
            <div class="flexcol">
                <h3 class="form-header">{{ localize "SFRPG.Attributes"}}</h3>
                <ul class="attributes flexrow">
                    <li class="attribute" data-tippy-content="Critical Threshold<br>@attributes.ct.value">
                        <h4 class="attribute-name box-title">CT</h4>
                        <div class="attribute-value">
                            <span>{{data.attributes.ct.value}}</span>

                        </div>
                    </li>
                    <li class="attribute" data-tippy-content="Damage Threshold<br>@attributes.dt">
                        <h4 class="attribute-name box-title">DT</h4>
                        <div class="attribute-value">
                            <input type="text" name="data.attributes.dt" value="{{data.attributes.dt}}"
                                data-dtype="Number" placeholder="-" />
                        </div>
                    </li>
                    <li class="attribute" data-tippy-content="Power Core<br>@attributes.pwr.pcu">
                        <h4 class="attribute-name box-title">Power Core</h4>
                        <div class="attribute-value">
                            <span>{{data.attributes.pwr.pcu}}</span>
                        </div>
                    </li>
                    <li class="attribute" data-tippy-content="Complement<br>@attributes.complement.min<br>@attributes.complement.max">
                        <h4 class="attribute-name box-title">Complement</h4>
                        <div class="attribute-value multiple">
                            <input type="text" name="data.attributes.complement.min"
                                value="{{data.attributes.complement.min}}" data-dtype="Number"
                                title="Minimum crew needed to run the ship" />
                            <span class="sep"> / </span>
                            <input type="text" name="data.attributes.complement.max"
                                value="{{data.attributes.complement.max}}" data-dtype="Number"
                                title="Maximum number of crew that can be assigned to a role on the ship (not the maximum number of creatures that can be aboard)" />
                        </div>
                    </li>
                    <li class="attribute" data-tippy-content="Expansion Bays<br>@attributes.expansionBays">
                        <h4 class="attribute-name box-title">Expansion Bays</h4>
                        <div class="attribute-value">
                            <input type="text" name="data.attributes.expansionBays"
                                value="{{data.attributes.expansionBays}}" data-dtype="Number"
                                title="Max number of expansion bays allowed" />
                        </div>
                    </li>
                    <li class="attribute" data-tippy-content="Drift Rating<br>@attributes.drift">
                        <h4 class="attribute-name box-title">Drift Rating</h4>
                        <div class="attribute-value">
                            <span class="ability-mod">{{data.attributes.drift}}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="flexcol">
                <h3 class="form-header">Shields</h3>
                <div class="form-group flexrow">
                    <label>Total</label>
                    <div class="form-fields multiple" data-tippy-content="Shields<br>@attributes.shields.value<br>@attributes.shields.max">
                        <input type="text" name="data.attributes.shields.value"
                            value="{{data.attributes.shields.value}}" data-dtype="Number" />
                        <span class="sep"> / </span>
                        <span>{{data.attributes.shields.max}}</span>
                    </div>
                </div>
                <ul class="attributes flexrow">
                    <li class="attribute" data-tippy-content="Forward Shields<br>@attributes.shields.forward.value<br>@attributes.shields.forward.max">
                        <h4 class="attribute-name box-title">Forward</h4>
                        <div class="attribute-value multiple">
                            <input type="text" name="data.attributes.shields.forward.value"
                                value="{{data.attributes.shields.forward.value}}" data-dtype="Number" />
                            <span class="sep"> / </span>
                            <span>{{data.attributes.shields.forward.max}}</span>
                        </div>
                    </li>
                    <li class="attribute" data-tippy-content="Starboard Shields<br>@attributes.shields.starboard.value<br>@attributes.shields.starboard.max">
                        <h4 class="attribute-name box-title">Starboard</h4>
                        <div class="attribute-value multiple">
                            <input type="text" name="data.attributes.shields.starboard.value"
                                value="{{data.attributes.shields.starboard.value}}" data-dtype="Number" />
                            <span class="sep"> / </span>
                            <span>{{data.attributes.shields.starboard.max}}</span>
                        </div>
                    </li>
                    <li class="attribute" data-tippy-content="Aft Shields<br>@attributes.shields.aft.value<br>@attributes.shields.aft.max">
                        <h4 class="attribute-name box-title">Aft</h4>
                        <div class="attribute-value multiple">
                            <input type="text" name="data.attributes.shields.aft.value"
                                value="{{data.attributes.shields.aft.value}}" data-dtype="Number" />
                            <span class="sep"> / </span>
                            <span>{{data.attributes.shields.aft.max}}</span>
                        </div>
                    </li>
                    <li class="attribute" data-tippy-content="Port Shields<br>@attributes.shields.port.value<br>@attributes.shields.port.max">
                        <h4 class="attribute-name box-title">Port</h4>
                        <div class="attribute-value multiple">
                            <input type="text" name="data.attributes.shields.port.value"
                                value="{{data.attributes.shields.port.value}}" data-dtype="Number" />
                            <span class="sep"> / </span>
                            <span>{{data.attributes.shields.port.max}}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="flexcol traits">
                <h3 class="form-header">Systems</h3>
                <div class="flexrow">
                    <div class="flexcol">
                        <div class="form-group">
                            <label for="data.details.systems.powercore">Power Core</label>
                            <select name="data.details.systems.powercore">
                                {{#select data.details.systems.powercore}}
                                <option value="">None</option>
                                {{#each config.powerCoreSystems as |system s|}}
                                <option value="{{s}}">{{system}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="data.details.systems.thrusters">Thrusters</label>
                            <select name="data.details.systems.thrusters">
                                {{#select data.details.systems.thrusters}}
                                <option value="">None</option>
                                {{#each config.thrusterSystems as |system s|}}
                                <option value="{{s}}">{{system}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="data.details.systems.armor">Armor</label>
                            <select name="data.details.systems.armor">
                                {{#select data.details.systems.armor}}
                                <option value="">None</option>
                                {{#each config.armorSystems as |system s|}}
                                <option value="{{s}}">{{system}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="data.details.systems.computer">Computer</label>
                            <select name="data.details.systems.computer">
                                {{#select data.details.systems.computer}}
                                <option value="">None</option>
                                {{#each config.computerSystems as |system s|}}
                                <option value="{{s}}">{{system}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="data.details.systems.quarters">Crew Quarters</label>
                            <select name="data.details.systems.quarters">
                                {{#select data.details.systems.quarters}}
                                <option value="">None</option>
                                {{#each config.crewQuarterSystems as |system s|}}
                                <option value="{{s}}">{{system}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="data.details.systems.defense">Defensive Countermeasures</label>
                            <select name="data.details.systems.defense">
                                {{#select data.details.systems.defense}}
                                <option value="">None</option>
                                {{#each config.defenseSystems as |system s|}}
                                <option value="{{s}}">{{system}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>
                    <div class="flexcol">
                        <div class="form-group">
                            <label for="data.details.systems.driftEngine">Drift Engine</label>
                            <select name="data.details.systems.driftEngine">
                                {{#select data.details.systems.driftEngine}}
                                <option value="">None</option>
                                {{#each config.driftEngineSystems as |system s|}}
                                <option value="{{s}}">{{system}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="data.details.systems.sensors">Sensors</label>
                            <select name="data.details.systems.sensors">
                                {{#select data.details.systems.sensors}}
                                <option value="">None</option>
                                {{#each config.sensorSystems as |system s|}}
                                <option value="{{s}}">{{system}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="data.details.systems.shields">Shields</label>
                            <select name="data.details.systems.shields">
                                {{#select data.details.systems.shields}}
                                <option value="">None</option>
                                {{#each config.shieldSystems as |system s|}}
                                <option value="{{s}}">{{system}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="data.details.systems.bays">Expansion Bays</label>
                            <ul class="traits-list">
                                {{#each data.details.systems.bays.selected as |v k|}}
                                <li class="tag {{k}}">{{v}}</li>
                                {{/each}}
                            </ul>
                            <a class="trait-selector" data-options="expansionBaySystems"><i class="fas fa-edit"></i></a>
                        </div>
                        <div class="form-group">
                            <label for="data.details.systems.security">Security</label>
                            <ul class="traits-list">
                                {{#each data.details.systems.security.selected as |v k|}}
                                <li class="tag {{k}}">{{v}}</li>
                                {{/each}}
                            </ul>
                            <a class="trait-selector" data-options="securitySystems"><i class="fas fa-edit"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab weapons flexcol" data-group="primary" data-tab="weapons">
            <ol class="inventory-list">
                {{#each arcs as |section|}}
                <li class="item flexrow inventory-header">
                    <div class="item-name flexrow">
                        <h3>{{section.label}}</h3>
                    </div>
                    {{#if ../owner}}
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create Items" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                            <i class="fas fa-plus"></i> Add
                        </a>
                    </div>
                    {{/if}}
                </li>

                <ol class="item-list">
                    {{#each section.items as |item i|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-name flexrow rollable">
                            <div class="item-image" style="background-image: url({{item.img}})"></div>
                            <h4>{{item.name}}</h4>
                            {{#if ../../owner}}
                            <div class="item-action flexcol">
                                <button class="tag attack">{{localize "SFRPG.Attack"}}</button>
                                <button class="tag damage">{{localize "SFRPG.Damage"}}</button>
                            </div>
                            {{/if}}
                        </div>

                        {{#if ../../owner}}
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                        {{/if}}
                    </li>
                    {{/each}}
                </ol>
                {{/each}}
            </ol>
        </div>

        <div class="tab crew" data-group="primary" data-tab="crew">
            <ol class="crew-list">
                {{#each crew as |role|}}
                <li class="flexrow crew-header {{role.cssClass}}" {{#each role.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>{{role.label}}</li>
                <ol class="crew-item-list">
                    {{#each role.actors as |actor a|}}
                    <li class="crew flexrow draggable" data-actor-id="{{actor.id}}">
                        <div class="crew-name flexrow">
                            <div class="crew-image" style="background-image: url({{actor.data.img}})"></div>
                            <h4>{{actor.name}}</h4>
                        </div>
                        <div class="crew-controls">
                            <a class="crew-control crew-delete" title="Remove Crew Member"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                {{/each}}
            </ol>
        </div>

        <div class="tab biography flexcol" data-group="primary" data-tab="notes">
            {{editorPlus content=data.details.notes target="data.details.notes" button=true owner=owner editable=editable rolls=false rollData=data}}
        </div>
    </section>

</form>