<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" height="180" width="180" />

        <div class="header-details flexrow">
            <div class="header-background flexrow">
                <h1 class="charname" data-tippy-content="{{localize "SFRPG.ShipNameLabel"}}">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "SFRPG.ShipNameLabel"}}" />
                </h1>

                <div class="charlevel"  data-tippy-content="{{localize "SFRPG.ShipTierLabel"}}<br>@details.tier" >
                    <div class="level noxp">
                        <label>{{localize "SFRPG.ShipTierLabel"}} </label>
                        <input name="data.details.tier" type="text" value="{{labels.tier}}" placeholder="1" />
                    </div>
                </div>
            </div>

            <ul class="summary">
                <li data-tippy-content="{{localize "SFRPG.ShipModelLabel"}}<br>@details.model">
                    <input type="text" name="data.details.model" value="{{data.details.model}}" placeholder="{{localize "SFRPG.ShipModelLabel"}}" />
                </li>
                <li data-tippy-content="{{localize "SFRPG.ShipFrameLabel"}}<br>@details.frame">
                    {{#if activeFrame}}<span>{{activeFrame.name}}</span>{{else}}<span class="no-frame">{{localize "SFRPG.StarshipSheet.Header.FrameMissing"}}</span>{{/if}}
                </li>
                <li data-tippy-content="{{ localize "SFRPG.Size"}}<br>@details.size">
                    <span>{{localize "SFRPG.StarshipSheet.Header.Size" size=data.details.size}}</span>
                </li>
            </ul>

            <ul class="attributes flexrow">
                <li class="attribute health" data-tippy-content="{{ localize "SFRPG.HullPoints" }}<br>@attributes.hp.value<br>@attributes.hp.max">
                    <h4 class="attribute-name box-title">{{ localize "SFRPG.HullPoints" }}</h4>
                    <div class="attribute-value multiple">
                        <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}"
                            data-dtype="Number" placeholder="10" />
                        <span class="sep"> / </span>
                        <label>{{data.attributes.hp.max}}</label>
                    </div>
                    <footer class="attribute-footer">
                        <span data-tippy-content="This is the number of hull points that are added when the ship reaches tier 4 (and every 4 tiers after)">{{data.attributes.hp.increment}}</span>
                    </footer>
                </li>
                <li class="attribute">
                    <h4 class="attribute-name box-title">Defenses</h4>
                    <ol class="attribute-multibox">
                        <li class="box-header flexrow">
                            <label></label>
                            <label>Value</label>
                            <label>Misc</label>
                        </li>
                        <li class="flexrow" data-tippy-content="Armor Class<br/>@attributes.ac.value<br/>@attributes.ac.misc">
                            <label>AC</label>
                            <label>{{data.attributes.ac.value}}</label>
                            <input type="text" name="data.attributes.ac.misc"
                                value="{{numberFormat data.attributes.ac.misc decimals=0 sign=true}}" data-dtype="Number"
                                placeholder="+Misc" />
                        </li>
                        <li class="flexrow" data-tippy-content="Target Lock<br/>@attributes.targetLock.value<br/>@attributes.targetLock.misc">
                            <label>TL</label>
                            <label>{{data.attributes.targetLock.value}}</label>
                            <input type="text" name="data.attributes.targetLock.misc"
                                value="{{numberFormat data.attributes.targetLock.misc decimals=0 sign=true}}" data-dtype="Number"
                                placeholder="+Misc" />
                        </li>
                    </ol>
                </li>
                <li class="attribute">
                    <h4 class="attribute-name box-title">Thresholds</h4>
                    <ol class="attribute-multibox">
                        <li class="box-header flexrow">
                            <label></label>
                            <label>Value</label>
                        </li>
                        <li class="flexrow" data-tippy-content="Damage Threshold<br/>@attributes.damageThreshold.value">
                            <label>DT</label>
                            <label>{{data.attributes.damageThreshold.value}}</label>
                        </li>
                        <li class="flexrow" data-tippy-content="Critical Threshold<br/>@attributes.criticalThreshold.value">
                            <label>CT</label>
                            <label>{{data.attributes.criticalThreshold.value}}</label>
                        </li>
                    </ol>
                </li>
                <li class="attribute" data-tippy-content="{{localize "SFRPG.Speed"}}<br>@attributes.speed.value">
                    <h4 class="attribute-name box-title">{{ localize "SFRPG.Speed" }}</h4>
                    <div class="attribute-value">
                        <span>{{data.attributes.speed.value}}</span>
                    </div>
                    <footer class="attribute-footer select" data-tippy-content="Maneuverability<br>@attributes.maneuverability">
                        <span>{{localize "SFRPG.StarshipSheet.Header.Maneuverability" maneuverability=data.attributes.maneuverability}}</span>
                    </footer>
                </li>
            </ul>

        </div>
    </header>

    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="details">{{ localize "SFRPG.Details" }}</a>
        <a class="item" data-tab="weapons">{{ localize "SFRPG.StarshipSheet.Tabs.Weapons" }}</a>
        <a class="item" data-tab="features">{{ localize "SFRPG.Features" }}</a>
        <a class="item" data-tab="crew">{{ localize "SFRPG.StarshipSheet.Tabs.Crew" }}</a>
        <a class="item" data-tab="inventory">{{ localize "SFRPG.Inventory" }}</a>
        <a class="item" data-tab="actions">{{ localize "SFRPG.StarshipSheet.Tabs.Actions" }}</a>
        <a class="item" data-tab="notes">{{ localize "SFRPG.Notes" }}</a>
    </nav>

    <section class="sheet-body">
        <div class="tab details" data-group="primary" data-tab="details">
            <div class="flexcol">
                <h3 class="form-header">{{ localize "SFRPG.Attributes"}}</h3>
                <ul class="attributes flexrow">
                    <li class="attribute" data-tippy-content="Power Core<br>@attributes.power.max">
                        <h4 class="attribute-name box-title">Power Core</h4>
                        <div class="attribute-value">
                            <span>{{data.attributes.power.max}}</span>
                        </div>
                    </li>
                    <li class="attribute" data-tippy-content="Complement<br>@attributes.complement.min<br>@attributes.complement.max">
                        <h4 class="attribute-name box-title">Complement</h4>
                        <div class="attribute-value multiple">
                            <span data-tippy-content="Minimum crew needed to run the ship">{{data.attributes.complement.min}}</span>
                            <span class="sep"> / </span>
                            <span data-tippy-content="Maximum number of crew that can be assigned to a role on the ship (not the maximum number of creatures that can be aboard)">{{data.attributes.complement.max}}</span>
                        </div>
                    </li>
                    <li class="attribute" data-tippy-content="Expansion Bays<br>@attributes.expansionBays.value">
                        <h4 class="attribute-name box-title">Expansion Bays</h4>
                        <div class="attribute-value">
                            <span data-tippy-content="Total amount of expansion bays available.">{{data.attributes.expansionBays.value}}</span>
                        </div>
                    </li>
                    <li class="attribute" data-tippy-content="Drift Rating<br>@attributes.drift.value">
                        <h4 class="attribute-name box-title">Drift Rating</h4>
                        <div class="attribute-value">
                            <span class="ability-mod">{{data.attributes.drift.value}}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="flexcol">
                <h3 class="form-header" data-tippy-content="{{localize "SFRPG.StarshipSheet.Details.Shields.Header"}}<br>@attributes.shields.value<br>@attributes.shields.max">{{localize "SFRPG.StarshipSheet.Details.Shields.Header"}} ({{data.attributes.shields.value}} / {{data.attributes.shields.max}})</h3>
                <ul class="attributes flexrow">
                    <li class="attribute" data-tippy-content="{{localize "SFRPG.StarshipSheet.Details.Shields.Forward"}}<br>@attributes.shields.forward.value<br>@attributes.shields.forward.max">
                        <h4 class="attribute-name box-title">{{localize "SFRPG.StarshipSheet.Sides.Forward"}}</h4>
                        <div class="attribute-value multiple">
                            <input type="text" name="data.attributes.shields.forward.value"
                                value="{{data.attributes.shields.forward.value}}" data-dtype="Number" />
                        </div>
                        {{#if (greaterThan data.attributes.shields.forward.value data.attributes.shields.forward.max)}}
                        <footer class="error" data-tippy-content="{{localize "SFRPG.StarshipSheet.Details.ShieldTooHighTooltip"}}">
                            {{localize "SFRPG.StarshipSheet.Details.ShieldTooHigh"}}
                        </footer>
                        {{/if}}
                    </li>
                    <li class="attribute" data-tippy-content="{{localize "SFRPG.StarshipSheet.Details.Shields.Starboard"}}<br>@attributes.shields.starboard.value<br>@attributes.shields.starboard.max">
                        <h4 class="attribute-name box-title">{{localize "SFRPG.StarshipSheet.Sides.Starboard"}}</h4>
                        <div class="attribute-value multiple">
                            <input type="text" name="data.attributes.shields.starboard.value"
                                value="{{data.attributes.shields.starboard.value}}" data-dtype="Number" />
                        </div>
                        {{#if (greaterThan data.attributes.shields.starboard.value data.attributes.shields.starboard.max)}}
                        <footer class="error" data-tippy-content="{{localize "SFRPG.StarshipSheet.Details.ShieldTooHighTooltip"}}">
                            {{localize "SFRPG.StarshipSheet.Details.ShieldTooHigh"}}
                        </footer>
                        {{/if}}
                    </li>
                    <li class="attribute" data-tippy-content="{{localize "SFRPG.StarshipSheet.Details.Shields.Aft"}}<br>@attributes.shields.aft.value<br>@attributes.shields.aft.max">
                        <h4 class="attribute-name box-title">{{localize "SFRPG.StarshipSheet.Sides.Aft"}}</h4>
                        <div class="attribute-value multiple">
                            <input type="text" name="data.attributes.shields.aft.value"
                                value="{{data.attributes.shields.aft.value}}" data-dtype="Number" />
                        </div>
                        {{#if (greaterThan data.attributes.shields.aft.value data.attributes.shields.aft.max)}}
                        <footer class="error" data-tippy-content="{{localize "SFRPG.StarshipSheet.Details.ShieldTooHighTooltip"}}">
                            {{localize "SFRPG.StarshipSheet.Details.ShieldTooHigh"}}
                        </footer>
                        {{/if}}
                    </li>
                    <li class="attribute" data-tippy-content="{{localize "SFRPG.StarshipSheet.Details.Shields.Port"}}<br>@attributes.shields.port.value<br>@attributes.shields.port.max">
                        <h4 class="attribute-name box-title">{{localize "SFRPG.StarshipSheet.Sides.Port"}}</h4>
                        <div class="attribute-value multiple">
                            <input type="text" name="data.attributes.shields.port.value"
                                value="{{data.attributes.shields.port.value}}" data-dtype="Number" />
                        </div>
                        {{#if (greaterThan data.attributes.shields.port.value data.attributes.shields.port.max)}}
                        <footer class="error" data-tippy-content="{{localize "SFRPG.StarshipSheet.Details.ShieldTooHighTooltip"}}">
                            {{localize "SFRPG.StarshipSheet.Details.ShieldTooHigh"}}
                        </footer>
                        {{/if}}
                    </li>
                </ul>
            </div>
            <div class="flexcol traits">
                <h3 class="form-header">Systems</h3>
                <div class="flexrow">
                    <div class="flexcol">
                        <div class="form-group">
                            <label for="data.details.systems.powercore">Power Core</label>
                            <select name="data.details.systems.powercore">
                                {{#select data.details.systems.powercore}}
                                <option value="">None</option>
                                {{#each config.powerCoreSystems as |system s|}}
                                <option value="{{s}}">{{system}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="data.details.systems.thrusters">Thrusters</label>
                            <select name="data.details.systems.thrusters">
                                {{#select data.details.systems.thrusters}}
                                <option value="">None</option>
                                {{#each config.thrusterSystems as |system s|}}
                                <option value="{{s}}">{{system}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="data.details.systems.armor">Armor</label>
                            <select name="data.details.systems.armor">
                                {{#select data.details.systems.armor}}
                                <option value="">None</option>
                                {{#each config.armorSystems as |system s|}}
                                <option value="{{s}}">{{system}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="form-group" data-tippy-content="<strong>{{localize "SFRPG.StarshipSheet.Attributes.Computer"}}</strong><br/>@attributes.computer.value<br/><br/>{{#each data.attributes.computer.tooltip as |tip|}}{{tip}}<br/>{{/each}}">
                            <label>{{localize "SFRPG.StarshipSheet.Attributes.Computer"}}</label>
                            <span>{{data.attributes.computer.value}}</span>
                        </div>
                        <div class="form-group">
                            <label for="data.details.systems.quarters">Crew Quarters</label>
                            <select name="data.details.systems.quarters">
                                {{#select data.details.systems.quarters}}
                                <option value="">None</option>
                                {{#each config.crewQuarterSystems as |system s|}}
                                <option value="{{s}}">{{system}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="data.details.systems.defense">Defensive Countermeasures</label>
                            <select name="data.details.systems.defense">
                                {{#select data.details.systems.defense}}
                                <option value="">None</option>
                                {{#each config.defenseSystems as |system s|}}
                                <option value="{{s}}">{{system}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>
                    <div class="flexcol">
                        <div class="form-group">
                            <label for="data.details.systems.driftEngine">Drift Engine</label>
                            <select name="data.details.systems.driftEngine">
                                {{#select data.details.systems.driftEngine}}
                                <option value="">None</option>
                                {{#each config.driftEngineSystems as |system s|}}
                                <option value="{{s}}">{{system}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="data.details.systems.sensors">Sensors</label>
                            <select name="data.details.systems.sensors">
                                {{#select data.details.systems.sensors}}
                                <option value="">None</option>
                                {{#each config.sensorSystems as |system s|}}
                                <option value="{{s}}">{{system}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="data.details.systems.shields">Shields</label>
                            <select name="data.details.systems.shields">
                                {{#select data.details.systems.shields}}
                                <option value="">None</option>
                                {{#each config.shieldSystems as |system s|}}
                                <option value="{{s}}">{{system}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="data.details.systems.bays">Expansion Bays</label>
                            <ul class="traits-list">
                                {{#each data.details.systems.bays.selected as |v k|}}
                                <li class="tag {{k}}">{{v}}</li>
                                {{/each}}
                            </ul>
                            <a class="trait-selector" data-options="expansionBaySystems"><i class="fas fa-edit"></i></a>
                        </div>
                        <div class="form-group">
                            <label for="data.details.systems.security">Security</label>
                            <ul class="traits-list">
                                {{#each data.details.systems.security.selected as |v k|}}
                                <li class="tag {{k}}">{{v}}</li>
                                {{/each}}
                            </ul>
                            <a class="trait-selector" data-options="securitySystems"><i class="fas fa-edit"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab weapons flexcol" data-group="primary" data-tab="weapons">
            <ol class="inventory-list">
                {{#each arcs as |section|}}
                <li class="item flexrow inventory-header{{#if section.dataset.isDisabled}} disabled{{/if}}">
                    <div class="item-name flexrow">
                        <h3>{{section.label}}</h3>
                    </div>
                    {{#if (and ../owner section.dataset.allowAdd)}}
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create Items" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                            <i class="fas fa-plus"></i> Add
                        </a>
                    </div>
                    {{/if}}
                </li>

                <ol class="item-list">
                    {{#each section.items as |item i|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-name flexrow rollable">
                            <div class="item-image" style="background-image: url({{item.img}})"></div>
                            <h4>{{item.name}}</h4>
                            {{#if ../../owner}}
                            <div class="item-action flexcol">
                                <button class="tag attack">{{localize "SFRPG.Attack"}}</button>
                                <button class="tag damage">{{localize "SFRPG.Damage"}}</button>
                            </div>
                            {{/if}}
                        </div>

                        {{#if ../../owner}}
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                        {{/if}}
                    </li>
                    {{/each}}
                </ol>
                {{/each}}
            </ol>
        </div>

        {{!-- Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "systems/sfrpg/templates/actors/parts/actor-features.html" sections=features noFilters=true}}
        </div>

        {{!-- Crew Tab --}}
        <div class="tab crew" data-group="primary" data-tab="crew">
            <ol class="crew-list">
                {{#each crew as |role|}}
                <li class="flexrow crew-header {{role.cssClass}}" {{#each role.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>{{role.label}}</li>
                <ol class="crew-item-list">
                    {{#each role.actors as |actor a|}}
                    <li class="crew flexrow draggable" data-actor-id="{{actor.id}}">
                        <div class="crew-name flexrow">
                            <div class="crew-image" style="background-image: url({{actor.data.img}})"></div>
                            <h4>{{actor.name}}</h4>
                        </div>
                        <div class="crew-controls">
                            <a class="crew-control crew-delete" title="Remove Crew Member"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                {{/each}}
            </ol>
        </div>

        {{!-- Actions Tab --}}
        <div class="tab weapons flexcol" data-group="primary" data-tab="actions">
            <ol class="action-list">
                {{#each actions as |role|}}
                <li class="action flexrow action-header">
                    <div class="action-name">{{localize role.label}}</div>
                    <div class="action-phase">{{localize "SFRPG.StarshipSheet.Actions.Header.Phase"}}</div>
                    <div class="action-resolve">{{localize "SFRPG.StarshipSheet.Actions.Header.ResolvePoints"}}</div>
                </li>
                <ol class="action-list">
                    {{#each role.actions as |action|}}
                    <li class="action flexrow small" data-action-id="{{action._id}}">
                        <div class="action-name flexrow rollable" id="{{action._id}}" data-tippy-content="<strong>{{localize action.name}}</strong><br/>{{localize "SFRPG.StarshipSheet.Actions.Tooltips.NormalEffect"}}:<br/>{{localize action.data.effectNormal}}<br/><br/>{{localize "SFRPG.StarshipSheet.Actions.Tooltips.CriticalEffect"}}:<br/>{{localize action.data.effectCritical}}">
                            <div class="action-image small" style="background-image: url({{action.img}})"></div>
                            <h4>{{localize action.name}}</h4>
                        </div>
                        <div class="action-phase flexrow" data-tippy-content="<strong>{{localize action.data.phase.name}}</strong><br/>{{localize action.data.phase.tooltip}}{{#if action.data.isPush}}<br/><br/><strong>{{localize "SFRPG.StarshipSheet.Actions.Tooltips.Push"}}</strong><br/>{{localize "SFRPG.StarshipSheet.Actions.Tooltips.PushTooltip"}}{{/if}}">{{action.data.phase.name}}{{#if action.data.isPush}} ({{localize "SFRPG.StarshipSheet.Actions.Tooltips.Push"}}){{/if}}</div>
                        <div class="action-resolve flexrow">{{#if (greaterThan action.data.resolvePointCost 0)}}{{action.data.resolvePointCost}}{{/if}}</div>
                    </li>
                    {{/each}}
                </ol>
                {{/each}}
            </ol>
        </div>

        {{!-- Inventory Tab --}}
        <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
            {{> "systems/sfrpg/templates/actors/parts/actor-inventory.html" sections=inventory}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography flexcol" data-group="primary" data-tab="notes">
            {{editorPlus content=data.details.notes target="data.details.notes" button=true owner=owner editable=editable rolls=false rollData=data}}
        </div>
    </section>

</form>