<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />

        <div class="header-details flexrow">
            <div class="header-background flexrow">
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="Vehicle Name"
                        title="Vehicle Name" />
                </h1>

                <div class="charlevel">
                    <div class="level noxp">
                        <label>level</label>
                        <input name="data.details.level" type="text" value="{{labels.level}}" placeholder="Level" />
                    </div>
                </div>
            </div>

            <ul class="summary">
                <li>
                    <label>Price</label>
                    <input type="text" name="data.details.price" value="{{data.details.price}}" data-dtype="Number"
                        placeholder="Price" title="Price" />
                </li>
            </ul>
        </div>
    </header>

    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="details">{{ localize "SFRPG.Details" }}</a>
        <a class="item" data-tab="attacks">Attacks</a>
        <a class="item" data-tab="notes">{{ localize "SFRPG.Notes" }}</a>
    </nav>

    <section class="sheet-body">
        <div class="tab details" data-group="primary" data-tab="details">
            <div class="flexrow">
                <ul class="attributes flexrow">
                    <li class="attribute health">
                        <h4 class="attribute-name box-title">{{ localize "SFRPG.Health" }}</h4>
                        <div class="attribute-value multiple">
                            <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}"
                                data-dtype="Number" placeholder="10" />
                            <span class="sep"> / </span>
                            <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}"
                                data-dtype="Number" placeholder="10" />
                        </div>
                        <footer class="attribute-footer">
                            <div class="flexrow">
                                <span>Threshold</span>
                                <input name="data.attributes.hp.threshold" type="text"
                                    value="{{data.attributes.hp.threshold}}" data-dtype="Number" placeholder="5" />
                            </div>
                            <div class="flexrow">
                                <span>Hardness</span>
                                <input name="data.attributes.hardness" type="text" value="{{data.attributes.hardness}}"
                                    data-dtype="Number" placeholder="10" />
                            </div>
                        </footer>
                    </li>
                    <li class="attribute">
                        <h4 class="attribute-name box-title">{{ localize "SFRPG.EnergyArmorClass" }}</h4>
                        <div class="attribute-value">
                            <input name="data.attributes.eac.value" type="text" value="{{data.attributes.eac.value}}"
                                data-dtype="Number" placeholder="10" />
                        </div>
                    </li>
                    <li class="attribute">
                        <h4 class="attribute-name box-title">{{ localize "SFRPG.KineticArmorClass" }}</h4>
                        <div class="attribute-value">
                            <input name="data.attributes.kac.value" type="text" value="{{data.attributes.kac.value}}"
                                data-dtype="Number" placeholder="10" />
                        </div>
                    </li>
                </ul>
            </div>
            <div class="flexcol">
                <h3 class="form-header">Speed</h3>
                <div class="flexrow">
                    <div class="flexcol">
                        <div class="form-group">
                            <label title="Movement in tactical combat when using a move action">Drive</label>
                            <div class="form-fields">
                                <input type="text" name="data.attributes.speed.drive"
                                    value="{{data.attributes.speed.drive}}" placeholder="15 ft" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label title="Movement in tactical combat when using full action">Full</label>
                            <div class="form-fields">
                                <input type="text" name="data.attributes.speed.full"
                                    value="{{data.attributes.speed.full}}" placeholder="100 ft" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label title="Overall overland speed">MPH</label>
                            <div class="form-fields">
                                <input type="text" name="data.attributes.speed.mph"
                                    value="{{data.attributes.speed.mph}}" placeholder="40 mph" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="flexcol">
                <h3 class="form-header">Dimensions</h3>
                <div class="flexrow">
                    <div class="flexcol">
                        <div class="form-group">
                            <label>Width</label>
                            <div class="form-fields">
                                <input type="text" name="data.attributes.dimensions.width" value="{{data.attributes.dimensions.width}}" />
                                <span>Feet</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Length</label>
                            <div class="form-fields">
                                <input type="text" name="data.attributes.dimensions.length" value="{{data.attributes.dimensions.length}}" />
                                <span>Feet</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Height</label>
                            <div class="form-fields">
                                <input type="text" name="data.attributes.dimensions.height" value="{{data.attributes.dimensions.height}}" />
                                <span>Feet</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flexcol">
                <h3 class="form-header">Other Attributes</h3>
                <div class="flexrow">
                    <div class="flexcol">
                        <div class="form-group">
                            <label>Size</label>
                            <div class="form-fields">
                                <select name="data.attributes.size">
                                    {{#select data.attributes.size}}
                                    {{#each config.vehicleSizes as |size s|}}
                                    <option value="{{s}}">{{size}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <div class="form-fields">
                                <select name="data.attributes.type">
                                    {{#select data.attributes.type}}
                                    {{#each config.vehicleTypes as |type t|}}
                                    <option value="{{t}}">{{type}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Cover</label>
                            <div class="form-fields">
                                <select name="data.attributes.cover">
                                    {{#select data.attributes.cover}}
                                    {{#each config.vehicleCoverTypes as |cover c|}}
                                    <option value="{{c}}">{{cover}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Passengers</label>
                            <div class="form-fields">
                                <input type="text" name="data.attributes.passengers" value="{{data.attributes.passengers}}" 
                                    data-dtype="Number" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab attacks" data-group="primary" data-tab="attacks">
            <h3 class="form-header">Attacks and Modifiers</h3>
            <p class="notification warning">This is still to-do</p>
        </div>
        <div class="tab biography flexcol" data-group="primary" data-tab="notes">
            {{editorPlus content=data.details.description.value target="data.details.description.value" button=true owner=owner editable=editable rolls=false rollData=data}}
        </div>
    </section>
</form>