<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />

        <div class="header-details flexcol">
            <div class="header-background flexrow" style="flex: 0 0 60px;">
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize "SFRPG.VehicleSheet.Header.NamePlaceholder" }}" title="{{ localize "SFRPG.VehicleSheet.Header.NameTooltip" }}" />
                </h1>

                <div class="charlevel">
                    <div class="level noxp">
                        <label>{{ localize "SFRPG.VehicleSheet.Header.Level" }}</label>
                        <input name="system.details.level" type="text" value="{{labels.level}}" placeholder="{{ localize "SFRPG.VehicleSheet.Header.LevelPlaceholder" }}" />
                    </div>
                </div>
            </div>

            <ul class="summary" style="flex: 0 0 80px;">
                <li>
                    <label>{{ localize "SFRPG.VehicleSheet.Header.Price" }}</label>
                    <input type="text" name="system.details.price" value="{{system.details.price}}" data-dtype="Number" placeholder="{{ localize "SFRPG.VehicleSheet.Header.PricePlaceholder" }}" title="{{ localize "SFRPG.VehicleSheet.Header.PriceTooltip" }}" />
                </li>
                <li>
                    <input type="text" name="system.details.source" value="{{system.details.source}}" placeholder="{{localize "SFRPG.NPCSheet.Header.SourcePlaceHolderText"}}" />
                </li>
            </ul>
        </div>
    </header>

    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="details">{{ localize "SFRPG.Details" }}</a>
        <a class="item" data-tab="attacks">{{ localize "SFRPG.VehicleSheet.Tabs.Attacks" }}</a>
        <a class="item" data-tab="passengers">{{ localize "SFRPG.VehicleSheet.Tabs.Passengers" }}</a>
        <a class="item" data-tab="systems">{{ localize "SFRPG.VehicleSheet.Tabs.Systems" }}</a>
        {{#if hasHangarBays }}
        <a class="item" data-tab="hangar">{{ localize "SFRPG.VehicleSheet.Tabs.Hangar" }}</a>
        {{/if }}
        <a class="item" data-tab="notes">{{ localize "SFRPG.Notes" }}</a>
    </nav>

    <section class="sheet-body">

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <div class="flexrow">
                <ul class="attributes flexrow">
                    <li data-tippy-content="{{localize 'SFRPG.VehicleSheet.Details.HealthTooltip'}}" class="attribute health">
                        <h4 class="attribute-name box-title">{{ localize "SFRPG.Health" }}</h4>
                        <div class="attribute-value multiple">
                            <input name="system.attributes.hp.value" type="text" value="{{system.attributes.hp.value}}" data-dtype="Number" placeholder="10" />
                            <span class="sep"> / </span>
                            <input name="system.attributes.hp.max" type="text" value="{{system.attributes.hp.max}}" data-dtype="Number" placeholder="10" />
                        </div>
                        <footer class="attribute-footer">
                            <div class="flexrow">
                                <span>{{ localize "SFRPG.VehicleSheet.Details.Threshold" }}</span>
                                <input name="system.attributes.hp.threshold" type="text" value="{{system.attributes.hp.threshold}}" data-dtype="Number" placeholder="5" />
                            </div>
                            <div class="flexrow">
                                <span>{{ localize "SFRPG.VehicleSheet.Details.Hardness" }}</span>
                                <input name="system.attributes.hardness" type="text" value="{{system.attributes.hardness}}" data-dtype="Number" placeholder="10" />
                            </div>
                        </footer>
                    </li>
                    <li class="attribute">
                        <h4 class="attribute-name box-title">{{ localize "SFRPG.EnergyArmorClass" }}</h4>
                        <div class="attribute-value">
                            <input name="system.attributes.eac.value" type="text" value="{{system.attributes.eac.value}}" data-dtype="Number" placeholder="10" />
                        </div>
                    </li>
                    <li class="attribute">
                        <h4 class="attribute-name box-title">{{ localize "SFRPG.KineticArmorClass" }}</h4>
                        <div class="attribute-value">
                            <input name="system.attributes.kac.value" type="text" value="{{system.attributes.kac.value}}" data-dtype="Number" placeholder="10" />
                        </div>
                    </li>
                </ul>
            </div>
            <div class="flexcol">
                <h3 class="form-header noborder">{{ localize "SFRPG.VehicleSheet.Details.Movement.Title" }}</h3>
                <div class="flexrow">
                    <div class="flexcol">
                        <div class="form-group">
                            <label title="{{ localize "SFRPG.VehicleSheet.Details.Movement.DriveTooltip" }}">{{ localize "SFRPG.VehicleSheet.Details.Movement.Drive" }}</label>
                            <div class="form-fields">
                                <input type="text" name="system.attributes.speed.drive" value="{{system.attributes.speed.drive}}" placeholder="{{ localize "SFRPG.VehicleSheet.Details.Movement.DrivePlaceholder" }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label title="{{ localize "SFRPG.VehicleSheet.Details.Movement.FullTooltip" }}">{{ localize "SFRPG.VehicleSheet.Details.Movement.Full" }}</label>
                            <div class="form-fields">
                                <input type="text" name="system.attributes.speed.full" value="{{system.attributes.speed.full}}" placeholder="{{ localize "SFRPG.VehicleSheet.Details.Movement.FullPlaceholder" }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label title="{{ localize "SFRPG.VehicleSheet.Details.Movement.SpeedTooltip" }}">{{ localize "SFRPG.VehicleSheet.Details.Movement.Speed" }}</label>
                            <div class="form-fields">
                                <input type="text" name="system.attributes.speed.mph" value="{{system.attributes.speed.mph}}" placeholder="{{ localize "SFRPG.VehicleSheet.Details.Movement.SpeedPlaceholder" }}" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="flexcol">
                <h3 class="form-header noborder">{{ localize "SFRPG.VehicleSheet.Details.Dimensions.Title" }}</h3>
                <div class="flexrow">
                    <div class="flexcol">
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.Dimensions.Width" }}</label>
                            <div class="form-fields">
                                <input type="text" name="system.attributes.dimensions.width" value="{{system.attributes.dimensions.width}}" />
                                <span>{{ localize "SFRPG.VehicleSheet.Details.Dimensions.Unit" }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.Dimensions.Length" }}</label>
                            <div class="form-fields">
                                <input type="text" name="system.attributes.dimensions.length" value="{{system.attributes.dimensions.length}}" />
                                <span>{{ localize "SFRPG.VehicleSheet.Details.Dimensions.Unit" }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.Dimensions.Height" }}</label>
                            <div class="form-fields">
                                <input type="text" name="system.attributes.dimensions.height" value="{{system.attributes.dimensions.height}}" />
                                <span>{{ localize "SFRPG.VehicleSheet.Details.Dimensions.Unit" }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flexcol">
                <h3 class="form-header noborder">{{ localize "SFRPG.VehicleSheet.Details.Modifiers.Title" }}</h3>
                <div class="flexrow">
                    <div class="flexcol">
                        <div class="form-group">
                            <label>Control</label>
                            <div class="form-fields">
                                <select name="system.attributes.controlSkill">
                                    {{#select system.attributes.controlSkill}}
                                    <option value="pil">{{ config.skills.pil }}</option>
                                    <option value="ath">{{ config.skills.ath }}</option>
                                    <option value="sur">{{ config.skills.sur }}</option>
                                    <option value="none">None</option>
                                    {{/select}}
                                </select>
                                {{#if (eq system.attributes.controlSkill "pil")}}
                                <input type="text" name="system.attributes.modifiers.piloting" value="{{system.attributes.modifiers.piloting}}" />
                                <div class="item-name flexrow {{#if (not disableRolling)}}rollable{{/if}}">
                                    <div class="passenger-action flexcol">
                                        <a class="pilotPilotingSkill">&nbsp;</a>
                                    </div>
                                </div>
                                {{/if}}
                                {{#if (eq system.attributes.controlSkill "ath")}}
                                <input type="text" name="system.attributes.modifiers.athletics" value="{{system.attributes.modifiers.athletics}}" />
                                {{/if}}
                                {{#if (eq system.attributes.controlSkill "sur")}}
                                <input type="text" name="system.attributes.modifiers.survival" value="{{system.attributes.modifiers.survival}}" />
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label data-tippy-content="{{localize 'SFRPG.VehicleSheet.Details.Modifiers.AttackTooltip'}}">{{ localize "SFRPG.VehicleSheet.Details.Modifiers.AttackStopped" }}</label>
                            <div class="form-fields">
                                <input data-tippy-content="{{localize 'SFRPG.VehicleSheet.Details.Modifiers.AttackTooltip'}}" type="text" name="system.attributes.modifiers.attackStopped" value="{{system.attributes.modifiers.attackStopped}}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label data-tippy-content="{{localize 'SFRPG.VehicleSheet.Details.Modifiers.AttackTooltip'}}">{{ localize "SFRPG.VehicleSheet.Details.Modifiers.AttackMoving" }}</label>
                            <div class="form-fields">
                                <input data-tippy-content="{{localize 'SFRPG.VehicleSheet.Details.Modifiers.AttackTooltip'}}" type="text" name="system.attributes.modifiers.attackMoving" value="{{system.attributes.modifiers.attackMoving}}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label data-tippy-content="{{localize 'SFRPG.VehicleSheet.Details.Modifiers.AttackTooltip'}}">{{ localize "SFRPG.VehicleSheet.Details.Modifiers.AttackFullSpeed" }}</label>
                            <div class="form-fields">
                                <input data-tippy-content="{{localize 'SFRPG.VehicleSheet.Details.Modifiers.AttackTooltip'}}" type="text" name="system.attributes.modifiers.attackFullSpeed" value="{{system.attributes.modifiers.attackFullSpeed}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flexcol">
                <h3 class="form-header noborder">{{ localize "SFRPG.VehicleSheet.Details.OtherAttributes.Title" }}</h3>
                <div class="flexrow">
                    <div class="flexcol">
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.OtherAttributes.Size" }}</label>
                            <div class="form-fields">
                                <select name="system.attributes.size">
                                    {{#select system.attributes.size}}
                                    {{#each config.vehicleSizes as |size s|}}
                                    <option value="{{s}}">{{size}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.OtherAttributes.Type" }}</label>
                            <div class="form-fields">
                                <select name="system.attributes.type">
                                    {{#select system.attributes.type}}
                                    {{#each config.vehicleTypes as |type t|}}
                                    <option value="{{t}}">{{type}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.OtherAttributes.Cover" }}</label>
                            <div class="form-fields">
                                <select name="system.attributes.cover">
                                    {{#select system.attributes.cover}}
                                    {{#each config.vehicleCoverTypes as |cover c|}}
                                    <option value="{{c}}">{{cover}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.OtherAttributes.Passengers" }}</label>
                            <div class="form-fields">
                                <input type="text" name="system.crew.passenger.limit" value="{{system.crew.passenger.limit}}" data-dtype="Number" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.OtherAttributes.Complement" }}</label>
                            <div class="form-fields">
                                <input type="text" name="system.crew.complement.limit" value="{{system.crew.complement.limit}}" data-dtype="Number" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.OtherAttributes.ExpansionBays" }}</label>
                            <div class="form-fields">
                                <input type="text" name="system.attributes.expansionBays.value" value="{{system.attributes.expansionBays.value}}" data-dtype="Number" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.OtherAttributes.HangarBays" }}</label>
                            <div class="form-fields">
                                <input type="text" name="system.hangarBay.limit" value="{{system.hangarBay.limit}}" data-dtype="Number" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Attacks Tab --}}
        <div class="tab attacks" data-group="primary" data-tab="attacks">
            <p class="notification warning">{{ localize "SFRPG.VehicleSheet.Attacks.ToDo" }}</p>
            <ol class="inventory-list">
                {{#each inventory as |section sid|}}
                <li class="inventory-header flexrow">
                    <h3 class="item-name noborder flexrow">{{section.label}}</h3>
                    {{#if ../isOwner}}
                    <div class="item-controls">
                        {{#if section.allowAdd}}
                        <a class="item-control item-create" title="{{localize "SFRPG.ActorSheet.Inventory.Item.Create"}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                        <i class="fas fa-plus"></i> {{localize "SFRPG.InventoryAdd"}}
                        </a>
                        {{/if}}
                    </div>
                    {{/if}}
                </li>

                <ol class="item-list">
                    {{#each section.items as |item iid|}}
                    {{> "systems/sfrpg/templates/actors/parts/actor-inventory-item.html" ../../this bigItem=true item=item.item children=item.contents disableEquipping=true }}
                    {{/each}}
                </ol>
                {{/each}}
            </ol>

        </div>

        {{!-- Passengers Tab --}}
        <div class="tab attacks" data-group="primary" data-tab="passengers">
            <div class="crew-settings flexrow">
                <ol class="settings flexrow">
                    <h3 class="noborder">
                        {{localize "SFRPG.VehicleSheet.Passengers.Header"}}
                        <i class="fas fa-users"></i>
                    </h3>
                    {{#if isGM}}
                    <label class="checkbox">
                        <label><b>{{localize "SFRPG.VehicleSheet.Passengers.PassengersSetting"}}</b></label>
                        <input type="checkbox" name="system.crew.useNPCCrew" {{checked system.crew.useNPCCrew}}/>{{localize "SFRPG.VehicleSheet.Passengers.IsNPCPassengers"}}
                    </label>
                    {{/if}}
                </ol>
            </div>

            {{#unless system.crew.useNPCCrew}}
            <ol class="crew-list">
                {{#each crew as |role|}}
                <li class="flexrow crew-header {{role.cssClass}}" {{#each role.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>{{role.label}}</li>
                <ol class="crew-item-list">
                    {{#each role.actors as |actor a|}}
                    <li class="crew flexrow draggable" data-actor-id="{{actor.id}}">
                        <div class="crew-name flexrow">
                            <div class="crew-image" style="background-image: url({{actor.system.img}})"></div>
                            <a class="passenger-view"><h4>{{actor.name}}</h4></a>
                        </div>

                        <div class="item-name flexrow {{#if (not disableRolling)}}rollable{{/if}}">
                            <div class="passenger-action flexcol">
                                <button type="button" class="tag passengerPilotingSkill">{{localize "SFRPG.VehicleSheet.Passengers.Piloting"}}</button>
                            </div>
                        </div>

                        <div class="crew-controls">
                            <a class="crew-control crew-delete" title="Remove Crew Member"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                {{/each}}
            </ol>
            {{else}}
            <ol class="crew-list">
                <p class="notification info">{{ localize "SFRPG.VehicleSheet.Passengers.NPCPilotingHint" }}</p>
            </ol>
            {{/unless}}
        </div>

        {{!-- Systems Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="systems">
            {{> "systems/sfrpg/templates/actors/parts/actor-vehicle-systems.html" sections=features noFilters=true prefixTable=prefixTable}}
        </div>

        {{!-- Hangar Bays --}}
        <div class="tab features flexcol" data-group="primary" data-tab="hangar">
            <ol class="crew-list">
                <li class="flexrow crew-header {{hangarBays.cssClass}}" {{#each hangarBay.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>{{hangarBay.label}}</li>
                <ol class="crew-item-list">
                    {{#each hangarBay.actors as |actor a|}}
                    <li class="crew flexrow draggable" data-actor-id="{{actor.id}}">
                        <div class="crew-name flexrow">
                            <div class="crew-image" style="background-image: url({{actor.img}})"></div>
                            <a class="vehicle-view"><h4>{{actor.name}}</h4></a>
                        </div>

                        <div class="crew-controls">
                            <a class="crew-control vehicle-delete" title="Remove Vehicle"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </ol>
        </div>

        {{!-- Notes Tab --}}
        <div class="tab biography flexcol" data-group="primary" data-tab="notes">
            {{editor
                enrichedDescription
                target="system.details.description.value"
                button=true
                editable=editable
            }}
        </div>
    </section>
</form>