<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />

        <div class="header-details flexcol">
            <div class="header-background flexrow" style="flex: 0 0 60px;">
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize "SFRPG.VehicleSheet.Header.NamePlaceholder" }}" title="{{ localize "SFRPG.VehicleSheet.Header.NameTooltip" }}" />
                </h1>

                <div class="charlevel">
                    <div class="level noxp">
                        <label>{{ localize "SFRPG.VehicleSheet.Header.Level" }}</label>
                        <input name="data.details.level" type="text" value="{{labels.level}}" placeholder="{{ localize "SFRPG.VehicleSheet.Header.LevelPlaceholder" }}" />
                    </div>
                </div>
            </div>

            <ul class="summary" style="flex: 0 0 80px;">
                <li>
                    <label>{{ localize "SFRPG.VehicleSheet.Header.Price" }}</label>
                    <input type="text" name="data.details.price" value="{{data.details.price}}" data-dtype="Number" placeholder="{{ localize "SFRPG.VehicleSheet.Header.PricePlaceholder" }}" title="{{ localize "SFRPG.VehicleSheet.Header.PriceTooltip" }}" />
                </li>
            </ul>
        </div>
    </header>

    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="details">{{ localize "SFRPG.Details" }}</a>
        <a class="item" data-tab="attacks">{{ localize "SFRPG.VehicleSheet.Tabs.Attacks" }}</a>
        <a class="item" data-tab="passengers">{{ localize "SFRPG.VehicleSheet.Tabs.Passengers" }}</a>
        <a class="item" data-tab="notes">{{ localize "SFRPG.Notes" }}</a>
    </nav>

    <section class="sheet-body">
        <div class="tab details" data-group="primary" data-tab="details">
            <div class="flexrow">
                <ul class="attributes flexrow">
                    <li class="attribute health">
                        <h4 class="attribute-name box-title">{{ localize "SFRPG.Health" }}</h4>
                        <div class="attribute-value multiple">
                            <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}" data-dtype="Number" placeholder="10" />
                            <span class="sep"> / </span>
                            <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}" data-dtype="Number" placeholder="10" />
                        </div>
                        <footer class="attribute-footer">
                            <div class="flexrow">
                                <span>{{ localize "SFRPG.VehicleSheet.Details.Threshold" }}</span>
                                <input name="data.attributes.hp.threshold" type="text" value="{{data.attributes.hp.threshold}}" data-dtype="Number" placeholder="5" />
                            </div>
                            <div class="flexrow">
                                <span>{{ localize "SFRPG.VehicleSheet.Details.Hardness" }}</span>
                                <input name="data.attributes.hardness" type="text" value="{{data.attributes.hardness}}" data-dtype="Number" placeholder="10" />
                            </div>
                        </footer>
                    </li>
                    <li class="attribute">
                        <h4 class="attribute-name box-title">{{ localize "SFRPG.EnergyArmorClass" }}</h4>
                        <div class="attribute-value">
                            <input name="data.attributes.eac.value" type="text" value="{{data.attributes.eac.value}}" data-dtype="Number" placeholder="10" />
                        </div>
                    </li>
                    <li class="attribute">
                        <h4 class="attribute-name box-title">{{ localize "SFRPG.KineticArmorClass" }}</h4>
                        <div class="attribute-value">
                            <input name="data.attributes.kac.value" type="text" value="{{data.attributes.kac.value}}" data-dtype="Number" placeholder="10" />
                        </div>
                    </li>
                </ul>
            </div>
            <div class="flexcol">
                <h3 class="form-header">{{ localize "SFRPG.VehicleSheet.Details.Movement.Title" }}</h3>
                <div class="flexrow">
                    <div class="flexcol">
                        <div class="form-group">
                            <label title="{{ localize "SFRPG.VehicleSheet.Details.Movement.DriveTooltip" }}">{{ localize "SFRPG.VehicleSheet.Details.Movement.Drive" }}</label>
                            <div class="form-fields">
                                <input type="text" name="data.attributes.speed.drive" value="{{data.attributes.speed.drive}}" placeholder="{{ localize "SFRPG.VehicleSheet.Details.Movement.DrivePlaceholder" }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label title="{{ localize "SFRPG.VehicleSheet.Details.Movement.FullTooltip" }}">{{ localize "SFRPG.VehicleSheet.Details.Movement.Full" }}</label>
                            <div class="form-fields">
                                <input type="text" name="data.attributes.speed.full" value="{{data.attributes.speed.full}}" placeholder="{{ localize "SFRPG.VehicleSheet.Details.Movement.FullPlaceholder" }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label title="{{ localize "SFRPG.VehicleSheet.Details.Movement.SpeedTooltip" }}">{{ localize "SFRPG.VehicleSheet.Details.Movement.Speed" }}</label>
                            <div class="form-fields">
                                <input type="text" name="data.attributes.speed.mph" value="{{data.attributes.speed.mph}}" placeholder="{{ localize "SFRPG.VehicleSheet.Details.Movement.SpeedPlaceholder" }}" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="flexcol">
                <h3 class="form-header">{{ localize "SFRPG.VehicleSheet.Details.Dimensions.Title" }}</h3>
                <div class="flexrow">
                    <div class="flexcol">
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.Dimensions.Width" }}</label>
                            <div class="form-fields">
                                <input type="text" name="data.attributes.dimensions.width" value="{{data.attributes.dimensions.width}}" />
                                <span>{{ localize "SFRPG.VehicleSheet.Details.Dimensions.Unit" }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.Dimensions.Length" }}</label>
                            <div class="form-fields">
                                <input type="text" name="data.attributes.dimensions.length" value="{{data.attributes.dimensions.length}}" />
                                <span>{{ localize "SFRPG.VehicleSheet.Details.Dimensions.Unit" }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.Dimensions.Height" }}</label>
                            <div class="form-fields">
                                <input type="text" name="data.attributes.dimensions.height" value="{{data.attributes.dimensions.height}}" />
                                <span>{{ localize "SFRPG.VehicleSheet.Details.Dimensions.Unit" }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flexcol">
                <h3 class="form-header">{{ localize "SFRPG.VehicleSheet.Details.Modifiers.Title" }}</h3>
                <div class="flexrow">
                    <div class="flexcol">
                        <div class="form-group">
                            <label>Piloting</label>
                            <div class="form-fields">
                                <input type="text" name="data.attributes.modifiers.piloting" value="{{data.attributes.modifiers.piloting}}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.Modifiers.AttackStopped" }}</label>
                            <div class="form-fields">
                                <input type="text" name="data.attributes.modifiers.attackStopped" value="{{data.attributes.modifiers.attackStopped}}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.Modifiers.AttackMoving" }}</label>
                            <div class="form-fields">
                                <input type="text" name="data.attributes.modifiers.attackMoving" value="{{data.attributes.modifiers.attackMoving}}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.Modifiers.AttackFullSpeed" }}</label>
                            <div class="form-fields">
                                <input type="text" name="data.attributes.modifiers.attackFullSpeed" value="{{data.attributes.modifiers.attackFullSpeed}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flexcol">
                <h3 class="form-header">{{ localize "SFRPG.VehicleSheet.Details.OtherAttributes.Title" }}</h3>
                <div class="flexrow">
                    <div class="flexcol">
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.OtherAttributes.Size" }}</label>
                            <div class="form-fields">
                                <select name="data.attributes.size">
                                    {{#select data.attributes.size}}
                                    {{#each config.vehicleSizes as |size s|}}
                                    <option value="{{s}}">{{size}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.OtherAttributes.Type" }}</label>
                            <div class="form-fields">
                                <select name="data.attributes.type">
                                    {{#select data.attributes.type}}
                                    {{#each config.vehicleTypes as |type t|}}
                                    <option value="{{t}}">{{type}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.OtherAttributes.Cover" }}</label>
                            <div class="form-fields">
                                <select name="data.attributes.cover">
                                    {{#select data.attributes.cover}}
                                    {{#each config.vehicleCoverTypes as |cover c|}}
                                    <option value="{{c}}">{{cover}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.OtherAttributes.Passengers" }}</label>
                            <div class="form-fields">
                                <input type="text" name="data.crew.passenger.limit" value="{{data.crew.passenger.limit}}" data-dtype="Number" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.OtherAttributes.Complement" }}</label>
                            <div class="form-fields">
                                <input type="text" name="data.crew.complement.limit" value="{{data.crew.complement.limit}}" data-dtype="Number" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab attacks" data-group="primary" data-tab="attacks">
            <h3 class="form-header">{{ localize "SFRPG.VehicleSheet.Attacks.Title" }}</h3>
            <p class="notification warning">{{ localize "SFRPG.VehicleSheet.Attacks.ToDo" }}</p>

            <ol class="inventory-list">
                {{#each inventory as |section sid|}}
                <li class="inventory-header flexrow">
                    <h3 class="item-name flexrow">{{section.label}}</h3>
                    {{#if ../owner}}
                    <div class="item-controls">
                        {{#if section.allowAdd}}
                        <a class="item-control item-create" title="{{localize "SFRPG.ActorSheet.Inventory.Item.Create"}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                        <i class="fas fa-plus"></i> {{localize "SFRPG.InventoryAdd"}}
                        </a>
                        {{/if}}
                    </div>
                    {{/if}}
                </li>

                <ol class="item-list">
                    {{#each section.items as |item iid|}}
                    {{> "systems/sfrpg/templates/actors/parts/actor-inventory-item.html" ../../this bigItem=true item=item.item children=item.contents disableEquipping=true }}
                    {{/each}}
                </ol>
                {{/each}}
            </ol>

        </div>

        <div class="tab attacks" data-group="primary" data-tab="passengers">
            <h3 class="form-header">{{ localize "SFRPG.VehicleSheet.Passengers.Title" }}</h3>
            <p class="notification warning">{{ localize "SFRPG.VehicleSheet.Passengers.UnderConstruction" }}</p>

            <div class="crew-settings flexrow">
                <ol class="settings flexrow">
                    <h3>
                        {{localize "SFRPG.VehicleSheet.Passengers.Header"}}
                        <i class="fas fa-users"></i>
                    </h3>
                    {{#if isGM}}
                    <label class="checkbox">
                        <label><b>{{localize "SFRPG.VehicleSheet.Passengers.PassengersSetting"}}</b></label>
                        <input type="checkbox" name="data.crew.useNPCCrew" {{checked data.crew.useNPCCrew}}/>{{localize "SFRPG.VehicleSheet.Passengers.IsNPCPassengers"}}
                    </label>
                    {{/if}}
                </ol>
            </div>

            {{#unless data.crew.useNPCCrew}}
            <ol class="crew-list">
                {{#each crew as |role|}}
                <li class="flexrow crew-header {{role.cssClass}}" {{#each role.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>{{role.label}}</li>
                <ol class="crew-item-list">
                    {{#each role.actors as |actor a|}}
                    <li class="crew flexrow draggable" data-actor-id="{{actor.id}}">
                        <div class="crew-name flexrow">
                            <div class="crew-image" style="background-image: url({{actor.data.img}})"></div>
                            <h4>{{actor.name}}</h4>
                        </div>
                        <div class="crew-controls">
                            <a class="crew-control crew-delete" title="Remove Crew Member"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                {{/each}}
            </ol>
            {{else}}
            <ol class="crew-list">
                <p class="notification warning">{{ localize "SFRPG.VehicleSheet.Passengers.ToDo" }}</p>
            </ol>
            {{/unless}}
        </div>

        <div class="tab biography flexcol" data-group="primary" data-tab="notes">
            {{editorPlus content=data.details.description.value target="data.details.description.value" button=true owner=owner editable=editable rolls=false rollData=data}}
        </div>
    </section>
</form>