<form class="{{cssClass}}" id="add-edit-skill-form" autocomplete="off">
    <div class="form-group">
        <label>Ability</label>
        <div class="form-fields">
            <select name="ability">
                {{#select skill.ability}}
                {{#each config.abilities as |ability a|}}
                <option value="{{a}}">{{ability}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>Ranks</label>
        <div class="form-fields">
            <input type="text" name="ranks" value="{{skill.ranks}}" data-dtype="Number" placeholder="0" />
        </div>
    </div>
    <div class="form-group">
        <label>Misc. Modifiers</label>
        <div class="form-fields">
            <input type="text" name="misc" value="{{skill.misc}}" data-dtype="Number" placeholder="0" />
        </div>
    </div>
    {{#if hasSubName}}
    <div class="form-group">
        <label>Profession Name</label>
        <div class="form-fields">
            <input type="text" name="subname" value="{{skill.subname}}" placeholder="-" />
        </div>
    </div>
    {{/if}}
    <div class="form-group stacked">
        <label>Skill Properties</label>
        <label class="checkbox">
            <input type="checkbox" name="value" {{checked skill.value}}/> Class Skill
        </label>
        <label class="checkbox">
            <input type="checkbox" name="isTrainedOnly" {{checked skill.isTrainedOnly}}/> Trained Only
        </label>
        <label class="checkbox">
            <input type="checkbox" name="hasArmorCheckPenalty" {{checked skill.hasArmorCheckPenalty}}/> Armor Check Penalty
        </label>
        {{#if isNpc}}
        <label class="checkbox">
            <input type="checkbox" name="enabled" {{checked skill.enabled}}/> Enabled
        </label>
        {{/if}}
        {{#if canDelete}}
        <label class="checkbox">
            <input type="checkbox" name="remove" /> Delete?
        </label>
        {{/if}}
    </div>
</form>