<form>
    <div class="form-group">
        <label for="floating-toggle">{{localize "SFRPG.Settings.FloatingHP.Menu.Enabled.Name"}}</label>
        <input type=checkbox name="floating-toggle" id="floating-toggle">
        <p class="notes">{{localize "SFRPG.Settings.FloatingHP.Menu.Enabled.Hint"}}</p>
    </div>
    <div class="form-group">
        <label for="limit-by-criteria">{{localize "SFRPG.Settings.FloatingHP.Menu.LimitByCriteria.Name"}}</label>
        <input type=checkbox name="limit-by-criteria" id="limit-by-criteria">
        <p class="notes">{{localize "SFRPG.Settings.FloatingHP.Menu.LimitByCriteria.Hint"}}</p>
    </div>
    <div class="form-group">
        <label for="min-perm">{{localize "SFRPG.Settings.FloatingHP.Menu.MinPerm.Name"}}</label>
        <select name="min-perm" id="min-perm">
            {{selectOptions perms localize=true}}
        </select>
        <p class="notes">{{localize "SFRPG.Settings.FloatingHP.Menu.MinPerm.Hint"}}</p>
    </div>
    <div class="form-group">
        <label for="can-see-bars">{{localize "SFRPG.Settings.FloatingHP.Menu.CanSeeBars.Name"}}</label>
        <input type=checkbox name="can-see-bars" id="can-see-bars">
        <p class="notes">{{localize "SFRPG.Settings.FloatingHP.Menu.CanSeeBars.Hint"}}</p>
    </div>
    <div class="form-group">
        <label for="can-see-name">{{localize "SFRPG.Settings.FloatingHP.Menu.CanSeeName.Name"}}</label>
        <input type=checkbox name="can-see-name" id="can-see-name">
        <p class="notes">{{localize "SFRPG.Settings.FloatingHP.Menu.CanSeeName.Hint"}}</p>
    </div>
    <footer class="sheet-footer flexrow">
    <button type="submit" name="submit">
        <i class="fa fa-check"></i> OK
    </button>
  </footer>
</form>