<form autocomplete="off" class="{{cssClass}}" data-modifier-id="{{modifier._id}}">
    <div class="form-group modifier-name">
        <label for="name">{{localize "SFRPG.ModifierNameLabel"}}</label>
        <input name="name" type="text" value="{{modifier.name}}" data-tippy-content="{{localize "SFRPG.ModifierNameTooltip"}}">
    </div>
    <div class="form-group modifier-modifier">
        <label for="modifier">{{localize "SFRPG.ModifierModifierLabel"}}</label>
        <input type="text" name="modifier" value="{{modifier.modifier}}" data-tippy-content="{{localize "SFRPG.ModifierModifierTooltip"}}">
    </div>
    <div class="form-group modifier-type">
        <label for="type">{{localize "SFRPG.ModifierTypeLabel"}}</label>
        <select name="type" data-tippy-content="{{localize "SFRPG.ModifierTypeTooltip"}}">
            {{#select modifier.type}}
            {{#each config.modifierTypes as |type key|}}
            <option value="{{key}}">{{type}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="form-group modifier-effect-type">
        <label for="effectType">{{localize "SFRPG.ModifierEffectTypeLabel"}}</label>
        <select name="effectType" data-tippy-content="{{localize "SFRPG.ModifierEffectTypeTooltip"}}">
            {{#select modifier.effectType}}
            {{#each config.modifierEffectTypes as |effect key|}}
            <option value="{{key}}">{{effect}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>    
    <div class="form-group modifier-value-affected">
        <label for="valueAffected">{{localize "SFRPG.ModifierValueAffectedLabel"}}</label>
        <select name="valueAffected" data-tippy-content="{{localize "SFRPG.ModifierValueAffectedTooltip"}}">
            {{#select modifier.valueAffected}}
            {{#if (eq modifier.effectType "ac")}}
            {{#each config.modifierArmorClassAffectedValues as |armorClass key|}}
            <option value="{{key}}">{{armorClass}}</option>
            {{/each}}
            {{else if (eq modifier.effectType "ability-skills")}}
            {{#each config.abilities as |ability abl|}}
            <option value="{{abl}}">{{ability}}</option>
            {{/each}}
            {{else if (eq modifier.effectType "acp")}}
            {{#each config.acpEffectingArmorType as |armorType key|}}
            <option value="{{key}}">{{armorType}}</option>
            {{/each}}
            {{else if (eq modifier.effectType "save")}}
            <option value="highest">{{localize "SFRPG.ModifierSaveHighest"}}</option>
            <option value="lowest">{{localize "SFRPG.ModifierSaveLowest"}}</option>
            {{#each config.saves as |save key|}}
            <option value="{{key}}">{{save}}</option>
            {{/each}}
            {{else if (eq modifier.effectType "skill")}}
            {{#each config.skills as |skill key|}}
            <option value="{{key}}">{{skill}}</option>
            {{/each}}
            {{else if (eq modifier.effectType "skill-ranks")}}
            {{#each config.skills as |skill key|}}
            <option value="{{key}}">{{skill}}</option>
            {{/each}}
            {{else if (eq modifier.effectType "ability-check")}}
            {{#each config.abilities as |ability abl|}}
            <option value="{{abl}}">{{ability}}</option>
            {{/each}}
            {{else if (eq modifier.effectType "ability-score")}}
            {{#each config.abilities as |ability abl|}}
            <option value="{{abl}}">{{ability}}</option>
            {{/each}}
            {{else if (eq modifier.effectType "weapon-attacks")}}
            {{#each config.weaponTypes as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{else if (eq modifier.effectType "weapon-damage")}}
            {{#each config.weaponTypes as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{else if (eq modifier.effectType "weapon-property-damage")}}
            {{#each config.weaponProperties as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{else}}
            <option value=""></option>
            {{/if}}
            {{/select}}
        </select>
    </div>
    <div class="form-group modifier-modifier-type">
        <label for="modifierType">{{localize "SFRPG.ModifierModifierTypeLabel"}}</label>
        <select name="modifierType" data-tippy-content="{{localize "SFRPG.ModifierModifierTypeTooltip"}}">
            {{#select modifier.modifierType}}
            {{#each config.modifierType as |type key|}}
            <option value="{{key}}">{{type}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>    
    <div class="form-group modifier-source">
        <label for="source">{{localize "SFRPG.ModifierSourceLabel"}}</label>
        <input type="text" name="source" value="{{modifier.source}}" data-tippy-content="{{localize "SFRPG.ModifierSourceTooltip"}}">
    </div>
    <div class="form-group modifier-notes">
        <label for="notes">{{localize "SFRPG.ModifierNotesLabel"}}</label>
        <textarea name="notes" data-tippy-content="{{localize "SFRPG.ModifierNotesTooltip"}}">{{modifier.notes}}</textarea>
    </div>
    <div class="form-group modifier-enabled" data-tippy-content="{{localize "SFRPG.ModifierEnabledTooltip"}}">
        <label class="checkbox">
            <input type="checkbox" name="enabled" {{checked modifier.enabled}}> {{localize "SFRPG.ModifierEnabledLabel"}}
        </label>
    </div>
    <input type="hidden" name="_id" value="{{modifier._id}}">
    <input type="hidden" name="subtab" value="{{modifier.subtab}}">
    <button type="submit" id="btn-submit"><i class="far fa-save"></i>{{localize "SFRPG.Save"}}</button>
</form>
