<form id="short-rest-rp" class="form-rest">
    <p>{{localize 'SFRPG.Rest.Short.DialogDescription'}}</p>
    <label class="checkbox">
        <input type="checkbox" id="restoreStaminaCheckbox"> {{localize "SFRPG.Rest.Short.ActionHeader"}}
    </label>
</form>
