@import "./variables.less";

/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.starfinder.sheet.actor.npc {
  min-width: 720px;
  min-height: 765px;

  .initiative .attribute-footer input,
  .save .attribute-footer input {
    width: 32px;
  }
}