# Visual Studio
.vs/*

# Visual Studio code
.vscode/*
*.code-workspace

# Jetbrains IDE's
.idea/

# macOS specific files
# general
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Windows
# thumbnail cache files
[Tt]humbs.db
[Tt]umbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# node modules
node_modules/*

# Build files
build/

# Distrubution files
dist/

# Package builds
package/

# Foundry Project Creator config file
foundryconfig.json

# Foundry.js
foundry.js
