            <h4 class="form-header">{{ localize "SFRPG.ActorSheet.Inventory.Container.DetailsHeader" }}</h4>
            {{#if message}}
            <label>{{localize message}}</label>
            {{/if}}

            {{!-- Storage capacity --}}
            <div class="form-group">
                <label>{{ localize "SFRPG.ActorSheet.Inventory.Container.StorageSections" }}</label>
                <div class="form-fields">
                    <a class="item-control add-storage">
                        <i class="fas fa-plus"></i> {{ localize "SFRPG.ActorSheet.Inventory.Container.StorageSectionsAdd" }}
                    </a>
                </div>
            </div>

            <ul>
                {{#each data.container.storage as |storage|}}
                <hr/>
                <li class="storage-slot" data-slot-index="{{indexOf ../data.container.storage storage}}">
                    <div class="form-group">
                        <label>{{ localize "SFRPG.ActorSheet.Inventory.Container.StorageSection" index=(indexOf ../data.container.storage storage false) }}</label>
                        <div class="form-fields">
                            <a class="item-control remove-storage">
                                <i class="fas fa-minus"></i> {{ localize "SFRPG.ActorSheet.Inventory.Container.StorageSectionsRemove" }}
                            </a>
                        </div>
                    </div>
                    <div class="form-group" data-tippy-content="<strong>{{ localize "SFRPG.ActorSheet.Inventory.Container.StorageType" }}</strong><br/>{{ localize "SFRPG.ActorSheet.Inventory.Container.StorageTypeTooltip" }}">
                        <label>{{ localize "SFRPG.ActorSheet.Inventory.Container.StorageType" }}</label>
                        <div class="form-fields">
                            <select name="storage.type">
                                {{#select storage.type}}
                                <option value="slot">{{ localize "SFRPG.ActorSheet.Inventory.Container.StorageTypeSlot" }}</option>
                                <option value="bulk">{{ localize "SFRPG.ActorSheet.Inventory.Container.StorageTypeBulk" }}</option>
                                {{/select}}
                            </select>
                        </div>
                    </div>
                    {{#if (eq storage.type "slot")}}
                    <div class="form-group" data-tippy-content="<strong>{{ localize "SFRPG.ActorSheet.Inventory.Container.StorageIdentifier" }}</strong><br/>{{ localize "SFRPG.ActorSheet.Inventory.Container.StorageIdentifierTooltip" }}">
                        <label>{{ localize "SFRPG.ActorSheet.Inventory.Container.StorageIdentifier" }}</label>
                        <div class="form-fields">
                            <select name="storage.subtype">
                                {{#select storage.subtype}}
                                <option value="">{{ localize "SFRPG.ActorSheet.Inventory.Container.StorageIdentifierItem" }}</option>
                                <option value="armorUpgrade">{{ localize "SFRPG.ActorSheet.Inventory.Container.StorageIdentifierArmorUpgrade" }}</option>
                                <option value="weaponSlot">{{ localize "SFRPG.ActorSheet.Inventory.Container.StorageIdentifierWeaponSlot" }}</option>
                                <option value="fusion">{{ localize "SFRPG.ActorSheet.Inventory.Container.StorageIdentifierFusion" }}</option>
                                <option value="spellSlot">{{ localize "SFRPG.ActorSheet.Inventory.Container.StorageIdentifierSpellSlot" }}</option>
                                {{/select}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group" data-tippy-content="<strong>{{ localize "SFRPG.ActorSheet.Inventory.Container.Capacity" }}</strong><br/>{{ localize "SFRPG.ActorSheet.Inventory.Container.CapacityTooltip" }}">
                        <label>{{ localize "SFRPG.ActorSheet.Inventory.Container.Capacity" }}</label>
                        <div class="form-fields">
                            <input type="text" name="storage.amount" value="{{storage.amount}}" data-dtype="Number" placeholder="0" />
                            <select name="storage.weightProperty">
                                {{#select storage.weightProperty}}
                                <option value="">{{ localize "SFRPG.ActorSheet.Inventory.Container.CapacityPropertyItems" }}</option>
                                <option value="slots">{{ localize "SFRPG.ActorSheet.Inventory.Container.CapacityPropertySlots" }}</option>
                                <option value="level">{{ localize "SFRPG.ActorSheet.Inventory.Container.CapacityPropertyLevel" }}</option>
                                {{/select}}
                            </select>
                        </div>
                    </div>
                    {{else}}
                    <div class="form-group" data-tippy-content="<strong>{{ localize "SFRPG.ActorSheet.Inventory.Container.CapacityBulk" }}</strong><br/>{{ localize "SFRPG.ActorSheet.Inventory.Container.CapacityBulkTooltip" }}">
                        <label>{{ localize "SFRPG.ActorSheet.Inventory.Container.CapacityBulk" }}</label>
                        <div class="form-fields">
                            <input type="text" name="storage.amount" value="{{storage.amount}}" data-dtype="Number" placeholder="0" />
                        </div>
                    </div>
                    {{/if}}
                    <div class="form-group stacked weapon-properties" data-tippy-content="<strong>{{ localize "SFRPG.ActorSheet.Inventory.Container.AcceptedItemTypes" }}</strong><br/>{{ localize "SFRPG.ActorSheet.Inventory.Container.AcceptedItemTypesTooltip" }}">
                        <label>{{ localize "SFRPG.ActorSheet.Inventory.Container.AcceptedItemTypes" }}</label>
                        {{#each ../config.containableTypes as |typeName typeKey|}}
                        <label class="checkbox">
                            <input type="checkbox" class="storage.acceptsType" name="{{typeKey}}" {{checked (contains storage.acceptsType typeKey)}}/>{{localize typeName}}
                        </label>
                        {{/each}}
                    </div>
                    <div class="form-group" data-tippy-content="<strong>{{ localize "SFRPG.ActorSheet.Inventory.Container.AffectsEncumbrance" }}</strong><br/>{{ localize "SFRPG.ActorSheet.Inventory.Container.AffectsEncumbranceTooltip" }}">
                        <label>{{ localize "SFRPG.ActorSheet.Inventory.Container.AffectsEncumbrance" }}</label>
                        <div class="form-fields">
                            <label class="checkbox">
                                <input type="checkbox" name="storage.affectsEncumbrance" {{checked storage.affectsEncumbrance}}/>{{ localize "SFRPG.ActorSheet.Inventory.Container.AffectsEncumbranceCheckbox" }}
                            </label>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>