{{!-- Activation Cost --}}
<div class="form-group input-select">
    <label>{{ localize "SFRPG.Items.Activation.ActivationCost" }}</label>
    <div class="form-fields">
        <input type="text" name="data.activation.cost" value="{{data.activation.cost}}" data-dtype="Number" placeholder="-"/>
        <select name="data.activation.type">
            {{#select data.activation.type}}
            <option value=""></option>
            {{#each config.abilityActivationTypes as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>
{{#if data.activation.type}}

{{!-- Activation Condition --}}
<div class="form-group">
    <label>{{ localize "SFRPG.Items.Activation.ActivationCondition" }}</label>
    <div class="form-fields">
        <input type="text" name="data.activation.condition" value="{{data.activation.condition}}"/>
    </div>
</div>


{{!-- Ability Target --}}
<div class="form-group input-select-select">
    <label>{{ localize "SFRPG.Items.Activation.Target" }}</label>
    <div class="form-fields">
        <input type="text" name="data.target.value" value="{{data.target.value}}" data-dtype="String" placeholder="-"/>
    </div>
</div>

<div class="form-group input-select-select-select">
    <label>{{ localize "SFRPG.Items.Activation.Area" }}</label>
    <div class="form-fields">
        <input type="text" name="data.area.value" value="{{data.area.value}}" data-dtype="Number" placeholder="Area" />
        <select name="data.area.units">
            {{#select data.area.units}}
            {{#each config.distanceUnits as |unit key|}}
            <option value="{{key}}">{{unit}}</option>
            {{/each}}
            {{/select}}
        </select>
        <select name="data.area.shape">
            {{#select data.area.shape}}
            {{#each config.spellAreaShapes as |shape s|}}
            <option value="{{s}}">{{shape}}</option>
            {{/each}}
            {{/select}}
        </select>
        <select name="data.area.effect">
            {{#select data.area.effect}}
            {{#each config.spellAreaEffects as |effect e|}}
            <option value="{{e}}">{{effect}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>

{{!-- Ability Range --}}
<div class="form-group input-select">
    <label>{{ localize "SFRPG.Items.Activation.Range" }}</label>
    <div class="form-fields">
        <input type="text" name="data.range.value" value="{{data.range.value}}" data-dtype="Number" placeholder="Range"/>
        <select name="data.range.units">
            {{#select data.range.units}}
            {{#each config.distanceUnits as |unit key|}}
            <option value="{{key}}">{{unit}}</option>
            {{/each}}
            {{/select}}
        </select>
        <span class="sep"> + </span>
        <input type="text" name="data.range.additional" value="{{data.range.additional}}" data-dtype="String" placeholder="5 ft." />
        <span class="sep"> / </span>
        <input type="text" name="data.range.per" value="{{data.range.per}}" placeholder="level" />
    </div>
</div>

{{!-- Effect Duration --}}
<div class="form-group input-select">
    <label>{{ localize "SFRPG.Items.Activation.Duration" }}</label>
    <div class="form-fields">
        <input type="text" name="data.duration.value" value="{{data.duration.value}}" data-dtype="String" placeholder="-"/>
    </div>
</div>

{{!-- Limited Uses --}}
<div class="form-group uses-per">
    <label>{{ localize "SFRPG.Items.Activation.LimitedUses" }}</label>
    <div class="form-fields">
        <input type="text" name="data.uses.value" value="{{data.uses.value}}" data-dtype="Number"/>
        <span class="sep"> of </span>
        <input type="text" name="data.uses.max" value="{{data.uses.max}}" data-dtype="Number"/>
        <select name="data.uses.per">
            {{#select data.uses.per}}
            <option value=""></option>
            {{#each config.limitedUsePeriods as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>
{{/if}}