{{#if hasCapacity}}
<div class="form-group">
    <label data-tippy-content="{{ localize "SFRPG.Items.Capacity.HeaderTooltip" }}">
        {{ localize "SFRPG.Items.Capacity.Capacity" }}
    </label>
    <div class="form-fields">
        <input type="text" data-tippy-content="{{ localize "SFRPG.Items.Capacity.CapacityValueTooltip" }}" name="data.capacity.value" value="{{data.capacity.value}}" data-dtype="Number" />
        <span class="sep"> / </span>
        <input type="text" data-tippy-content="{{ localize "SFRPG.Items.Capacity.CapacityMaxTooltip" }}" name="data.capacity.max" value="{{data.capacity.max}}" data-dtype="Number" />
    </div>
</div>
<div class="form-group">
    <label data-tippy-content="{{ localize "SFRPG.Items.Capacity.UsageTooltip" }}">
        {{ localize "SFRPG.Items.Capacity.Usage" }}
    </label>
    <div class="form-fields">
        <input type="text" data-tippy-content="{{ localize "SFRPG.Items.Capacity.UsageTooltip" }}" name="data.usage.value" value="{{data.usage.value}}" data-dtype="Number" />
        <span class="sep"> / </span>
        <select name="data.usage.per" data-tippy-content="{{ localize "SFRPG.Items.Capacity.UsageValueTooltip" }}">
        {{#select data.usage.per}}
            <option value=""></option>
            {{#each config.capacityUsagePer as |usage u|}}
            <option value="{{u}}">{{usage}}</option>
            {{/each}}
        {{/select}}
        </select>
    </div>
</div>
{{/if}}
