<div class="tab flexrow active" data-group="primary" data-tab="modifiers">

    <ol class="inventory-list">
        <li class="item flexrow inventory-header modifiers-header">
            <div class="item-name modifier-name flexrow">
                <h3>{{localize "SFRPG.ModifierNameLabel"}}</h3>
            </div>

            <div class="item-detail modifier-mod">{{localize "SFRPG.ModifierTitle"}}</div>
            <div class="item-detail modifier-type">{{localize "SFRPG.ModifierTypeLabel"}}</div>
            <div class="item-detail modifier-effect-type">{{localize "SFRPG.ModifierEffectTypeHeaderLabel"}}</div>
            <div class="item-detail modifier-value-affected">{{localize "SFRPG.ModifierValueAffectedHeaderLabel"}}</div>
            {{#if owner}}
            <div class="item-controls">
                <a class="item-control modifier-create" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}} title="Add Modifier">
                    <i class="fas fa-plus"></i> {{localize "SFRPG.AddLabel"}}
                </a>
            </div>
            {{/if}}
        </li>

        <ol class="modifier-list item-list">
            {{#each modifiers as |modifier mid|}}
            <li class="item modifier flexrow" data-tippy-content="<strong>{{modifier.name}}</strong><br>{{#if modifier.enabled}}Enabled{{else}}Disabled{{/if}}{{#if modifier.notes}}<br><br>Notes<hr>{{modifier.notes}}{{/if}}" data-modifier-id="{{modifier._id}}">
                <div class="item-name modifier-name flexrow">
                    <h4>{{~modifier.name~}}</h4>
                </div>

                <div class="item-detail modifier-mod">
                    {{ellipsis modifier.modifier 12}}
                </div>
                <div class="item-detail modifier-type">
                    {{lookup ../config.modifierTypes modifier.type}}
                </div>
                <div class="item-detail modifier-effect-type">
                    {{lookup ../config.modifierEffectTypes modifier.effectType}}
                </div>
                <div class="item-detail modifier-value-affected">
                    {{#if (eq modifier.effectType "ac")}}
                        {{lookup ../config.modifierArmorClassAffectedValues modifier.valueAffected}}
                    {{else if (eq modifier.effectType "acp")}}
                        {{lookup ../config.acpEffectingArmorType modifier.valueAffected}}
                    {{else if (eq modifier.effectType "ability-skills")}}
                        {{lookup ../config.abilities modifier.valueAffected}}
                    {{else if (eq modifier.effectType "ability-check")}}
                        {{lookup ../config.abilities modifier.valueAffected}}
                    {{else if (eq modifier.effectType "ability-score")}}
                        {{lookup ../config.abilities modifier.valueAffected}}
                    {{else if (eq modifier.effectType "skill")}}
                        {{lookup ../config.skills modifier.valueAffected}}
                    {{else if (eq modifier.effectType "save")}}
                        {{#if (eq modifier.valueAffected "highest")}}
                            {{localize "SFRPG.ModifierSaveHighest"}}
                        {{else if (eq modifier.valueAffected "lowest")}}
                            {{localize "SFRPG.ModifierSaveLowest"}}
                        {{else}}
                            {{lookup ../config.saves modifier.valueAffected}}
                        {{/if}}
                    {{else if (eq modifier.effectType "weapon-attacks")}}
                        {{lookup ../config.weaponTypes modifier.valueAffected}}
                    {{else if (eq modifier.effectType "weapon-damage")}}
                        {{lookup ../config.weaponTypes modifier.valueAffected}}
                    {{else if (eq modifier.effectType "weapon-property-damage")}}
                        {{lookup ../config.weaponProperties modifier.valueAffected}}
                    {{else}}
                    {{!-- Nothing --}}
                    {{/if}}
                </div>
                {{#if ../owner}}
                <div class="item-controls">
                    <a class="item-control modifier-toggle" data-tippy-content="Toggle Modifier">{{#if modifier.enabled}}<i class="far fa-check-square">{{else}}<i class="far fa-square"></i>{{/if}}</i></a>
                    <a class="item-control modifier-edit" data-tippy-content="Edit Modifier"><i class="fas fa-edit"></i></a>
                    <a class="item-control modifier-delete" data-tippy-content="Delete Modifier"><i class="fas fa-trash"></i></a>
                </div>
                {{/if}}
            </li>
            {{/each}}
        </ol>
    </ol>

</div>