<div class="form-group input-select">
    <label>Duration</label>
    <div class="form-fields">
        <input type="text" name="system.activeDuration.value" value="{{itemData.activeDuration.value}}" data-dtype="Number" placeholder="-"/>
        <select name="system.activeDuration.unit">
            {{#select itemData.activeDuration.unit}}
            <option value=""></option>
            {{#each config.effectDurationTypes as |name key|}}
            <option value="{{key}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>
