<div class="tab flexrow active" data-group="primary" data-tab="description">

{{#unless hideProperties}}
    <div class="item-properties">
        {{#if isPhysical}}
        <div class="form-group">
            <label>{{ localize "SFRPG.Items.Description.Quantity" }}</label>
            <input type="text" name="data.quantity" value="{{itemData.quantity}}" data-dtype="Number"/>
        </div>

        <div class="form-group flexrow" {{createTippy title="SFRPG.Items.Description.QuantityPerPack" subtitle="SFRPG.Items.Description.QuantityPerPackTooltip"}}>
            <label>{{ localize "SFRPG.Items.Description.QuantityPerPack" }}</label>
            <input style="flex: 1;" type="text" name="data.quantityPerPack" value="{{itemData.quantityPerPack}}" data-dtype="Number"/>
        </div>

        <div class="form-group">
            <label>{{ localize "SFRPG.Items.Description.Bulk" }}</label>
            <input type="text" name="data.bulk" value="{{itemData.bulk}}" />
        </div>

        <div class="form-group">
            <label>{{ localize "SFRPG.Items.Description.Price" }}</label>
            <input type="text" name="data.price" value="{{itemData.price}}" data-dtype="Number"/>
        </div>
        {{/if}}

        {{#if hasLevel}}
        <div class="form-group">
            <label>{{ localize "SFRPG.Items.Description.Level" }}</label>
            <input type="text" name="data.level" value="{{itemData.level}}" data-dtype="Number" />
        </div>
        {{/if}}

        {{#if hasHands}}
        <div class="form-group">
            <label>{{ localize "SFRPG.Items.Description.Hands" }}</label>
            <input type="text" name="data.hands" value="{{itemData.hands}}" data-dtype="Number" />
        </div>
        {{/if}}

        <ol class="properties-list">
            {{#each itemProperties}}
            <li {{#if this.tooltip}} data-tippy-content="{{ this.tooltip }}"{{/if}}>{{ this.name }}</li>
            {{/each}}
        </ol>
    </div>
{{/unless}}

    <div class="flexcol" style="height: 100%;">
        <nav class="sheet-subnavigation descTabs" data-group="descriptionTabs">
            <a class="item active{{#if itemData.description.value}} highlight{{/if}}" data-tab="description">{{localize "SFRPG.Description"}}</a>
            <a class="item {{#if itemData.description.short}} highlight{{/if}}" data-tab="descriptionShort">{{localize "SFRPG.DescriptionShort"}}</a>
            {{#if isGM}}
            <a class="item{{#if itemData.description.gmNotes}} highlight{{/if}}" data-tab="gmNotes">{{localize "SFRPG.ActorSheet.Biography.TabGM"}} {{#if itemData.description.gmNotes}} (!){{/if}}</a>
            {{/if}}
        </nav>

        <section class="desc-body">
            <div class="tab flexrow" data-group="descriptionTabs" data-tab="description">
                {{editor
                    enrichedDescription
                    target="data.description.value"
                    button=true
                    editable=editable
                }}
            </div>
            <div class="tab flexrow" data-group="descriptionTabs" data-tab="descriptionShort">
                {{editor
                    enrichedShortDescription
                    target="data.description.short"
                    button=true
                    editable=editable
                }}
            </div>
            {{#if isGM}}
            <div class="tab flexrow" data-group="descriptionTabs" data-tab="gmNotes">
                {{editor
                    enrichedGMNotes
                    target="data.description.gmNotes"
                    button=true
                    editable=editable
                }}
            </div>
            {{/if}}
        </section>
    </div>

</div>
