{{#if hasCapacity}}
<div class="form-group">
    <label>{{ localize "SFRPG.Items.Ammunition.AmmunitionType" }}</label>
    <select name="data.ammunitionType">
        {{#select itemData.ammunitionType}}
        <option value="">{{ localize "SFRPG.Items.Ammunition.Type.None" }}</option>
        {{#each config.ammunitionTypes as |ammunition type|}}
        <option value="{{type}}">{{ammunition}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label data-tippy-content="{{ localize "SFRPG.Items.Capacity.HeaderTooltip" }}">
        {{ localize "SFRPG.Items.Capacity.CapacityMax" }}
    </label>
    <div class="form-fields">
        {{#unless data.data.ammunitionType}}
        <input type="text" data-tippy-content="{{ localize "SFRPG.Items.Capacity.CapacityValueTooltip" }}" name="data.capacity.value" value="{{itemData.capacity.value}}" data-dtype="Number" />
        <span class="sep"> / </span>
        {{/unless}}
        <input type="text" data-tippy-content="{{ localize "SFRPG.Items.Capacity.CapacityMaxTooltip" }}" name="data.capacity.max" value="{{itemData.capacity.max}}" data-dtype="Number" />
    </div>
</div>

<div class="form-group">
    <label data-tippy-content="{{ localize "SFRPG.Items.Capacity.UsageTooltip" }}">
        {{ localize "SFRPG.Items.Capacity.Usage" }}
    </label>
    <div class="form-fields">
        <input type="text" data-tippy-content="{{ localize "SFRPG.Items.Capacity.UsageTooltip" }}" name="data.usage.value" value="{{itemData.usage.value}}" data-dtype="Number" />
        <span class="sep"> / </span>
        <select name="data.usage.per" data-tippy-content="{{ localize "SFRPG.Items.Capacity.UsageValueTooltip" }}">
        {{#select itemData.usage.per}}
            <option value=""></option>
            {{#each config.capacityUsagePer as |usage u|}}
            <option value="{{u}}">{{usage}}</option>
            {{/each}}
        {{/select}}
        </select>
    </div>
</div>
{{/if}}
