<h4 class="section-header first">{{localize "SFRPG.MechSheet.MechPoints.MechPoints"}}</h4>
<div class="form-group">
    <label>{{localize "SFRPG.MechSheet.MechPoints.MechPointCost"}}</label>
    <div class="form-fields">
        <input type="text" name="system.mechPointCost" value="{{itemData.mechPointCost}}" data-dtype="Number"/> {{localize "SFRPG.MechSheet.TimesTier"}}
    </div>
</div>