@import "variables.less";

/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */

.app.chat-popout .chat-message,
#chat-log .message {
    background: @sheetBackground;
    font-size: var(--font-size-13);
    position: relative;
}
#chat-log .message.whisper {
    background-color: #cfcfffff;
    border: 2px solid #7096bf;
}
#chat-log .message.blind {
    background-color: #f1bdf1ff;
    border: 2px solid #d87fd6;
}
#chat-form {
    textarea {
        background: @sheetBackground;
    }
}

.dice-tooltip {
    .dice-rolls {
        .roll {
            font-size: var(--font-size-13);
        }
    }
}

.chat-message {
    padding: 4px;

    .message-header {
        background-color: rgba(150, 200, 255, 0.4);
        padding: 2px;
        z-index: 5;

        h4.message-sender {
            z-index: 1;
            color: @sfrpgRed;
            font-weight: bold;
        }
    }

    .message-content {
        h2 {
            font-weight: bold;
            text-align: center;
        }

        .card-header {
            padding: 3px 0;
            border-top: 2px groove #fff;
            border-bottom: 2px groove #fff;

            img {
                flex: 0 0 36px;
                margin-right: 5px;
                width: 36px;
                height: 36px;
                object-fit: contain;
            }

            .action-img {
                flex: 0 0 50px;
                width: 50px;
                height: 50px;
            }

            h3 {
                flex: 1;
                margin: 0;
                line-height: 36px;
                .exo2();
                color: @colorOlive;
                &:hover {
                    color: #111;
                    text-shadow: 0 0 10px @sfrpgRed;
                }

                &.action-name {
                    line-height: 20px;
                    font-size: var(--font-size-14);
                }

                &.item-name {
                    line-height: 30px;
                    font-size: var(--font-size-20);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .action-activation {
                height: 20px;
                text-align: right;
            }
        }

        .chat-card {
            font-style: normal;
            font-size: var(--font-size-12);

            &.attack-card, &.item-action-card {
                .card-icons {

                    &.owner {
                    }

                    &.target {
                    }

                    .actor-icon {
                        border: none;
                        border-radius: 4px;
                        height: 64px;
                        z-index: 0;
                    }

                    .item-icon {
                        border: 4px;
                        border-radius: 4px;
                        background: rgba(0, 0, 0, 0.5);
                        height: 28px;
                        position: absolute;
                        right: 2px;
                        bottom: 2px;
                        z-index: 1;
                        box-shadow: 0 0 2px 2px #775434;
                    }
                }
            }

            &.item-card {
                .card-icons {
                    .actor-icon, .item-icon {
                        border: none;
                        border-radius: 4px;
                        height: 64px;
                        z-index: 0;
                    }
                }
            }

            .card-icons {
                margin: 2px 2px 2px 2px;
                flex: 0 1 64px;
                border-radius: 4px;
                background: rgba(0, 0, 0, 0.1);
                position: relative;

                img {
                    width: auto;
                }
            }

            .card-info {
                text-align: center;
                height: 64px;

                .card-title {
                    font-size: var(--font-size-13);
                    margin: 2px;
                }

                ul.card-tags {
                    text-align: center;
                    margin: auto;
                    padding: 0;
                }

                li {
                    display: inline-block;
                    margin: 0 2px 0 0;
                    padding: 0 3px;
                    font-size: var(--font-size-11);
                    border: 1px solid #999;
                    border-radius: 3px;
                    background: rgba(0, 0, 0, 0.05);
                }
            }

            .card-buttons {
                margin: 2px 0px;

                button {
                    margin: 1px 1px;
                    background-color: grey;
                    border-color: black;
                    color: white;
                    font-size: var(--font-size-12);
                    --button-size: 1.5rem;
                    height: 24px;
                    line-height: inherit;
                    white-space: nowrap;

                    &.chat-button-attack {
                        background-color: @sfrpgOrange;
                    }

                    &.chat-button-damage {
                        background-color: @sfrpgRed;
                    }

                    &.chat-button-healing {
                        background-color: @sfrpgGreen;
                    }

                    &.chat-button-save {
                        background-color: @sfrpgBlue;
                    }

                    &.chat-button-template {
                        background-color: @sfrpgPurple;
                    }
                }
            }

            .card-content {
                margin: 5px 0;

                h3 {
                    font-size: var(--font-size-12);
                    margin: 0;
                    font-weight: bold;
                }

                > * {
                    -webkit-user-select: text;
                    -moz-user-select: text;
                    -ms-user-select: text;
                    user-select: text;
                }
            }
        }

        .card-footer {
            padding: 3px 0 0;
            border-top: 2px groove #fff;

            span {
                border-right: 2px groove #fff;
                padding: 0 5px 5px 0;
                font-size: var(--font-size-11);

                &:last-child {
                    border-right: none;
                    padding-right: 0;
                }
            }
        }

        .dice-roll {
            &.sfrpg {
                .dice-footer {
                    border-top: 2px groove #fff;
                    font-size: var(--font-size-12);
                    font-style: normal;
                    order: 3;
                    padding: 3px 0 0;
                    margin-top: 5px;

                    span {
                        border-right: 2px groove #fff;
                        padding: 0 5px 0 0;
                        font-size: var(--font-size-11);

                        &:last-child {
                            border-right: none;
                            padding-right: 0;
                        }
                    }
                }
            }

            .dice-formula {
                font-weight: bold;
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
            }
        }
    }
}
