@import "variables.less";

.combat-type {
    flex: 1;
    margin: 0;
    font-size: var(--font-size-14);
    color: var(--color-text-light-5);
    text-align: center;
}

.difficulty {
    flex: 1;
    margin: 0;
    font-size: var(--font-size-16);
    text-align: center;
}

.encounter-stats-sheet {

    .stats-header {
        margin: 0;
        padding: 0.25em;
        font-size: var(--font-size-14);

        .table-left {
            flex: 3;
            text-align: left;
        }
        
        .table-right {
            flex: 1;
            align-self: center;
            text-align: right;
            font-weight: bold;
        }
    }

    .combatants-title {
        display: flex;
        flex-direction: row;
        text-align: center;
        border-bottom-style: solid;
        border-color: black;

        .title-item {
            flex: 1;
            padding: 0.25em;
            margin: 0;
            font-size: var(--font-size-16);
        }
    }
    
    .stats-body {

        display: flex;
        flex-direction: row;

        .body-col{
            flex: 1;
        }

        ul.combatant-list {
            list-style-type: none; /* Remove bullets */
            padding: 0; /* Remove padding */
            margin: 0; /* Remove margins */
        }
        
        li.combatant-list {
            border-style: solid;
            border-radius: 0.25em;
            border-width: thin;
            border-color: black;
            padding: 0.5em;
            margin: 0.25em;
            display: flex;
            flex-direction: row;

            img {
                align-self: center;
                border-style: none;
                border-right-style: solid;
                border-right-color: black;
                padding-right: 0.5em;
                object-fit: cover;
                object-position: 50% 0;
            }

            h4 {
                align-self: center;
                text-align: left;
                padding-left: 0.5em;
                font-size: var(--font-size-16);
            }
        }
    
        li.ally {
            
            background: rgba(0, 0, 255, 0.2);
        }
        
        li.enemy {
            
            background: rgba(64, 64, 64, 0.2);
        }

    }

    .stats-footer {
        padding: 0.25em;
        margin: 0;
        font-size: var(--font-size-16);
    }
}
    
.difficulty-noPcs {
    color: var(--color-text-light-5);
}

.difficulty-noEnemies {
    color: var(--color-text-light-5);
}

.difficulty-lessThanEasy {
    color: white;
}

.difficulty-easy {
    color: cyan;
}

.difficulty-average {
    color: rgb(0, 255, 0);
}

.difficulty-challenging {
    color: yellow;
}

.difficulty-hard {
    color: orange;
}

.difficulty-epic {
    color: red;
}

.difficulty-greaterThanEpic {
    color: rgb(255, 0, 255);
}