@import "variables.less";

.combat-type {
    flex: 1;
    margin: 0;
    font-size: var(--font-size-14);
    color: var(--color-text-light-5);
    text-align: center;
}

.difficulty {
    flex: 1;
    margin: 0;
    font-size: var(--font-size-14);
    text-align: center;
}

.noPcs {
    color: var(--color-text-light-5);
}

.noEnemies {
    color: var(--color-text-light-5);
}

.lessThanEasy {
    color: white;
}

.easy {
    color: cyan;
}

.average {
    color: rgb(0, 255, 0);
}

.challenging {
    color: yellow;
}

.hard {
    color: orange;
}

.epic {
    color: red;
}

.greaterThanEpic {
    color: rgb(255, 0, 255);
}