@import "variables.less";

.combat-type {
    flex: 1;
    margin: 0;
    font-size: var(--font-size-14);
    color: var(--color-text-light-5);
    text-align: center;
}

.difficulty {
    flex: 1;
    margin: 0;
    font-size: var(--font-size-16);
    text-align: center;
}

.encounter-stats-header {
    margin: 0;
    padding: 0.25em;
    border-bottom-style: solid;
    border-color: black;
    font-size: var(--font-size-14);
}

.encounter-header-col-left {
    flex: 3;
    text-align: left;
}

.encounter-header-col-right {
    flex: 1;
    align-self: center;
    text-align: center;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

li {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
}

.noPcs {
    color: var(--color-text-light-5);
}

.noEnemies {
    color: var(--color-text-light-5);
}

.lessThanEasy {
    color: white;
}

.easy {
    color: cyan;
}

.average {
    color: rgb(0, 255, 0);
}

.challenging {
    color: yellow;
}

.hard {
    color: orange;
}

.epic {
    color: red;
}

.greaterThanEpic {
    color: rgb(255, 0, 255);
}