:root {
  --sfrpg-theme-blue: #782e22;
}
::-webkit-scrollbar-thumb {
  background: var(--sfrpg-theme-blue);
}
@font-face {
  font-family: "Orbitron";
  src: url("fonts/orbitron-variablefont_wght.woff2") format("woff2");
}
@font-face {
  font-family: "Exo 2";
  src: url("fonts/exo2-variablefont_wght.woff2") format("woff2");
}
.orbitron {
  font-family: "Orbitron", sans-serif;
  font-size: var(--font-size-18);
  color: #444;
}
.exo2 {
  font-family: "Exo 2", sans-serif;
}
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}
.flexnowrap {
  flex-wrap: nowrap;
}
.sfrpg.sheet.item {
  min-width: 715px;
  min-height: 600px;
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Details Form                        */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Actions                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Actions                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Loot Sheet (No Tabs)                     */
  /* ----------------------------------------- */
}
.sfrpg.sheet.item .sheet-header img.profile {
  flex: 0 0 150px;
  height: 150px;
  border-right: 2px groove #eeede0;
}
.sfrpg.sheet.item .sheet-header .charname {
  flex: 5;
  padding: 5px 0 5px 5px;
}
.sfrpg.sheet.item .sheet-header .charname input[name="name"] {
  margin: 0;
  background: #00000010;
}
.sfrpg.sheet.item .sheet-header .item-subtitle {
  flex: 0 0 80px;
  height: 60px;
  margin: 0;
  padding: 5px 5px 5px 0;
  text-align: right;
  white-space: nowrap;
  color: #7a7971;
  flex: 1;
}
.sfrpg.sheet.item .sheet-header .item-subtitle .item-type {
  font-size: var(--font-size-24);
  line-height: 26px;
  margin: 0;
}
.sfrpg.sheet.item .sheet-header .item-subtitle .item-status {
  font-size: var(--font-size-16);
  line-height: 24px;
}
.sfrpg.sheet.item .sheet-header .source-wide {
  border-bottom: 2px groove #eeede0;
}
.sfrpg.sheet.item .sheet-header .source-wide li {
  width: 100%;
}
.sfrpg.sheet.item .sheet-header .summary {
  border-bottom: 2px groove #eeede0;
}
.sfrpg.sheet.item .sheet-header .summary li.short {
  flex: 1;
  padding-left: 5px;
}
.sfrpg.sheet.item .sheet-header .summary li.wide {
  flex: 2 3;
  margin-left: 8px;
  padding-right: 8px;
}
.sfrpg.sheet.item .sheet-header .summary :first-child {
  border-left: none;
}
.sfrpg.sheet.item .sheet-header ul.attributes {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 49px;
}
.sfrpg.sheet.item .sheet-header ul.attributes li.attribute {
  margin: 0;
  border: none;
  border-right: 2px groove #eeede0;
  border-radius: 0;
  font-family: "Exo 2", sans-serif;
  text-align: center;
}
.sfrpg.sheet.item .sheet-header ul.attributes li.attribute:last-child {
  border-right: none;
}
.sfrpg.sheet.item .sheet-header ul.attributes li.attribute .attribute-value {
  margin-top: -5px;
}
.sfrpg.sheet.item .sheet-header ul.attributes li.attribute .attribute-value input {
  display: inline;
  max-width: 80%;
  font-size: var(--font-size-16);
}
.sfrpg.sheet.item .sheet-header ul.attributes li.attribute .attribute-value span {
  font-size: var(--font-size-20);
}
.sfrpg.sheet.item .sheet-header ul.attributes li.attribute .attribute-value span.sep {
  display: inline;
  position: relative;
  font-size: var(--font-size-16);
  color: #7a7971;
}
.sfrpg.sheet.item .sheet-header ul.attributes li.attribute .attribute-value.multiple input {
  max-width: 33%;
}
.sfrpg.sheet.item .sheet-navigation {
  margin-bottom: 5px;
}
.sfrpg.sheet.item .sheet-navigation .item {
  font-size: var(--font-size-18);
}
.sfrpg.sheet.item .sheet-body {
  overflow: hidden auto;
}
.sfrpg.sheet.item .sheet-body .tab {
  padding: 0 5px;
}
.sfrpg.sheet.item .sheet-body .tab .details-navigation {
  margin-bottom: 5px;
}
.sfrpg.sheet.item .sheet-body .tab .details-navigation .item {
  font-size: var(--font-size-18);
}
.sfrpg.sheet.item .sheet-body .item-properties {
  max-height: 100%;
  flex: 0 0 120px;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 2px groove #eeede0;
  top: 0;
  position: sticky;
}
.sfrpg.sheet.item .sheet-body .item-properties .form-group {
  margin: 0;
}
.sfrpg.sheet.item .sheet-body .item-properties .form-group label {
  line-height: 20px;
}
.sfrpg.sheet.item .sheet-body .item-properties .form-group input {
  text-align: right;
}
.sfrpg.sheet.item .sheet-body .item-properties .form-group.equal {
  flex: 1;
}
.sfrpg.sheet.item .sheet-body .item-properties .properties-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sfrpg.sheet.item .sheet-body .item-properties .properties-list li {
  margin: 3px 0;
  padding: 0 1px;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  text-align: center;
  font-size: var(--font-size-12);
  line-height: 16px;
}
.sfrpg.sheet.item .sheet-body .item-properties .properties-list li hr {
  margin: 0;
}
.sfrpg.sheet.item .details .section-header {
  margin: 15px 0 0.25em 0;
  padding: 0 2px;
  font-family: "Exo 2", sans-serif;
  font-size: var(--font-size-18);
  border-bottom: 2px groove #eeede0;
}
.sfrpg.sheet.item .details .first {
  margin: 0 0 0.25em 0;
}
.sfrpg.sheet.item .details input[type="text"],
.sfrpg.sheet.item .details select {
  border: 1px solid #7a7971;
  background: rgba(0, 0, 0, 0.05);
}
.sfrpg.sheet.item .details input[type="text"].wide-form-field,
.sfrpg.sheet.item .details select.wide-form-field {
  flex: 3;
}
.sfrpg.sheet.item .details input[type="text"].min-form-field,
.sfrpg.sheet.item .details select.min-form-field {
  flex: 0;
}
.sfrpg.sheet.item .details .form-group.input-select select {
  flex: 1;
}
.sfrpg.sheet.item .details .form-group.input-select select[multiple] {
  height: 200px;
}
.sfrpg.sheet.item .details .form-group.input-select-select select {
  flex: 1.5;
}
.sfrpg.sheet.item .details .form-group.uses-per input {
  flex: 1;
}
.sfrpg.sheet.item .details .form-group.uses-per span {
  text-align: center;
  flex: 0 0 16px;
  line-height: 24px;
}
.sfrpg.sheet.item .details .form-group.uses-per select {
  flex: 0;
}
.sfrpg.sheet.item .details .form-group .calculated-total {
  flex: 0;
  color: #4b4a44;
}
.sfrpg.sheet.item .details span.sep {
  flex: 0 0 8px;
  line-height: 24px;
  text-align: center;
}
.sfrpg.sheet.item .details .prepared {
  flex: 1.3 !important;
  text-align: right;
  padding-right: 10px;
}
.sfrpg.sheet.item .details .spell-materials {
  flex: 0 0 100%;
  margin: 0.25em 0;
  justify-content: flex-end;
}
.sfrpg.sheet.item .details .spell-materials label {
  flex: 0 0 64px;
  text-align: right;
  margin-right: 5px;
  font-size: var(--font-size-12);
  line-height: 24px;
}
.sfrpg.sheet.item .details .spell-materials input[type="text"] {
  flex: 0 0 48px;
  margin-right: 10px;
}
.sfrpg.sheet.item h4.damage-header,
.sfrpg.sheet.item h4.visualization-header,
.sfrpg.sheet.item h4.ability-adjustments-header {
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 24px;
  color: #4b4a44;
}
.sfrpg.sheet.item ol.damage-parts,
.sfrpg.sheet.item ol.visualization-parts {
  border-top: groove 2px #fff;
}
.sfrpg.sheet.item ol.damage-parts img.part-image,
.sfrpg.sheet.item ol.visualization-parts img.part-image {
  flex: 0 0 50px;
  height: 50px;
}
.sfrpg.sheet.item li.damage-part,
.sfrpg.sheet.item li.visualization-part {
  border-bottom: groove 2px #fff;
}
.sfrpg.sheet.item .damage-parts,
.sfrpg.sheet.item .visualization-parts,
.sfrpg.sheet.item .ability-adjustment-parts {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sfrpg.sheet.item .damage-parts .damage-part,
.sfrpg.sheet.item .visualization-parts .damage-part,
.sfrpg.sheet.item .ability-adjustment-parts .damage-part,
.sfrpg.sheet.item .damage-parts .visualization-part,
.sfrpg.sheet.item .visualization-parts .visualization-part,
.sfrpg.sheet.item .ability-adjustment-parts .visualization-part,
.sfrpg.sheet.item .damage-parts .ability-adjustment-part,
.sfrpg.sheet.item .visualization-parts .ability-adjustment-part,
.sfrpg.sheet.item .ability-adjustment-parts .ability-adjustment-part {
  flex: 0 0 100%;
  padding: 0;
}
.sfrpg.sheet.item .damage-parts .damage-part input,
.sfrpg.sheet.item .visualization-parts .damage-part input,
.sfrpg.sheet.item .ability-adjustment-parts .damage-part input,
.sfrpg.sheet.item .damage-parts .visualization-part input,
.sfrpg.sheet.item .visualization-parts .visualization-part input,
.sfrpg.sheet.item .ability-adjustment-parts .visualization-part input,
.sfrpg.sheet.item .damage-parts .ability-adjustment-part input,
.sfrpg.sheet.item .visualization-parts .ability-adjustment-part input,
.sfrpg.sheet.item .ability-adjustment-parts .ability-adjustment-part input {
  flex: 3;
}
.sfrpg.sheet.item .damage-parts .damage-part select,
.sfrpg.sheet.item .visualization-parts .damage-part select,
.sfrpg.sheet.item .ability-adjustment-parts .damage-part select,
.sfrpg.sheet.item .damage-parts .visualization-part select,
.sfrpg.sheet.item .visualization-parts .visualization-part select,
.sfrpg.sheet.item .ability-adjustment-parts .visualization-part select,
.sfrpg.sheet.item .damage-parts .ability-adjustment-part select,
.sfrpg.sheet.item .visualization-parts .ability-adjustment-part select,
.sfrpg.sheet.item .ability-adjustment-parts .ability-adjustment-part select {
  margin-left: 5px;
  flex: 1;
}
.sfrpg.sheet.item .damage-parts .damage-part .visualization-part-mode,
.sfrpg.sheet.item .visualization-parts .damage-part .visualization-part-mode,
.sfrpg.sheet.item .ability-adjustment-parts .damage-part .visualization-part-mode,
.sfrpg.sheet.item .damage-parts .visualization-part .visualization-part-mode,
.sfrpg.sheet.item .visualization-parts .visualization-part .visualization-part-mode,
.sfrpg.sheet.item .ability-adjustment-parts .visualization-part .visualization-part-mode,
.sfrpg.sheet.item .damage-parts .ability-adjustment-part .visualization-part-mode,
.sfrpg.sheet.item .visualization-parts .ability-adjustment-part .visualization-part-mode,
.sfrpg.sheet.item .ability-adjustment-parts .ability-adjustment-part .visualization-part-mode {
  flex: 0 0 220px;
  line-height: 20px;
}
.sfrpg.sheet.item .damage-parts .damage-part .visualization-part-mode span,
.sfrpg.sheet.item .visualization-parts .damage-part .visualization-part-mode span,
.sfrpg.sheet.item .ability-adjustment-parts .damage-part .visualization-part-mode span,
.sfrpg.sheet.item .damage-parts .visualization-part .visualization-part-mode span,
.sfrpg.sheet.item .visualization-parts .visualization-part .visualization-part-mode span,
.sfrpg.sheet.item .ability-adjustment-parts .visualization-part .visualization-part-mode span,
.sfrpg.sheet.item .damage-parts .ability-adjustment-part .visualization-part-mode span,
.sfrpg.sheet.item .visualization-parts .ability-adjustment-part .visualization-part-mode span,
.sfrpg.sheet.item .ability-adjustment-parts .ability-adjustment-part .visualization-part-mode span {
  margin: 0px 0px 0px 4px;
}
.sfrpg.sheet.item .damage-parts .damage-part .visualization-part-mode select,
.sfrpg.sheet.item .visualization-parts .damage-part .visualization-part-mode select,
.sfrpg.sheet.item .ability-adjustment-parts .damage-part .visualization-part-mode select,
.sfrpg.sheet.item .damage-parts .visualization-part .visualization-part-mode select,
.sfrpg.sheet.item .visualization-parts .visualization-part .visualization-part-mode select,
.sfrpg.sheet.item .ability-adjustment-parts .visualization-part .visualization-part-mode select,
.sfrpg.sheet.item .damage-parts .ability-adjustment-part .visualization-part-mode select,
.sfrpg.sheet.item .visualization-parts .ability-adjustment-part .visualization-part-mode select,
.sfrpg.sheet.item .ability-adjustment-parts .ability-adjustment-part .visualization-part-mode select {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 0px;
  margin-right: 2px;
}
.sfrpg.sheet.item .damage-parts .damage-part .visualization-part-middle,
.sfrpg.sheet.item .visualization-parts .damage-part .visualization-part-middle,
.sfrpg.sheet.item .ability-adjustment-parts .damage-part .visualization-part-middle,
.sfrpg.sheet.item .damage-parts .visualization-part .visualization-part-middle,
.sfrpg.sheet.item .visualization-parts .visualization-part .visualization-part-middle,
.sfrpg.sheet.item .ability-adjustment-parts .visualization-part .visualization-part-middle,
.sfrpg.sheet.item .damage-parts .ability-adjustment-part .visualization-part-middle,
.sfrpg.sheet.item .visualization-parts .ability-adjustment-part .visualization-part-middle,
.sfrpg.sheet.item .ability-adjustment-parts .ability-adjustment-part .visualization-part-middle {
  flex: 0 0 58px;
  align-items: center;
  justify-content: center;
}
.sfrpg.sheet.item .damage-parts .damage-part .visualization-part-title,
.sfrpg.sheet.item .visualization-parts .damage-part .visualization-part-title,
.sfrpg.sheet.item .ability-adjustment-parts .damage-part .visualization-part-title,
.sfrpg.sheet.item .damage-parts .visualization-part .visualization-part-title,
.sfrpg.sheet.item .visualization-parts .visualization-part .visualization-part-title,
.sfrpg.sheet.item .ability-adjustment-parts .visualization-part .visualization-part-title,
.sfrpg.sheet.item .damage-parts .ability-adjustment-part .visualization-part-title,
.sfrpg.sheet.item .visualization-parts .ability-adjustment-part .visualization-part-title,
.sfrpg.sheet.item .ability-adjustment-parts .ability-adjustment-part .visualization-part-title {
  justify-content: center;
}
.sfrpg.sheet.item .damage-parts .damage-part .visualization-part-delete,
.sfrpg.sheet.item .visualization-parts .damage-part .visualization-part-delete,
.sfrpg.sheet.item .ability-adjustment-parts .damage-part .visualization-part-delete,
.sfrpg.sheet.item .damage-parts .visualization-part .visualization-part-delete,
.sfrpg.sheet.item .visualization-parts .visualization-part .visualization-part-delete,
.sfrpg.sheet.item .ability-adjustment-parts .visualization-part .visualization-part-delete,
.sfrpg.sheet.item .damage-parts .ability-adjustment-part .visualization-part-delete,
.sfrpg.sheet.item .visualization-parts .ability-adjustment-part .visualization-part-delete,
.sfrpg.sheet.item .ability-adjustment-parts .ability-adjustment-part .visualization-part-delete {
  flex: 0 0 30px;
}
.sfrpg.sheet.item .damage-parts .visualization-part,
.sfrpg.sheet.item .visualization-parts .visualization-part,
.sfrpg.sheet.item .ability-adjustment-parts .visualization-part {
  padding-bottom: 4px;
}
.sfrpg.sheet.item .damage-control,
.sfrpg.sheet.item .visualization-control,
.sfrpg.sheet.item .ability-adjustments-control {
  line-height: 24px;
  color: #7a7971;
  text-align: right;
}
.sfrpg.sheet.item .damage-control,
.sfrpg.sheet.item .visualization-control {
  width: 18px;
  flex: 0 0 18px;
  float: right;
}
.sfrpg.sheet.item .ability-adjustments-control {
  width: 110px;
  flex: 0 0 20px;
}
.sfrpg.sheet.item .recharge span {
  line-height: 24px;
  flex: 0 0 80px;
}
.sfrpg.sheet.item .recharge label.checkbox {
  flex: 0 0 80px;
  text-align: right;
}
.sfrpg.sheet.item .item-descriptors label.checkbox,
.sfrpg.sheet.item .weapon-properties label.checkbox {
  flex: 0 0 130px;
}
.sfrpg.sheet.item .loot-header {
  margin-bottom: 10px;
}
.sfrpg.sheet.item .inventory-list {
  list-style: none;
  margin: 0;
  padding: 0 5px;
  overflow-y: auto;
}
.sfrpg.sheet.item .inventory-list .item {
  line-height: 45px;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.sfrpg.sheet.item .inventory-list .item:last-child {
  border-bottom: none;
}
.sfrpg.sheet.item .inventory-list .item .item-name {
  cursor: pointer;
}
.sfrpg.sheet.item .inventory-list .item .item-name.modifier-name {
  cursor: default;
  overflow-wrap: anywhere;
}
.sfrpg.sheet.item .inventory-list .item .item-name .item-image {
  flex: 0 0 25px;
  margin-right: 5px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.sfrpg.sheet.item .inventory-list .item .item-name h4 {
  margin: 0;
}
.sfrpg.sheet.item .inventory-list .item .item-name:hover .item-image {
  background-image: url("../../icons/svg/d20-grey.svg") !important;
}
.sfrpg.sheet.item .inventory-list .item .item-name .item-image:hover {
  background-image: url("../../icons/svg/d20-black.svg") !important;
}
.sfrpg.sheet.item .inventory-list .item .item-name .item-action {
  flex: 0 0 15%;
  flex-direction: row;
  padding: 1px 0;
}
.sfrpg.sheet.item .inventory-list .item .item-name .item-action .attack {
  width: auto;
  background: #235683;
  color: #fff;
  cursor: pointer;
  padding: 1px 6px;
}
.sfrpg.sheet.item .inventory-list .item .item-name .item-action .attack:hover,
.sfrpg.sheet.item .inventory-list .item .item-name .item-action .attack:focus {
  box-shadow: 0 0 5px #235683;
}
.sfrpg.sheet.item .inventory-list .item .item-name .item-action .damage {
  width: auto;
  background: #c41e1e;
  color: #fff;
  cursor: pointer;
}
.sfrpg.sheet.item .inventory-list .item .item-name .item-action .healing {
  width: auto;
  background: #179c17;
  color: #fff;
  cursor: pointer;
}
.sfrpg.sheet.item .inventory-list .item .item-name .item-action .healing:hover,
.sfrpg.sheet.item .inventory-list .item .item-name .item-action .healing:focus {
  box-shadow: 0 0 5px #179c17;
}
.sfrpg.sheet.item .inventory-list .item .item-properties {
  margin-top: 3px;
}
.sfrpg.sheet.item .inventory-list .item .item-recharge {
  flex: 0 0 80px;
  text-align: right;
  font-size: var(--font-size-11);
  color: #7a7971;
}
.sfrpg.sheet.item .inventory-list .inventory-header {
  margin: 2px 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
  line-height: 24px;
}
.sfrpg.sheet.item .inventory-list .inventory-header h3 {
  margin: 0 -5px 0 0;
  padding-left: 5px;
  font-size: var(--font-size-13);
  font-weight: bold;
}
.sfrpg.sheet.item .inventory-list .inventory-header .item-controls a.modifier-create {
  flex: 0 0 100%;
}
.sfrpg.sheet.item .inventory-list .item-detail {
  flex: 0 0 80px;
  font-size: var(--font-size-12);
  color: #7a7971;
  text-align: center;
  border-right: 1px solid #c9c7b8;
}
.sfrpg.sheet.item .inventory-list .item-detail.modifier-effect-type {
  flex: 0 0 160px;
}
.sfrpg.sheet.item .inventory-list .item-detail.modifier-value-affected {
  flex: 0 0 120px;
}
.sfrpg.sheet.item .inventory-list .item-detail.modifier-type {
  flex: 0 0 95px;
}
.sfrpg.sheet.item .inventory-list .item-detail:last-child {
  border-right: none;
}
.sfrpg.sheet.item .inventory-list .item-weight {
  flex: 0 0 60px;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
}
.sfrpg.sheet.item .inventory-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sfrpg.sheet.item .inventory-list .item-controls {
  flex: 0 0 66px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: flex-end;
}
.sfrpg.sheet.item .inventory-list .item-controls > * {
  flex: 1;
}
.sfrpg.sheet.item .inventory-list .item-controls .flex1 {
  flex: 1;
}
.sfrpg.sheet.item .inventory-list .item-controls .flex2 {
  flex: 2;
}
.sfrpg.sheet.item .inventory-list .item-controls .flex3 {
  flex: 3;
}
.sfrpg.sheet.item .inventory-list .item-controls .flex4 {
  flex: 4;
}
.sfrpg.sheet.item .inventory-list .item-controls a {
  flex: 0 0 22px;
  font-size: var(--font-size-11);
  text-align: center;
  color: #666;
}
.sfrpg.sheet.item .inventory-list .item-controls a .item-create,
.sfrpg.sheet.item .inventory-list .item-controls a .modifier-create {
  flex: 0 0 100%;
}
.sfrpg.sheet.item .inventory-list .item-summary {
  flex: 0 0 100%;
  font-size: var(--font-size-12);
  line-height: 16px;
  padding: 0.25em 0.5em;
  border-top: 1px solid #c9c7b8;
}
.sfrpg.sheet.item .spells-known th {
  text-align: center;
}
.sfrpg.sheet.item .spells-known th.class-level {
  width: 60px;
}
.sfrpg.sheet.item .spells-known td {
  text-align: center;
}
.sfrpg.sheet.item .error {
  color: #c00;
  text-align: left;
}
