@import './variables.less';

.sfrpg.sheet.actor.starship {
    img.profile {
        flex: 0 0 180px;
        height: 180px;
    }

    .form-header {
        margin-top: 5px;
        padding: 0 5px;
    }

    .form-group {
        padding: 0 5px;

        .form-fields input[type="text"],
        .form-fields select {
            border: 1px solid @colorTan;
            background: rgba(0, 0, 0, 0.05);
          }
    }

    .traits {
        margin: 0;
    }

    .sheet-header {
        .header-details {
            .header-background {
                .charname {
                    flex: 1;
                }

                .charlevel {
                    .level.noxp {
                        margin-top: 0 !important;

                        input {
                            width: 60px;
                        }
                    }
                }
            }
        }

        .summary {
            border-bottom: @borderGroove;

            .no-frame {
                color: #E00;
                text-shadow: -1px -1px 0 #A66, 1px -1px 0 #A66, -1px 1px 0 #A66, 1px 1px 0 #A66;
            }
        }

        // Primary Attributes
        .attributes {
            height: 80px;
            margin: 0;

            .attribute {
                height: 80px;
                margin: 0;
                border: none;
                border-right: @borderGroove;
                border-radius: 0;

                &:last-child {
                    border-right: none;
                }

                .attribute-value {
                    margin: 5px 0 0;
                    height: 32px;
                    line-height: 32px;

                    span {
                        flex: 0 0 80px;
                        font-size: 24px;
                    }
                }

                .attribute-name {
                    margin-top: 6px;
                }

                .attribute-footer {
                    margin-bottom: 2px;
                }
            }
        }
    }

    .sheet-body {
        .attributes {
            .attribute {
                &.defenses {
                    height: 140px;
                }

                .attribute-value span {
                    font-size: 24px;
                }

                .attribute-value {
                    label {
                        font-size: 16px;

                        &.rightAligned {
                            text-align: right;
                        }

                        &.notInstalled {
                            flex: 6;
                            font-size: 12px;
                            text-align: left;
                        }
                    }

                    .name {
                        flex: 6;
                    }

                    .quadrantText {
                        flex: 2;
                        font-size: 16px;
                    }

                    .quadrantFiller {
                        flex: 4;
                    }

                    input {
                        &.quadrantDefense {
                            flex: 2;
                            text-align: center;
                        }
                    }
                }
            }
        }

        a.critical-edit,
        i.fas {
            flex: 0 0 22px;
            font-size: 10px;
            text-align: center;
            color: #666;
        }
    }

    .item-controls {
      flex: 0 0 66px;
    }

    .crew-controls {
      flex: 0 0 80px;
    }

    .crew-settings {
        margin: 0 8px;
        flex: 0 0 20px;
        h3, .filter-title {
            // .nodesto();
            .exo2();
            color: @colorOlive;
            font-size: 18px;
            margin: 0;
        }

        .settings {
            list-style: none;
            margin: 4px 0 3px;
            padding: 0;
            font-size: 12px;

            label {
                margin-left: 8px;
                text-align: right;
                line-height: 20px;
            }
        }
    }

    .action-list {
        list-style: none;
        margin: 0;
        padding: 0 5px;
        overflow-y: auto;

        &.noPadding {
            padding: 0;
        }

        // Inventory Item
        .action {
            line-height: 45px;
            padding: 0 2px; // to align with the header border
            border-bottom: 1px solid @colorBeige;
            &:last-child { border-bottom: none; }

            &.small {
                line-height: 25px;
            }

            &.container {
                // This is the @blueGradientBackground color from variables.less, but with transparency
                background: linear-gradient(130deg, rgba(12,45,74,0.1) 0%, rgba(35,86,131,0.1) 40%, rgba(35,86,131,0.1) 60%, rgba(29,125,209,0.1) 100%);
            }

            // Item Header Name
            .action-name {
                cursor: pointer;
                flex: 3;

                &.modifier-name {
                    cursor: default;
                }

                .action-image {
                    flex: 0 0 45px;
                    background-size: 45px;
                    margin-right: 5px;

                    &.small {
                    flex: 0 0 25px;
                    background-size: 25px;
                    margin-right: 2px;
                    }
                }

                h4 {
                    margin: 0;
                }

                &:hover .action-image {
                    background-image: url("../../icons/svg/d20-grey.svg") !important;
                }

                .action-image:hover {
                    background-image: url("../../icons/svg/d20-black.svg") !important;
                }
            }

            .item-summary {
                flex: 0 0 100% !important;
                font-size: 12px;
                line-height: 18px;
                padding: 0.25em 0.5em;
                padding-top: 7px;
                padding-bottom: 7px;
                border-top: 1px solid #c9c7b8;
                }

            .action-phase {
                flex: 2;
            }

            .action-resolve {
                flex: 1;
            }
        }

        // Inventory Header
        .action-header {
            margin: 2px 0;
            padding: 0;
            background: rgba(0, 0, 0, 0.05);
            border: @borderGroove;
            font-weight: bold;
            line-height: 24px;

            &.disabled {
                h3 {
                    color: gray;
                }
            }

            h3 {
                margin: 0 -5px 0 0;
                padding-left: 5px;
                font-size: 13px;
                font-weight: bold;
            }
        }

        .action-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .action-list-child {
            list-style: none;
            width: 97%;
            margin: 0 0 0 3%;
            padding: 0;
        }
    }
}
