<nav class="sheet-subnavigation subtabs" data-group="modifiers">
    <a class="item active" data-tab="permanent">Permanent</a>
    <a class="item" data-tab="test">Test</a>
    <a class="item" data-tab="test2">Test 2</a>
    <a class="item" data-tab="test3">Test 3</a>
    <a class="item" data-tab="test4">Test 4</a>
    <a class="item" data-tab="test5">Test 5</a>
</nav>
<section class="modifiers-body">
    
    <div class="tab permanent flexrow" data-group="modifiers" data-tab="permanent">
        <ol class="inventory-list">
            <li class="item flexrow inventory-header modifiers-header">
                <div class="item-name flexrow">
                    <h3>Permanent</h3>
                </div>

                <div class="modifier-modifer">Modifier</div>
                <div class="type">Type</div>
                {{#if owner}}
                <div class="item-controls">
                    <a class="item-control item-create" title="Add Modifier">
                        <i class="fas fa-plus"></i> Add
                    </a>
                </div>
                {{/if}}
            </li>
        </ol>
    </div> 
    <div class="tab test flexrow" data-group="modifiers" data-tab="test">
        <p class="notification warning">Placeholder</p>
    </div>
    <div class="tab test flexrow" data-group="modifiers" data-tab="test2">
        <p class="notification warning">Placeholder</p>
    </div>
    <div class="tab test flexrow" data-group="modifiers" data-tab="test3">
        <p class="notification warning">Placeholder</p>
    </div>
    <div class="tab test flexrow" data-group="modifiers" data-tab="test4">
        <p class="notification warning">Placeholder</p>
    </div>
    <div class="tab test flexrow" data-group="modifiers" data-tab="test5">
        <p class="notification warning">Placeholder</p>
    </div>
</section>