<div class="inventory-filters">

    {{#if (or isCharacter isDrone)}}
    <ol class="currency flexrow">
        <h3>
            {{localize "SFRPG.InventoryCurrency"}}
            <i class="fas fa-coins"></i>
        </h3>
        <label class="denomination" data-tippy-content="{{localize "SFRPG.ActorSheet.Inventory.ItemValue.Tooltip"}}">{{localize "SFRPG.ActorSheet.Inventory.ItemValue.Label"}}</label>
        <label class="denomination currency-value" data-tippy-content="{{localize "SFRPG.ActorSheet.Inventory.ItemValue.Tooltip"}}">{{inventoryValue}}</label>
        {{#each data.currency as |v k|}}
        <label class="denomination {{k}}">{{ lookup ../config.currencies k }}</label>
        <input type="text" name="data.currency.{{k}}" value="{{v}}" data-dtype="Number"/>
        {{/each}}
    </ol>
    {{/if}}
</div>

<ol class="inventory-list">
{{#each sections as |section sid|}}
    <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">{{section.label}}</h3>

        {{#if ../isCharacter}}
        <div class="item-detail item-weight">{{localize "SFRPG.InventoryBulk"}}</div>
        {{/if}}

        <div class="item-detail item-uses">{{localize "SFRPG.InventoryCapacity"}}</div>
        <div class="item-detail item-action">{{localize "SFRPG.InventoryUsage"}}</div>

        {{#if ../owner}}
        <div class="item-controls">
            <a class="item-control item-create" title="{{localize "SFRPG.ActorSheet.Inventory.Item.Create"}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                <i class="fas fa-plus"></i> {{localize "SFRPG.InventoryAdd"}}
            </a>
        </div>
        {{/if}}
    </li>

    <ol class="item-list">
    {{#each section.items as |item iid|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url({{item.img}})"></div>
                <h4>
                    {{~#if item.isStack}}({{item.data.quantity}}) {{/if}}
                    {{item.name~}}
                </h4>
                {{#if item.hasAttack}}
                <div class="item-action flexcol">
                    <button class="tag attack">{{localize "SFRPG.Attack"}}</button>
                    <button class="tag damage">{{localize "SFRPG.Damage"}}</button>
                </div>
                {{/if}}
            </div>
            
            {{#if ../../isCharacter}}
            <div class="item-detail item-weight">
                {{#if item.totalWeight}}
                <div class="item-detail">
                    {{ item.totalWeight }}
                </div>
                {{/if}}
            </div>
            {{/if}}

            <div class="item-detail item-uses">
                {{#if item.hasCapacity}}
                {{item.data.capacity.value}} / {{item.data.capacity.max}}
                &nbsp;
                <a class="item-control reload" title="{{localize "SFRPG.ActorSheet.Inventory.Weapon.Reload"}}"><i class="fas fa-redo"></i></a>
                {{/if}}
            </div>

            <div class="item-detail item-action">
                {{#if item.hasCapacity }}
                {{item.data.usage.value}} / {{item.data.usage.per}}
                {{/if}}
            </div>

            {{#if ../../owner}}
            <div class="item-controls">
                {{#if (or (eq item.type "weapon") (eq item.type "equipment"))}}
                {{#if item.data.equipped}}
                <a class="item-control item-equip" title="{{localize "SFRPG.ActorSheet.Inventory.Item.Equip"}}"><i class="fas fa-check"></i></a>
                {{else}}
                <a class="item-control item-equip" title="{{localize "SFRPG.ActorSheet.Inventory.Item.Unequip"}}"><i class="far fa-square"></i></a>
                {{/if}}
                {{/if}}
                <a class="item-control item-edit" title="{{localize "SFRPG.ActorSheet.Inventory.Item.Edit"}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize "SFRPG.ActorSheet.Inventory.Item.Delete"}}"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
        </li>
    {{/each}}
    </ol>
{{/each}}
</ol>


{{#if (or isCharacter isDrone) }}
{{#with data.attributes.encumbrance}}
<div class="encumbrance {{#if encumbered}}encumbered{{/if}}">
    <span class="encumbrance-bar" style="width:{{pct}}%"></span>
    <span class="encumbrance-label">{{value}} / {{max}}</span>
    <div class="encumbrance-breakpoint arrow-up"></div>
    <div class="encumbrance-breakpoint arrow-down"></div>
</div>
{{/with}}
{{/if}}