<div class="inventory-filters">
    <ul class="filter-list flexrow" data-filter="features">
        <li class="filter-title">{{localize "SFRPG.FeaturesFilter"}}</li>
        <li class="filter-item" data-filter="action">Action</li>
        <li class="filter-item" data-filter="bonus">Bonus</li>
        <li class="filter-item" data-filter="reaction">Reaction</li>
    </ul>
</div>

<ol class="inventory-list">
{{#each sections as |section sid|}}
    <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">{{section.label}}</h3>

        {{#if section.hasActions}}
        <div class="item-detail item-uses">{{localize "SFRPG.FeaturesCharges"}}</div>
        <div class="item-detail item-action">{{localize "SFRPG.FeaturesUsage"}}</div>
        {{/if}}

        {{#if ../owner}}
        <div class="item-controls">
            {{#if section.dataset.type}}
            <a class="item-control item-create" title="Create Item" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                <i class="fas fa-plus"></i> {{localize "SFRPG.FeaturesAdd"}}
            </a>
            {{/if}}
        </div>
        {{/if}}
    </li>

    <ol class="item-list">
    {{#each section.items as |item iid|}}
        {{> "systems/sfrpg/templates/actors/parts/actor-features-item.html" ../../this section=section item=item}}
    {{/each}}
    </ol>
{{/each}}
</ol>
