<div>
    <p class="notification warning">Placeholder</p>
</div>

<ol class="inventory-list">
    <li class="item flexrow inventory-header modifiers-header">
        <div class="item-name flexrow">
            <h3>Permanent</h3>
        </div>

        <div class="modifier-modifer">Modifier</div>
        <div class="type">Type</div>
        {{#if owner}}
        <div class="item-controls">
            <a class="item-control item-create" title="Add Modifier">
                <i class="fas fa-plus"></i> Add
            </a>
        </div>
        {{/if}}
    </li>
</ol>