<nav class="sheet-subnavigation subtabs" data-group="modifiers">
    {{#each sections as |section sid|}}
    <a class="item" data-tab="{{section.dataset.subtab}}">{{localize section.label}}</a>
    {{/each}}
</nav>
<section class="modifiers-body">
    {{#each sections as |section sid|}}
    {{#unless section.isConditions}}
    <div class="tab {{section.dataset.subtab}} flexrow" data-group="modifiers" data-tab="{{section.dataset.subtab}}">
        <ol class="inventory-list">
            <li class="item flexrow inventory-header modifiers-header">
                <div class="item-name flexrow">
                    <h3>Name</h3>
                </div>

                <div class="modifier">Modifier</div>
                <div class="modifier-type">Type</div>
                {{#if ../owner}}
                <div class="item-controls">
                    <a class="item-control item-create" title="Add Modifier">
                        <i class="fas fa-plus"></i> Add
                    </a>
                </div>
                {{/if}}
            </li>

            <ol class="modifier-list item-list">
                {{#each section.modifiers as |modifier mid|}}
                <li class="item modifier flexrow" data-modifier-id="{{modifier._id}}">
                    <div class="item-name modifier-name flexrow">
                        <h4>{{~modifier.name~}}</h4>
                    </div>
                </li>
                {{/each}}
            </ol>
        </ol>
    </div>
    {{else}}
    <div class="tab {{section.dataset.subtab}} flexrow" data-group="modifiers" data-tab="{{section.dataset.subtab}}">
        <div class="form-group stacked conditions">
            {{#each ../config.conditionTypes as |condition name|}}
            <label class="checkbox">
                <input type="checkbox" name="data.conditions.{{name}}" {{checked (lookup ../../data.conditions name)}} /> {{condition}}
            </label>
            {{/each}}
        </div>
    </div>
    {{/unless}}
    {{/each}}
</section>