        <li class="item flexrow {{#unless isCharged}}uncharged{{/unless}}" data-item-id="{{item._id}}">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url({{item.img}})"></div>
                <h4>
                    {{#if item.data.isFree}}[{{localize "SFRPG.DroneSheet.Features.ModsFree"}}] {{/if}}
                    {{item.name}}
                </h4>
                {{#if (or item.hasAttack item.hasDamage)}}
                <div class="item-action flexcol">
                    {{#if item.hasAttack}}
                    <button class="tag attack">{{localize "SFRPG.Attack"}}</button>
                    {{/if}}
                    {{#if item.hasDamage}}
                        {{#if (eq item.data.actionType "heal")}}
                            <button class="tag healing">{{localize "SFRPG.ActionHeal"}}</button>
                        {{else}}
                            <button class="tag damage">{{localize "SFRPG.Damage"}}</button>
                        {{/if}}
                    {{/if}}
                </div>
                {{/if}}
            </div>

            {{#if section.hasActions}}
            <div class="item-detail item-uses">
                {{#if item.data.uses.value}}
                    {{item.data.uses.value}} / {{item.data.uses.max}}
                {{else if item.data.recharge.value}}
                    {{#if item.isOnCooldown}}
                        <a class="item-recharge rollable">{{item.labels.recharge}}</a>
                    {{else}}
                        {{localize "SFRPGE.Charged"}}
                    {{/if}}
                {{else if item.hasCapacity}}
                    {{item.data.capacity.value}} / {{item.data.capacity.max}}
                    {{#if owner}}
                    &nbsp;
                    <a class="item-control reload" title="{{localize "SFRPG.ActorSheet.Inventory.Weapon.Reload"}}"><i class="fas fa-redo"></i></a>
                    {{/if}}
                {{/if}}
            </div>
            <div class="item-detail item-action">
                {{#if item.data.activation.type }}
                    {{item.labels.activation}}
                {{/if}}
                {{#if item.hasCapacity}}
                    {{item.data.usage.value}} / {{item.data.usage.per}}
                {{/if}}
            </div>

            {{else if section.isClass}}
            <div class="item-detail player-class">
                {{item.data.subclass}}
            </div>
            <div class="item-detail">
                Level {{item.data.levels}}
            </div>
            {{else if section.isRace}}
            <div class="item-detail player-race">
                {{item.data.type}}
            </div>
            {{/if}}

            {{#if owner}}
            <div class="item-controls">
                {{#if (not disableEquipping)}}
                {{#if (or (or (or (eq item.type "shield") (eq item.type "weapon")) (eq item.type "equipment")) (eq item.type "container"))}}
                {{#if item.data.equipped}}
                <a class="item-control item-equip" title="{{localize "SFRPG.ActorSheet.Inventory.Item.Equip"}}"><i class="fas fa-check"></i></a>
                {{else}}
                <a class="item-control item-equip" title="{{localize "SFRPG.ActorSheet.Inventory.Item.Unequip"}}"><i class="far fa-square"></i></a>
                {{/if}}
                {{/if}}
                {{/if}}
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
        </li>