<div class="traits">
    <div class="form-group">
        <label>{{localize "SFRPG.Size"}}</label>
        <select class="actor-size" name="data.traits.size">
            {{#select data.traits.size}}
            {{#each config.actorSizes as |label size|}}
                <option value="{{size}}">{{label}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{localize "SFRPG.KeyAbility"}}</label>
        <select class="actor-keyability" name="data.attributes.keyability">
            {{#select data.attributes.keyability}}
            <option value="">Choose One</option>
            {{#each config.abilities as |label abl|}}
                <option value="{{abl}}">{{label}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group {{#unless data.traits.senses}}inactive{{/unless}}">
        <label>{{localize "SFRPG.Senses"}}</label>
        <input type="text" name="data.traits.senses" value="{{data.traits.senses}}" placeholder="None"/>
    </div>

    <div class="form-group">
        <label>{{localize "SFRPG.NumberOfArms"}}</label>
        <input type="text" name="data.attributes.arms" value="{{data.attributes.arms}}" />
    </div>
    
    <div class="form-group">
        <label>{{localize "SFRPG.SpellResistance"}}</label>
        <input type="text" name="data.traits.sr" value="{{data.traits.sr}}" data-dtype="Number" />
    </div>
    
    <div class="form-group damage-reduction">
        <label>{{localize "SFRPG.DamageReduction"}}</label>
        <input type="text" name="data.traits.damageReduction.value" value="{{data.traits.damageReduction.value}}" data-dtype="Number" />
        <span class="sep">/</span>
        <input type="text" name="data.traits.damageReduction.negatedBy" value="{{data.traits.damageReduction.negatedBy}}" />
    </div>

    <div class="form-group {{data.traits.languages.cssClass}}">
        <label for="data.traits.languages">{{localize "SFRPG.Languages"}}</label>
        <ul class="traits-list">
        {{#each data.traits.languages.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
        <a class="trait-selector" data-options="languages"><i class="fas fa-edit"></i></a>
    </div>

    <div class="form-group {{data.traits.dr.cssClass}}">
        <label for="data.traits.dr">{{localize "SFRPG.DamRes"}}</label>
        <ul class="traits-list">
        {{#each data.traits.dr.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
        <a class="trait-selector" data-options="energyDamageTypes"><i class="fas fa-edit"></i></a>
    </div>

    <div class="form-group {{data.traits.dv.cssClass}}">
        <label for="data.traits.dv">{{localize "SFRPG.DamVuln"}}</label>
        <ul class="traits-list">
        {{#each data.traits.dv.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
        <a class="trait-selector" data-options="damageTypes"><i class="fas fa-edit"></i></a>
    </div>

    <div class="form-group {{data.traits.di.cssClass}}">
        <label for="data.traits.di">{{localize "SFRPG.DamImm"}}</label>
        <ul class="traits-list">
        {{#each data.traits.di.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
        <a class="trait-selector" data-options="damageTypes"><i class="fas fa-edit"></i></a>
    </div>

    <div class="form-group {{data.traits.ci.cssClass}}">
        <label for="data.traits.ci">{{localize "SFRPG.ConImm"}}</label>
        <ul class="traits-list">
        {{#each data.traits.ci.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
        <a class="trait-selector" data-options="conditionTypes"><i class="fas fa-edit"></i></a>
    </div>

    {{#if isCharacter}}
    <div class="form-group {{data.traits.weaponProf.cssClass}}">
        <label for="data.traits.weaponProf">{{localize "SFRPG.TraitWeaponProf"}}</label>
        <ul class="traits-list">
        {{#each data.traits.weaponProf.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
        <a class="trait-selector" data-options="weaponProficiencies"><i class="fas fa-edit"></i></a>
    </div>

    <div class="form-group {{data.traits.armorProf.cssClass}}">
        <label for="data.traits.armorProf">{{localize "SFRPG.TraitArmorProf"}}</label>
        <ul class="traits-list">
        {{#each data.traits.armorProf.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
        <a class="trait-selector" data-options="armorProficiencies"><i class="fas fa-edit"></i></a>
    </div>
    {{/if}}

    <div class="form-group ">
        <label>{{localize "SFRPG.SpecialTraits"}}</label>
        <a class="configure-flags"><i class="fas fa-cog"></i></a>
    </div>
</div>