        <li class="item {{#if (not bigItem)}}small{{/if}} {{#if (eq item.type "container")}}container{{/if}} flexrow" data-item-id="{{item._id}}">
            <div class="item-name flexrow {{#if (not disableRolling)}}rollable{{/if}}">
                <div class="item-image {{#if (not bigItem)}}small{{/if}}" style="background-image: url({{item.img}})"></div>
                <h4>
                    {{~#if item.isStack}}({{item.data.quantity}}) {{/if}}
                    {{item.name~}}
                </h4>
                {{#if (and owner (and bigItem (or item.hasAttack item.hasDamage)))}}
                <div class="item-action flexcol">
                    {{#if item.hasAttack}}
                    <button class="tag attack">{{localize "SFRPG.Attack"}}</button>
                    {{/if}}
                    {{#if item.hasDamage}}
                        {{#if (eq item.data.actionType "heal")}}
                            <button class="tag healing">{{localize "SFRPG.ActionHeal"}}</button>
                        {{else}}
                            <button class="tag damage">{{localize "SFRPG.Damage"}}</button>
                        {{/if}}
                    {{/if}}
                </div>
                {{/if}}
            </div>
            
            {{#unless onlyControls}}
            {{#if isCharacter}}
            <div class="item-detail item-weight">
                {{#if item.totalWeight}}
                <div class="item-detail">
                    {{ item.totalWeight }}
                </div>
                {{/if}}
            </div>
            {{/if}}

            <div class="item-detail item-uses">
                {{#if item.hasCapacity}}
                    {{item.data.capacity.value}} / {{item.data.capacity.max}}
                    {{#if owner}}
                &nbsp;
                <a class="item-control reload" title="{{localize "SFRPG.ActorSheet.Inventory.Weapon.Reload"}}"><i class="fas fa-redo"></i></a>
                    {{/if}}
                {{else if children}}
                    {{#if (eq item.type "container")}}
                        {{getChildBulk children}} / {{getTotalStorageCapacity item}} {{localize "SFRPG.ActorSheet.Inventory.Container.CapacityLabelBulk"}}
                    {{else}}
                        {{children.length}} / {{getTotalStorageCapacity item}} {{localize "SFRPG.ActorSheet.Inventory.Container.CapacityLabelItems"}}
                    {{/if}}
                {{/if}}
            </div>

            <div class="item-detail item-action">
                {{#if item.hasCapacity }}
                {{item.data.usage.value}} / {{item.data.usage.per}}
                {{/if}}
            </div>
            {{/unless}}

            {{#if owner}}
            <div class="item-controls">
                {{#if (not disableEquipping)}}
                {{#if (and (or (or (or (eq item.type "weapon") (eq item.type "shield")) (eq item.type "equipment")) (eq item.type "container")) bigItem)}}
                {{#if item.data.equipped}}
                <a class="item-control item-equip" title="{{localize "SFRPG.ActorSheet.Inventory.Item.Equip"}}"><i class="fas fa-check"></i></a>
                {{else}}
                <a class="item-control item-equip" title="{{localize "SFRPG.ActorSheet.Inventory.Item.Unequip"}}"><i class="far fa-square"></i></a>
                {{/if}}
                {{/if}}
                {{/if}}
                <a class="item-control item-edit" title="{{localize "SFRPG.ActorSheet.Inventory.Item.Edit"}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize "SFRPG.ActorSheet.Inventory.Item.Delete"}}"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
        </li>

        {{#if children}}
        <ol class="item-list-child">
        {{#each children as |childItem iid|}}
            {{> "systems/sfrpg/templates/actors/parts/actor-inventory-item.html" ../this bigItem=false item=childItem.item children=childItem.contents}}
        {{/each}}
        </ol>
        {{/if}}
