{{#if (or isCharacter isDrone)}}
<div class="inventory-filters">
    <ol class="currency flexrow">
        <h3>
            {{localize "SFRPG.InventoryCurrency"}}
            <i class="fas fa-coins"></i>
        </h3>
        <label class="denomination" data-tippy-content="{{localize "SFRPG.ActorSheet.Inventory.ItemValue.Tooltip"}}">{{localize "SFRPG.ActorSheet.Inventory.ItemValue.Label"}}</label>
        <label class="denomination currency-value" data-tippy-content="{{localize "SFRPG.ActorSheet.Inventory.ItemValue.Tooltip"}}">{{inventoryValue}}</label>
        {{#each data.currency as |v k|}}
        <label class="denomination {{k}}">{{ lookup ../config.currencies k }}</label>
        <input type="text" name="data.currency.{{k}}" value="{{v}}" data-dtype="Number"/>
        {{/each}}
    </ol>
</div>
{{/if}}

<ol class="inventory-list">
{{#each sections as |section sid|}}
    <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">{{section.label}}</h3>

        {{#if ../isCharacter}}
        <div class="item-detail item-weight">{{localize "SFRPG.InventoryBulk"}}</div>
        {{/if}}

        <div class="item-detail item-uses">{{localize "SFRPG.InventoryCapacity"}}</div>
        <div class="item-detail item-action">{{localize "SFRPG.InventoryUsage"}}</div>

        {{#if ../owner}}
        <div class="item-controls">
            {{#if section.allowAdd}}
            <a class="item-control item-create" title="{{localize "SFRPG.ActorSheet.Inventory.Item.Create"}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                <i class="fas fa-plus"></i> {{localize "SFRPG.InventoryAdd"}}
            </a>
            {{/if}}
        </div>
        {{/if}}
    </li>

    <ol class="item-list">
    {{#each section.items as |item iid|}}
        {{> "systems/sfrpg/templates/actors/parts/actor-inventory-item.html" ../../this bigItem=true item=item.item children=item.contents}}
    {{/each}}
    </ol>
{{/each}}
</ol>


{{#if (or isCharacter isDrone) }}
{{#with encumbrance}}
<div class="encumbrance {{#if encumbered}}encumbered{{/if}}" data-tippy-content="<strong>{{ localize "SFRPG.ActorSheet.Inventory.Encumbrance.Encumbrance" }}</strong><br/>@attributes.encumbrance.max<br/><br/>{{#each tooltip as |tip|}}{{tip}}<br/>{{/each}}">
    <span class="encumbrance-bar" style="width:{{pct}}%"></span>
    <span class="encumbrance-label">{{value}} / {{max}}</span>
    <div class="encumbrance-breakpoint arrow-up"></div>
    <div class="encumbrance-breakpoint arrow-down"></div>
</div>
{{/with}}
{{/if}}