<h2 data-tippy-content="{{rawTitle}}">{{title}}</h2>
<div class="chat-card-custom-container chat-card" data-actor-id="{{actorId}}" data-item-id="{{item._id}}" data-token-id="{{tokenId}}">
    <div class="chat-card-custom">
        <div class="chard-card-custom-token">
            <img src="{{tokenImg}}" />
        </div>
        <div class="chat-card-custom-item">
            {{#if item.img }}<img src="{{item.img}}" />{{/if}}
            <p class="card-buttons damage">
                {{#if item.img }}<span>{{item.name}}</span>{{else}}<h2>{{flavor}}</h2>{{/if}}
                {{#if hasDamage }}<button data-action="damage">Damage</button>{{/if}}
                {{#if hasSave}}<button class="chat-button-save" data-action="save" data-type="{{item.data.data.save.type}}">{{item.labels.save}}</button>{{/if}}
             </p>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="chard-card-custom-details">
        <ul>
            {{#if item.labels.range }}<li>Range : {{item.labels.range}}</li>{{/if}}
            {{#if hasCapacity }}<li>Ammo : {{ammoLeft}}/{{item.data.data.capacity.max}}</li>{{/if}}
        </ul>
    </div>
</div>
