<div class="dialog-content">
    <form>
        <div class="form-group">
            <label>Formula</label>
            <input type="text" name="formula" value="{{formula}}" disabled/>
        </div>
        <div class="form-group">
            <label>Situational Bonus?</label>
            <input type="text" name="bonus" value="{{additionalBonus}}" placeholder="e.g. +1d4"/>
        </div>
        <div class="form-group">
            <label>Roll Mode</label>
            <select name="rollMode">
            {{#select rollMode}}
            {{#each rollModes as |label mode|}}
                <option value="{{mode}}">{{localize label}}</option>
            {{/each}}
            {{/select}}
            </select>
        </div>
        {{#if hasSelectors}}
        {{#each selectors as |selector target|}}
        <div class="form-group">
            <label>Select '{{target}}'</label>
            <select class="selector" name="{{target}}">
            {{#select selector.value}}
            {{#each selector.entries as |selectorName selectorKey|}}
                <option value="{{selectorKey}}">{{selectorName}}</option>
            {{/each}}
            {{/select}}
            </select>
        </div>
        {{/each}}
        {{/if}}
    </form>
</div>

{{#if hasModifiers}}
<div>
    <ul class="modifier-list">
        <h3 class="modifier-list-title">Available modifiers</h3>

        <li class="modifier-list-header flexrow">
            <div class="modifier-list-header-enabled"></div>
            <h3 class="modifier-list-header-name">Name</h3>
            <div class="modifier-list-header-modifier">Effect</div>
        </li>
        
        {{#each availableModifiers as |modifier id|}}
        <li class="modifier flexrow toggle-modifier" data-modifier-index="{{id}}" {{#if modifier.notes}}data-tippy-content="<b>{{modifier.name}}</b><br/>{{modifier.notes}}"{{/if}}>
            <a class="modifier-enabled" title="{{modifier.name}}">{{#if modifier.enabled}}<i class="far fa-check-square">{{else}}<i class="far fa-square"></i>{{/if}}</i></a>
            <h4 class="modifier-name">{{modifier.name}}</h4>
            <span class="modifier-modifier">{{modifier.modifier}}</span>
        </li>
        {{/each}}
    </ul>
</div>
{{/if}}

<div class="dialog-buttons">
    {{#each buttons as |button id|}}
    <button class="dialog-button {{cssClass}}" data-button="{{id}}">
        {{{button.icon}}}
        {{{button.label}}}
    </button>
    {{/each}}
</div>
