<div class="encounter-stats-sheet">
    <div class="encounter-stats-header">
        <b>Stuff will belong here woot. This is some handlebars data {{flags.sfrpg.CR}}</b>
    </div>
    <div class="encounter-stats-body">
        <div class="encounter-stats-players">
            <b>Player Stuff</b>
        </div>
        <div class="encounter-stats-enemies">
            <b>Baddie Stuff</b>
        </div>
    </div>
</div>