<form class="{{cssClass}}" autocomplete="off">
    <section class="sheet-upper">
        <header class="sheet-header">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name" />
            </h1>

            <div class="charlevel">
                <div class="level {{#if disableExperience}}noxp{{/if}}">
                    <label>Level </label>
                    <input name="data.details.level.value" type="text" value="{{data.details.level.value}}" data-dtype="Number" placeholder="1" />
                </div>
                {{#unless disableExperience}}
                <div class="xpbar">
                    <span class="bar" style="width: {{data.details.xp.pct}}%"></span>
                </div>
                <div class="experience">
                    <input name="data.details.xp.value" type="text" value="{{data.details.xp.value}}" data-dtype="Number" placeholder="0" />
                    <span class="max" data-wpad="14"> / {{data.details.xp.max}}</span>
                </div>
                {{/unless}}
            </div>
        </header>

        <img class="sheet-profile sidebar" src="{{actor.img}}" title="{{actor.name}}" height="220" width="220" data-edit="img" />

        <section class="sheet-showcase content">
            <ul class="details">
                <li class="character-detail">
                    <input name="data.details.race.value" type="text" value="{{data.details.race.value}}" placeholder="Race"/>
                </li>
                <li class="character-detail">
                    <input name="data.details.theme.value" type="text" value="{{data.details.theme.value}}" placeholder="Theme"/>
                </li>
                <li class="character-detail">
                    <input name="data.details.alignment.value" type="text" value="{{data.details.alignment.value}}" placeholder="Alignment"/>
                </li>
            </ul>

            {{> public/systems/starfinder/templates/actors/actor-attributes.html}}

            <div class="statuses">PLACEHOLDER</div>

        </section>
    </section>

    <nav class="sheet-navigation">
        <nav class="sheet-tabs tabs sidebar" data-group="sidebar">
            <a class="item active" data-tab="abilities">Abilities</a>
            <a class="item" data-tab="skills">Skills</a>
            <a class="item" data-tab="traits">Traits</a>
        </nav>
        <nav class="sheet-tabs tabs content" data-group="primary">
            <a class="item" data-tab="inventory">Inventory</a>
            <a class="item" data-tab="spellbook">Spellbook</a>
            <a class="item" data-tab="feats">Features</a>
            <a class="item active" data-tab="biography">Biography</a>
        </nav>
    </nav>

    <section class="sheet-lower">
        <section class="sheet-sidebar sidebar">
            <div class="tab abilities" data-group="sidebar" data-tab="abilities">
                {{> public/systems/starfinder/templates/actors/actor-abilities.html}}
                {{> public/systems/starfinder/templates/actors/actor-classes.html}}
            </div>
            <div class="tab skills" data-group="sidebar" data-tab="skills">
                {{> public/systems/starfinder/templates/actors/actor-skills.html}}
            </div>
        </section>
    </section>
</form>