<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" height="220" width="220" />

        <div class="header-details flexrow">
            <div class="header-background flexrow">
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name" />
                </h1>

                <div class="charlevel">
                    <div class="level {{#if disableExperience}}noxp{{/if}}">
                        <label>Level </label>
                        <input name="data.details.level.value" type="text" value="{{data.details.level.value}}"
                            data-dtype="Number" placeholder="1" />
                    </div>
                    {{#unless disableExperience}}
                    <div class="experience">
                        <input name="data.details.xp.value" type="text" value="{{data.details.xp.value}}"
                            data-dtype="Number" placeholder="0" />
                        <span class="max"> / {{data.details.xp.max}}</span>
                    </div>
                    <div class="xpbar">
                        <span class="bar" style="width: {{data.details.xp.pct}}%"></span>
                    </div>
                    {{/unless}}
                </div>
            </div>

            {{!-- Character Summary --}}
            <ul class="summary">
                <li>
                    <input type="text" name="data.details.race" value="{{data.details.race}}" placeholder="Race" />
                </li>
                <li>
                    <input type="text" name="data.details.theme" value="{{data.details.theme}}" placeholder="Theme" />
                </li>
                <li>
                    <input type="text" name="data.details.alignment" value="{{data.details.alignment}}"
                        placeholder="Alignment" />
                </li>
            </ul>

            {{!-- Header Attributes --}}
            <ul class="attributes flexrow">
                <li class="attribute health">
                    <h4 class="attribute-name box-title">{{ localize "STARFINDER.Health" }}</h4>
                    <div class="attribute-value multiple">
                        <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}"
                            data-dtype="Number" placeholder="10" />
                        <span class="sep"> / </span>
                        <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}"
                            data-dtype="Number" placeholder="10" />
                    </div>
                    <footer class="attribute-footer">
                        <input name="data.attributes.hp.temp" type="text" class="temphp" placeholder="+Temp"
                            value="{{data.attributes.hp.temp}}" data-dtype="Number" />
                        <input name="data.attributes.hp.tempmax" type="text" class="temphp" placeholder="+Max"
                            value="{{data.attributes.hp.tempmax}}" data-dtype="Number" />
                    </footer>
                </li>

                <li class="attribute health">
                    <h4 class="attribute-name box-title">{{ localize "STARFINDER.Stamina" }}</h4>
                    <div class="attribute-value multiple">
                        <input name="data.attributes.sp.value" type="text" value="{{data.attributes.sp.value}}"
                            data-dtype="Number" placeholder="10" />
                        <span class="sep"> / </span>
                        <input name="data.attributes.sp.max" type="text" value="{{data.attributes.sp.max}}"
                            data-dtype="Number" placeholder="10" />
                    </div>                    
                </li>

                <li class="attribute">
                    <h4 class="attribute-name box-title">{{ localize "STARFINDER.EnergyArmorClass" }}</h4>
                    <div class="attribute-value">
                        <input name="data.attributes.eac.value" type="text" value="{{data.attributes.eac.value}}"
                            data-dtype="Number" placeholder="10" />
                    </div>
                    <footer class="attribute-footer">
                        <a class="rest short-rest">{{localize "STARFINDER.RestS"}}</a>
                    </footer>
                </li>

                <li class="attribute">
                    <h4 class="attribute-name box-title">{{ localize "STARFINDER.KineticArmorClass" }}</h4>
                    <div class="attribute-value">
                        <input name="data.attributes.kac.value" type="text" value="{{data.attributes.kac.value}}"
                            data-dtype="Number" placeholder="10" />
                    </div>
                    <footer class="attribute-footer">
                        <a class="rest long-rest">{{localize "STARFINDER.RestL"}}</a>
                    </footer>
                </li>

                <li class="attribute">
                    <h4 class="attribute-name box-title">{{ localize "STARFINDER.Speed" }}</h4>
                    <div class="attribute-value">
                        <input name="data.attributes.speed.value" type="text" value="{{data.attributes.speed.value}}"
                            placeholder="0" />
                    </div>
                    <footer class="attribute-footer">
                        <input type="text" class="speed" name="data.attributes.speed.special"
                            value="{{data.attributes.speed.special}}"
                            placeholder="{{ localize 'STARFINDER.SpeedSpecial' }}" />
                    </footer>
                </li>
            </ul>
        </div>
    </header>

    {{!-- NPC Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="attributes">{{ localize "STARFINDER.Attributes" }}</a>
        <a class="item" data-tab="inventory">{{ localize "STARFINDER.Inventory" }}</a>
        <a class="item" data-tab="features">{{ localize "STARFINDER.Features" }}</a>
        <a class="item" data-tab="spellbook">{{ localize "STARFINDER.Spellbook" }}</a>
        <a class="item" data-tab="biography">{{ localize "STARFINDER.Biography" }}</a>
    </nav>

    {{!-- NPC Sheet Body --}}
    <section class="sheet-body">

        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">

            {{!-- Ability Scores --}}
            <ul class="ability-scores flexrow">
                {{#each data.abilities as |ability id|}}
                <li class="ability {{#if ability.proficient}}proficient{{/if}}" data-ability="{{id}}">
                    <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
                    <input class="ability-score" name="data.abilities.{{id}}.value" type="text"
                        value="{{ability.value}}" data-dtype="Number" placeholder="10" />
                    <div class="ability-modifiers flexrow">
                        <span class="ability-mod"
                            title="Modifier">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                        {{!-- <input type="hidden" name="data.abilities.{{id}}.proficient" value="{{ability.proficient}}" data-dtype="Number"/> --}}
                        {{!-- <a class="proficiency-toggle ability-proficiency" title="Proficiency">{{{ability.icon}}}</a> --}}
                        {{!-- <span class="ability-save" title="Saving Throw">{{numberFormat ability.save decimals=0 sign=true}}</span> --}}
                    </div>
                </li>
                {{/each}}
            </ul>

            {{!-- Skills --}}
            <ul class="skills-list">
                {{#each data.skills as |skill s|}}
                {{#unless skill.skip}}
                <li class="skill flexrow {{#if skill.value}}proficient{{/if}}" data-skill="{{s}}">
                    <input type="hidden" name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number" />
                    <a class="proficiency-toggle skill-proficiency" title="{{skill.hover}}">{{{skill.icon}}}</a>
                    <h4 class="skill-name rollable">
                        {{skill.label}}
                        {{#if skill.isTrainedOnly}}<span>&dagger;</span>{{/if}}
                        {{#if skill.hasArmorCheckPenalty}}<span>*</span>{{/if}}
                    </h4>
                    <span class="skill-ability">{{skill.ability}}</span>
                    <input type="text" class="skill-ranks" title="Skill Ranks" name="data.skills.{{s}}.ranks"
                        value="{{skill.ranks}}" data-dtype="Number" />
                    <input type="text" class="skill-misc" title="Misc Modifiers" name="data.skills.{{s}}.misc"
                        value="{{skill.misc}}" data-dtype="Number" />
                    <span class="skill-mod">{{numberFormat skill.mod decimals=0 sign=true}}</span>
                </li>
                {{/unless}}
                {{/each}}
                <li class="flexrow">
                    <div class="form-group">
                        <button id="add-profession"><i class="fas fa-plus"></i> Add Profession</button>
                    </div>
                </li>
                <li class="flexrow">
                    <small>* = Armor Check Penatly, &dagger; = Trained Only</small>
                </li>
            </ul>

            <section class="center-pane">

                {{!-- Body Attributes --}}
                <ul class="attributes flexrow">
                    {{!-- {{#each resources as |res|}}
                    <li class="attribute resource">
                        <h4 class="attribute-name box-title">
                            <input name="data.resources.{{res.name}}.label" type="text" value="{{res.label}}"
                                   placeholder="{{res.placeholder}}" />
                        </h4>
                        <div class="attribute-value multiple">
                            <input name="data.resources.{{res.name}}.value" type="text" value="{{res.value}}"
                                   data-dtype="Number" placeholder="0"/>
                            <span class="sep"> / </span>
                           <input name="data.resources.{{res.name}}.max" type="text" value="{{res.max}}"
                                  data-dtype="Number" placeholder="0"/>
                        </div>
                        <footer class="attribute-footer">
                            <label class="checkbox">
                                SR <input name="data.resources.{{res.name}}.sr" type="checkbox" {{checked res.sr}}/>
                            </label>
                            <label class="checkbox">
                                LR <input name="data.resources.{{res.name}}.lr" type="checkbox" {{checked res.lr}}/>
                            </label>
                        </footer>
                    </li>
                    {{/each}} --}}

                    <li class="attribute save" data-save="fort">
                        <h4 class="attribute-name save-name box-title rollable">{{localize "STARFINDER.FortitudeSave"}}</h4>
                        <div class="attribute-value">
                            <span>{{numberFormat data.attributes.fort.bonus decimals=0 sign=true}}</span>
                        </div>
                        <footer class="attribute-footer">
                            <div>
                                <span>Base</span>
                                <input name="data.attributes.fort.value" type="text" placeholder="0" data-dtype="Number"
                                    value="{{numberFormat data.attributes.fort.value decimals=0 sign=true}}" />
                            </div>
                            <div>
                                <span>Misc</span>
                                <input name="data.attributes.fort.misc" type="text" placeholder="0" data-dtype="Number"
                                    value="{{numberFormat data.attributes.fort.misc decimals=0 sign=true}}" />
                            </div>
                        </footer>
                    </li>

                    <li class="attribute save" data-save="reflex">
                        <h4 class="attribute-name save-name box-title rollable">{{localize "STARFINDER.ReflexSave"}}</h4>
                        <div class="attribute-value">
                            <span>{{numberFormat data.attributes.reflex.bonus decimals=0 sign=true}}</span>
                        </div>
                        <footer class="attribute-footer">
                            <div>
                                <span>Base</span>
                                <input name="data.attributes.reflex.value" type="text" placeholder="0"
                                    data-dtype="Number"
                                    value="{{numberFormat data.attributes.reflex.value decimals=0 sign=true}}" />
                            </div>
                            <div>
                                <span>Misc</span>
                                <input name="data.attributes.reflex.misc" type="text" placeholder="0"
                                    data-dtype="Number"
                                    value="{{numberFormat data.attributes.reflex.misc decimals=0 sign=true}}" />
                            </div>
                        </footer>
                    </li>

                    <li class="attribute save" data-save="will">
                        <h4 class="attribute-name save-name box-title rollable">{{localize "STARFINDER.WillSave"}}</h4>
                        <div class="attribute-value">
                            <span>{{numberFormat data.attributes.will.bonus decimals=0 sign=true}}</span>
                        </div>
                        <footer class="attribute-footer">
                            <div>
                                <span>Base</span>
                                <input name="data.attributes.will.value" type="text" placeholder="0" data-dtype="Number"
                                    value="{{numberFormat data.attributes.will.value decimals=0 sign=true}}" />
                            </div>
                            <div>
                                <span>Misc</span>
                                <input name="data.attributes.will.misc" type="text" placeholder="0" data-dtype="Number"
                                    value="{{numberFormat data.attributes.will.misc decimals=0 sign=true}}" />
                            </div>
                        </footer>
                    </li>

                </ul>

                <ul class="attributes flexrow last">
                    <li class="attribute initiative">
                        <h4 class="attribute-name box-title rollable">Initiative</h4>
                        <div class="attribute-value">
                            <span>{{numberFormat data.attributes.init.total decimals=0 sign=true}}</span>
                        </div>
                        <footer class="attribute-footer">
                            <span>Modifier</span>
                            <input name="data.attributes.init.value" type="text" placeholder="0" data-dtype="Number"
                                value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}" />
                        </footer>
                    </li>
                    <li class="attribute cmd">
                        <h4 class="attribute-name box-title" title="AC vs Combat Maneuvers">CMD</h4>
                        <div class="attribute-value">
                            <span>{{numberFormat data.attributes.cmd.value decimal=0 sign=false}}</span>
                        </div>
                    </li>
                    <li class="attribute bab">
                        <h4 class="attribute-name box-title" title="Base Attack Bonus">BAB</h4>
                        <div class="attribute-value">
                            <input type="text" name="data.attributes.bab"
                                value="{{numberFormat data.attributes.bab decimal=0 sign=true}}" placeholder="0"
                                data-dtype="Number" />
                        </div>
                    </li>
                    <li class="attribute resolve">
                        <h4 class="attribute-name box-title">{{ localize "STARFINDER.Resolve" }}</h4>
                        <div class="attribute-value multiple">
                            <input name="data.attributes.rp.value" type="text" value="{{data.attributes.rp.value}}"
                                data-dtype="Number" placeholder="10" />
                            <span class="sep"> / </span>
                            <input name="data.attributes.rp.max" type="text" value="{{data.attributes.rp.max}}"
                                data-dtype="Number" placeholder="10" />
                        </div>
                    </li>
                </ul>

                {{!-- Traits --}}
                {{> "systems/starfinder/templates/actors/parts/actor-traits.html"}}
            </section>
        </div>

        {{!-- Inventory Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="inventory">
            {{> "systems/starfinder/templates/actors/parts/actor-inventory.html" sections=inventory}}
        </div>

        {{!-- Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "systems/starfinder/templates/actors/parts/actor-features.html" sections=features}}
        </div>

        {{!-- Spellbook Tab --}}
        <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
            {{> "systems/starfinder/templates/actors/parts/actor-spellbook.html"}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography flexcol" data-group="primary" data-tab="biography">
            {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>