<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <h1 class="charname">
            <input type="text" value="{{actor.name}}" placeholder="Character Name" />
        </h1>
    </header>

    <section class="sheet-body">
        <div class="tab biography">
            {{editor content=data.details.biography.value target="data.details.biography.value" button=true, owner=owner editable=editable}}
        </div>
    </section>

    <section class="sheet-sidebar">
        <img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}}" height="220" width="220" data-edit="img" />
    </section>
</form>