<div class="spell-browser">
    <div class="control-area">
        <div class="sortcontainer" id="tagfilter">
            <input class="" name="textFilter" type="text" value="" data-dtype="String" placeholder="{{localize "SFRPG.BrowserSearchPlaceholder"}}" title="{{localize "SFRPG.BrowserSearchTitle"}}"/>
            <div class="hint" style="display:none;">
                {{{localize "SFRPG.SpellBrowserSearchHint"}}}
            </div>
            <dl id="sorter">
                <dt>{{localize "SFRPG.BrowserSortyByLabel"}}:</dt>
                <dd><select class="null" name="sortorder">
                    <option value="true" selected>{{localize "SFRPG.SortByFilterName"}}</option>
                    <option value="false">{{localize "SFRPG.SortByFilterLevel"}}</option>
                </select></dd>
            </dl>
        </div>
        <button class="clear-filters">{{localize "SFRPG.BrowserClearFilters"}}</button>
        <div class="filtercontainer" id="levelfilter">
            <h3>{{localize "SFRPG.LevelLabel"}}</h3>
            <dl>
                <dt><input type="checkbox" name="level-0"></dt><dd>{{localize "SFRPG.SpellCantripLabel"}}</dd>
                <dt><input type="checkbox" name="level-1"></dt><dd>{{localize "SFRPG.LevelLabel"}} 1</dd>
                <dt><input type="checkbox" name="level-2"></dt><dd>{{localize "SFRPG.LevelLabel"}} 2</dd>
                <dt><input type="checkbox" name="level-3"></dt><dd>{{localize "SFRPG.LevelLabel"}} 3</dd>
                <dt><input type="checkbox" name="level-4"></dt><dd>{{localize "SFRPG.LevelLabel"}} 4</dd>
                <dt><input type="checkbox" name="level-5"></dt><dd>{{localize "SFRPG.LevelLabel"}} 5</dd>
                <dt><input type="checkbox" name="level-6"></dt><dd>{{localize "SFRPG.LevelLabel"}} 6</dd>
            </dl>
        </div>
        <div class="filtercontainer" id="classfilter">
            <h3>{{localize "SFRPG.BrowserFilterClass"}}</h3>
            <dl>
                {{#each classes as |class key|}}
                <dt><input type="checkbox" name="allowedClasses-{{key}}"></dt><dd>{{class}}</dd>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="schoolfilter">
            <h3>{{localize "SFRPG.BrowserFilterSchool"}}</h3>
            <dl>
                {{#each schools as |school key|}}
                <dt><input type="checkbox" name="school-{{key}}"></dt><dd>{{school}}</dd>
                {{/each}}
            </dl>
        </div>
    </div>
    <ul class="spell-list">
        {{#each spells as |spell id|}}
        <li class="spell flexrow draggable" data-entry-compendium="{{spell.compendium}}" data-entry-id="{{spell._id}}" data-item-category="spells">
            <div class="spell-image">
                <img class="" src="{{spell.img}}" title="{{spell.name}}" width="32" height="32"/>
            </div>

            <div class="spell-name">
                <span class="item-edit" ><a>{{spell.name}}</a></span>
            </div>
            <div class="spell-tags">
                <span title="Spell level">{{spell.data.level}}</span>
            </div>
            {{#each spell.data as |attrib id|}}
            <input type="hidden" name="{{id}}" value="{{attrib}}">
            {{/each}}
            <input type="hidden" name="allowedClasses.myst" value="{{spell.data.allowedClasses.myst}}">
            <input type="hidden" name="allowedClasses.tech" value="{{spell.data.allowedClasses.tech}}">
            <input type="hidden" name="allowedClasses.wysh" value="{{spell.data.allowedClasses.wysh}}">
        </li>
        {{/each}}
    </ul>
</div>
