<div class="sfrpg chat-card reload-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}} {{#if sceneId}}data-scene-id="{{sceneId}}"{{/if}}>
    {{!-- Card Details --}}
    {{> "systems/sfrpg/templates/chat/parts/card-item-details.hbs" isItemFocused=true}}

    <div class="card-content"></div>
</div>
