<form id="drone-repair-rp" class="form-repair">
    <p>{{localize 'SFRPG.RepairDroneDialogDescription'}}</p>
    <label class="checkbox">
        <input type="checkbox" id="improvedRepairFeatCheckbox"> {{localize "SFRPG.RepairDroneDialogImprovedFeat"}}
    </label>
</form>
