<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize "SFRPG.DroneSheet.Chassis.Name.Placeholder" }}" />
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary source-wide">
                <li>
                    <input type="text" name="data.source" value="{{itemData.source}}" placeholder="{{ localize "SFRPG.DroneSheet.Chassis.Source" }}" />
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SFRPG.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SFRPG.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        {{> "systems/sfrpg/templates/items/parts/item-description.html" hideProperties=true}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">

            <h4 class="section-header first">{{ localize "SFRPG.DroneSheet.Chassis.Details.BaseStatistics.Header" }}</h4>

            <div class="form-group">
                <label>{{ localize "SFRPG.DroneSheet.Chassis.Details.BaseStatistics.MechanicLevel" }}</label>
                <div class="form-fields">
                    <input type="text" name="data.levels" value="{{itemData.levels}}" data-dtype="Number" />
                </div>
            </div>

            <div class="form-group">
                <label>{{ localize "SFRPG.DroneSheet.Chassis.Details.BaseStatistics.Size" }}</label>
                <div class="form-fields">
                    <select class="actor-size" name="data.size">
                        {{#select itemData.size}}
                        {{#each config.actorSizes as |label size|}}
                            <option value="{{size}}">{{label}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            <h4 class="section-header">{{ localize "SFRPG.ActorSheet.Attributes.Speed.MovementSpeedTitle" }}</h4>

            <div class="form-group">
                <label>{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Land" }}</label>
                <div class="form-fields">
                    <input type="text" name="data.speed.land.base" value="{{itemData.speed.land.base}}" data-dtype="Number"/>
                </div>
             </div>

             <div class="form-group">
                <label>{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Burrowing" }}</label>
                <div class="form-fields">
                    <input type="text" name="data.speed.burrowing.base" value="{{itemData.speed.burrowing.base}}" data-dtype="Number"/>
                </div>
            </div>

            <div class="form-group">
                <label>{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Climbing" }}</label>
                <div class="form-fields">
                    <input type="text" name="data.speed.climbing.base" value="{{itemData.speed.climbing.base}}" data-dtype="Number"/>
                </div>
            </div>

            <div class="form-group">
                <label>{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Flying" }}</label>
                <div class="form-fields">
                    <input type="text" name="data.speed.flying.base" value="{{itemData.speed.flying.base}}" data-dtype="Number"/>
                </div>
            </div>

            <div class="form-group">
                <label>{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Swimming" }}</label>
                <div class="form-fields">
                    <input type="text" name="data.speed.swimming.base" value="{{itemData.speed.swimming.base}}" data-dtype="Number"/>
                </div>
            </div>

             <div class="form-group">
                <label>{{ localize "SFRPG.DroneSheet.Chassis.Details.BaseStatistics.SpeedSpecial" }}</label>
                <div class="form-fields">
                    <input type="text" name="data.speed.special" value="{{itemData.speed.special}}" data-dtype="String" placeholder="{{ localize 'SFRPG.SpeedSpecial' }}"/>
                 </div>
             </div>

             <div class="form-group">
                <label>{{ localize "SFRPG.ActorSheet.Attributes.Speed.MainMovementType" }}</label>
                <div class="form-fields">
                    <select name="data.speed.mainMovement">
                        {{#select itemData.speed.mainMovement}}
                        <option value="land">{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Land" }}</option>
                        <option value="burrowing">{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Burrowing" }}</option>
                        <option value="climbing">{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Climbing" }}</option>
                        <option value="flying">{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Flying" }}</option>
                        <option value="swimming">{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Swimming" }}</option>
                        <option value="special">{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Special" }}</option>
                        {{/select}}
                    </select>
                </div>
            </div>

             <h4 class="section-header">{{ localize "SFRPG.DroneSheet.Chassis.Details.Defense.Header" }}</h4>

             <div class="form-group">
                <label>{{ localize "SFRPG.DroneSheet.Chassis.Details.Defense.EAC" }}</label>
                <div class="form-fields">
                    <input type="text" name="data.eac" value="{{itemData.eac}}" data-dtype="Number"/>
                 </div>
             </div>

             <div class="form-group">
                <label>{{ localize "SFRPG.DroneSheet.Chassis.Details.Defense.KAC" }}</label>
                <div class="form-fields">
                    <input type="text" name="data.kac" value="{{itemData.kac}}" data-dtype="Number"/>
                 </div>
             </div>

             <h4 class="section-header">{{ localize "SFRPG.DroneSheet.Chassis.Details.Saves.Header" }}</h4>

             <div class="form-group">
                 <label>{{localize "SFRPG.DroneSheet.Chassis.Details.Saves.Fortitude"}}</label>
                 <div class="form-fields">
                     <select name="data.fort">
                         {{#select itemData.fort}}
                         {{#each config.saveProgression as |name val|}}
                         <option value="{{val}}">{{name}}</option>
                         {{/each}}
                         {{/select}}
                     </select>
                 </div>
             </div>
 
             <div class="form-group">
                 <label>{{localize "SFRPG.DroneSheet.Chassis.Details.Saves.Reflex"}}</label>
                 <div class="form-fields">
                     <select name="data.ref">
                         {{#select itemData.ref}}
                         {{#each config.saveProgression as |name val|}}
                         <option value="{{val}}">{{name}}</option>
                         {{/each}}
                         {{/select}}
                     </select>
                 </div>
             </div>
 
             <div class="form-group">
                 <label>{{localize "SFRPG.DroneSheet.Chassis.Details.Saves.Will"}}</label>
                 <div class="form-fields">
                     <select name="data.will">
                         {{#select itemData.will}}
                         {{#each config.saveProgression as |name val|}}
                         <option value="{{val}}">{{name}}</option>
                         {{/each}}
                         {{/select}}
                     </select>
                 </div>
             </div>

             <h4 class="section-header">{{ localize "SFRPG.DroneSheet.Chassis.Details.AbilityScores.Header" }}</h4>

             <div class="form-group">
                <label>{{ localize "SFRPG.DroneSheet.Chassis.Details.AbilityScores.Strength" }}</label>
                <div class="form-fields">
                    <input type="text" name="data.abilityScores.str" value="{{itemData.abilityScores.str}}" data-dtype="Number"/>
                 </div>
             </div>

             <div class="form-group">
                <label>{{ localize "SFRPG.DroneSheet.Chassis.Details.AbilityScores.Dexterity" }}</label>
                <div class="form-fields">
                    <input type="text" name="data.abilityScores.dex" value="{{itemData.abilityScores.dex}}" data-dtype="Number"/>
                 </div>
             </div>

             <div class="form-group">
                <label>{{ localize "SFRPG.DroneSheet.Chassis.Details.AbilityScores.Wisdom" }}</label>
                <div class="form-fields">
                    <input type="text" name="data.abilityScores.wis" value="{{itemData.abilityScores.wis}}" data-dtype="Number"/>
                 </div>
             </div>

             <div class="form-group">
                <label>{{ localize "SFRPG.DroneSheet.Chassis.Details.AbilityScores.Increases" }}</label>
                <div class="form-fields">
                    <select name="data.abilityIncreaseStats.first">
                        {{#select itemData.abilityIncreaseStats.first}}
                        {{#each config.abilities as |name val|}}
                        <option value="{{val}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    
                    <select name="data.abilityIncreaseStats.second">
                        {{#select itemData.abilityIncreaseStats.second}}
                        {{#each config.abilities as |name val|}}
                        <option value="{{val}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                 </div>
             </div>
        </div>
    </section>
</form>