<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    {{> "systems/sfrpg/templates/items/parts/item-header.html"}}

     {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SFRPG.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SFRPG.Details" }}</a>
        <a class="item" data-tab="modifiers">{{ localize "SFRPG.Modifiers" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        {{> "systems/sfrpg/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-tab="details" data-group="primary">
            <h3 class="form-header">{{ localize "SFRPG.Items.Hybrid.Details" }}</h3>

            <div class="form-group">
                <label>{{ localize "SFRPG.Items.Magic.LimitedWear" }}</label>
                <label class="checkbox">
                   <input type="checkbox" name="data.limitedWear" {{checked itemData.limitedWear}}/>{{ localize "SFRPG.Items.Magic.LimitedWearCheckbox" }}
               </label>
            </div>

            {{#if (and (and itemData.limitedWear actor) (eq actor.type "character"))}}
                {{#if (gt actor.data.data.magicalItems.worn actor.data.data.magicalItems.max)}}
                <div class="form-group">
                    <label></label>
                    <span class="error"  style="text-align: right;">{{localize "SFRPG.Items.Magic.LimitedWearExceeded"}}</span>
                </div>
                {{/if}}
            {{/if}}
            
            {{!-- Equipment Status --}}
            {{> "systems/sfrpg/templates/items/parts/item-status.html"}}

            <br />

            {{> "systems/sfrpg/templates/items/parts/item-capacity.html"}}

            <br />

            {{> "systems/sfrpg/templates/items/parts/physical-item-details.html"}}
            
            <br />

            {{!-- Container Template --}}
            {{> "systems/sfrpg/templates/items/parts/container-details.html" message="SFRPG.Items.Equipment.ContainerTooltip"}}
            
        </div>

        {{!-- Modifiers Tab --}}
        {{> "systems/sfrpg/templates/items/parts/item-modifiers.html"}}

    </section>
</form>
