<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize "SFRPG.ItemSheet.Header.ItemName" }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary">
                <li>
                    <input type="text" name="data.source" value="{{data.source}}" placeholder="{{ localize "SFRPG.ItemSheet.Header.Source" }}"/>
                </li>
                <li>
                    <input type="text" name="data.type" value="{{data.type}}" placeholder="{{ localize "SFRPG.ItemSheet.Header.Type" }}" />
                </li>
                <li>
                    <input type="text" name="data.subtype" value="{{data.subtype}}" placeholder="{{ localize "SFRPG.ItemSheet.Header.Subtype" }}" />
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SFRPG.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SFRPG.Details" }}</a>
        <a class="item" data-tab="modifiers">{{ localize "SFRPG.Modifiers" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab flexrow active" data-group="primary" data-tab="description">
            {{editorPlus content=data.description.value target="data.description.value" button=true owner=owner editable=editable rolls=false rollData=data}}
        </div>

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{localize "SFRPG.RacialTraits"}}</h3>
            {{!-- Hit points --}}
            <div class="form-group">
                <label>{{localize "SFRPG.RaceHitPoints"}}</label>
                <div class="form-fields">
                    <input type="text" name="data.hp.value" value="{{data.hp.value}}" data-dtype="Number" />
                </div>
            </div>

            {{!-- Size --}}
            <div class="form-group">
                <label>{{localize "SFRPG.RaceSize"}}</label>
                <div class="form-fields">
                    <select name="data.size">
                        {{#select data.size}}
                        {{#each config.actorSizes as |name val|}}
                        <option value="{{val}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            <h3 class="form-header">{{localize "SFRPG.RaceAbilityAdjustments"}}</h3>
            {{!-- Ability Adjustments Formula --}}
            <h4 class="ability-adjustments-header">
                <a class="ability-adjustments-control add-ability-adjustment"><i class="fas fa-plus"></i> {{localize "SFRPG.RaceAddAbilityAdjustment"}}</a>
            </h4>
            <ol class="ability-adjustment-parts form-group">
                {{#each data.abilityMods.parts as |part i| }}
                <li class="ability-adjustment-part flexrow" data-ability-adjustment="{{i}}">
                    <input type="text" name="data.abilityMods.parts.{{i}}.0" data-dtype="Number" value="{{numberFormat (lookup this "0") decimals=0 sign=true}}"/>
                    <select name="data.abilityMods.parts.{{i}}.1">
                        {{#select (lookup this "1") }}
                        <option value="">{{ localize "SFRPG.None" }}</option>
                        {{#each ../config.abilities as |name val|}}
                        <option value="{{val}}">{{name}}</option>
                        {{/each}}
                        <option value="any">{{localize "SFRPG.RaceAbilityAdjustmentAny"}}</option>
                        {{/select}}
                    </select>
                    <a class="ability-adjustments-control delete-ability-adjustment"><i class="fas fa-minus"></i></a>
                </li>
                {{/each}}
            </ol>
        </div>

        {{!-- Modifiers Tab --}}
        {{> "systems/sfrpg/templates/items/parts/item-modifiers.html"}}
    </section>
</form>
