<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize "SFRPG.ItemSheet.Header.ItemName" }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary">
                <li>
                    {{localize labels.level}}
                </li>
                <li>
                    {{localize labels.school}}
                </li>
                <li>
                    <input type="text" name="data.source" value="{{data.source}}" placeholder="{{ localize "SFRPG.ItemSheet.Header.Source" }}"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SFRPG.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SFRPG.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/sfrpg/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "SFRPG.Items.Spell.Details" }}</h3>

            {{!-- Allowed Classes --}}
            <div class="form-group stacked">
                <label>{{ localize "SFRPG.Items.Spell.AllowedClasses" }}</label>
                {{#each config.allowedClasses as |name key|}}
                <label class="checkbox">
                    <input type="checkbox" name="data.allowedClasses.{{key}}" {{checked (lookup ../data.allowedClasses key)}} /> {{name}}
                </label>
                {{/each}}
            </div>

            {{!-- Spell Level --}}
            <div class="form-group">
                <label>{{ localize "SFRPG.Items.Spell.Level" }}</label>
                <select name="data.level" data-dtype="Number">
                    {{#select data.level}}
                    {{#each config.spellLevels as |name lvl|}}
                    <option value="{{lvl}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            {{!-- Spell School --}}
            <div class="form-group">
                <label>{{ localize "SFRPG.Items.Spell.School" }}</label>
                <select name="data.school">
                    {{#select data.school}}
                    {{#each config.spellSchools as |name sch|}}
                    <option value="{{sch}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            {{!-- Spell Components --}}
            <div class="spell-components form-group stacked">
                <label>{{ localize "SFRPG.Items.Spell.Properties" }}</label>
                <label class="checkbox">
                    <input type="checkbox" name="data.sr" {{checked data.sr}}/> {{ localize "SFRPG.Items.Spell.Resistance" }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.dismissible" {{checked data.dismissible}}/> {{ localize "SFRPG.Items.Spell.Dismissible" }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.concentration" {{checked data.concentration}}/> {{ localize "SFRPG.Items.Spell.Concentration" }}
                </label>
            </div>

            {{!-- Material Components --}}
            <div class="form-group stacked">
                <label>{{ localize "SFRPG.Items.Spell.SpellcastingMaterials" }}</label>
                <input class="materials" type="text" name="data.materials.value" value="{{data.materials.value}}"/>
                {{#if data.materials.value}}
                <div class="spell-materials flexrow">
                    <label>{{ localize "SFRPG.Items.Spell.Supply" }}</label>
                    <input type="text" name="data.materials.supply" value="{{data.materials.supply}}" data-dtype="Number" Placeholder="0"/>
                    <label>{{ localize "SFRPG.Items.Spell.Cost" }}</label>
                    <input type="text" name="data.materials.cost" value="{{data.materials.cost}}" data-dtype="Number" Placeholder="0"/>
                    <label>{{ localize "SFRPG.Items.Spell.Consumed" }}</label>
                    <input type="checkbox" name="data.materials.consumed" {{checked data.materials.consumed}}/>
                </div>
                {{/if}}
            </div>

            {{!-- Preparation Mode --}}
            <div class="form-group input-select">
                <label>{{ localize "SFRPG.Items.Spell.PreparationMode" }}</label>
                <div class="form-fields">
                    <label class="checkbox prepared">
                        {{ localize "SFRPG.Items.Spell.Prepared" }} <input type="checkbox" name="data.preparation.prepared" {{checked data.preparation.prepared}}/>
                    </label>
                    <select name="data.preparation.mode">
                        {{#select data.preparation.mode}}
                        <option value=""></option>
                        {{#each config.spellPreparationModes as |name key|}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            <h3 class="form-header">{{ localize "SFRPG.Items.Spell.Casting" }}</h3>

            {{!-- Item Activation Template --}}
            {{> "systems/sfrpg/templates/items/parts/item-activation.html"}}

            <h3 class="form-header">{{ localize "SFRPG.Items.Spell.Effects" }}</h3>

            {{!-- Item Action Template --}}
            {{> "systems/sfrpg/templates/items/parts/item-action.html"}}
        </div>
    </section>
</form>
