<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <div class="header-background flexrow">
                <h1 class="charname" style="flex: auto;">
                    <input name="name" type="text" value="{{item.name}}" data-tippy-content="{{ localize "SFRPG.ItemSheet.Header.ItemNameTooltip" }}" placeholder="{{ localize "SFRPG.ItemSheet.Header.ItemName" }}"/>
                </h1>
                <div class="item-subtitle">
                    <h4 data-tippy-content="Item Type" class="item-type">{{itemType}}</h4>
                    <span data-tippy-content="Item Status" class="item-status">{{itemStatus}}</span>
                </div>
            </div>
    
            {{!-- Item Summary --}}
            <ul class="summary flexrow">
                {{#if category.enabled}}
                <li class="short" data-tippy-content="{{localize category.tooltip}}">
                    <label>{{localize category.value}}</label>
                </li>
                {{/if}}
                <li class="wide" data-tippy-content="{{ localize "SFRPG.ItemSheet.Header.SourceTooltip" }}">
                    <input type="text" name="data.source" value="{{itemData.source}}" placeholder="{{ localize "SFRPG.ItemSheet.Header.Source" }}"/>
                </li>
            </ul>
    
            {{!-- Header Attributes --}}
            <ul class="summary flexrow">
                <li>
                    {{localize labels.level}}
                </li>
                <li>
                    {{localize labels.school}}
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SFRPG.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SFRPG.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/sfrpg/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "SFRPG.Items.Spell.Details" }}</h3>

            {{!-- Allowed Classes --}}
            <div class="form-group">
                <label>{{ localize "SFRPG.Items.Spell.AllowedClasses" }}</label>
                <div class="form-fields">
                    {{#each config.allowedClasses as |name key|}}
                    <label class="checkbox">
                        <input type="checkbox" name="data.allowedClasses.{{key}}" {{checked (lookup ../itemData.allowedClasses key)}} /> {{name}}
                    </label>
                    {{/each}}
                </div>
            </div>

            {{!-- Spell Level --}}
            <div class="form-group">
                <label>{{ localize "SFRPG.Items.Spell.Level" }}</label>
                <div class="form-fields">
                    <select name="data.level" data-dtype="Number">
                        {{#select itemData.level}}
                        {{#each config.spellLevels as |name lvl|}}
                        <option value="{{lvl}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>{{ localize "SFRPG.Items.Spell.IsVariableLevel" }}</label>
                <div class="form-fields">
                    <label class="checkbox">
                        <input type="checkbox" name="data.isVariableLevel" {{checked itemData.isVariableLevel}} /> {{ localize "SFRPG.Items.Spell.IsVariableLevelYes" }}
                    </label>
                </div>
            </div>

            {{!-- Spell School --}}
            <div class="form-group">
                <label>{{ localize "SFRPG.Items.Spell.School" }}</label>
                <div class="form-fields">
                    <select name="data.school">
                        {{#select itemData.school}}
                        {{#each config.spellSchools as |name sch|}}
                        <option value="{{sch}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            {{!-- Spell Components --}}
            <div class="spell-components form-group">
                <label>{{ localize "SFRPG.Items.Spell.Properties" }}</label>
                <div class="form-fields">
                    <label class="checkbox">
                        <input type="checkbox" name="data.sr" {{checked itemData.sr}}/> {{ localize "SFRPG.Items.Spell.Resistance" }}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.dismissible" {{checked itemData.dismissible}}/> {{ localize "SFRPG.Items.Spell.Dismissible" }}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.concentration" {{checked itemData.concentration}}/> {{ localize "SFRPG.Items.Spell.Concentration" }}
                    </label>
                </div>
            </div>

            {{!-- Material Components --}}
            <div class="form-group">
                <label>{{ localize "SFRPG.Items.Spell.SpellcastingMaterials" }}</label>
                <div class="form-fields">
                    <input class="materials" type="text" name="data.materials.value" value="{{itemData.materials.value}}"/>
                    {{#if itemData.materials.value}}
                    <div class="spell-materials flexrow">
                        <label>{{ localize "SFRPG.Items.Spell.Supply" }}</label>
                        <input type="text" name="data.materials.supply" value="{{itemData.materials.supply}}" data-dtype="Number" Placeholder="0"/>
                        <label>{{ localize "SFRPG.Items.Spell.Cost" }}</label>
                        <input type="text" name="data.materials.cost" value="{{itemData.materials.cost}}" data-dtype="Number" Placeholder="0"/>
                        <label>{{ localize "SFRPG.Items.Spell.Consumed" }}</label>
                        <input type="checkbox" name="data.materials.consumed" {{checked itemData.materials.consumed}}/>
                    </div>
                    {{/if}}
                </div>
            </div>

            {{!-- Preparation Mode --}}
            <div class="form-group input-select">
                <label>{{ localize "SFRPG.Items.Spell.PreparationMode" }}</label>
                <div class="form-fields">
                    <label class="checkbox">
                        <input type="checkbox" name="data.preparation.prepared" {{checked itemData.preparation.prepared}}/> {{ localize "SFRPG.Items.Spell.Prepared" }}
                    </label>
                    <span>&nbsp;</span>
                    <select name="data.preparation.mode">
                        {{#select itemData.preparation.mode}}
                        <option value=""></option>
                        {{#each config.spellPreparationModes as |name key|}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            <h3 class="form-header">{{ localize "SFRPG.Items.Spell.Casting" }}</h3>

            {{!-- Item Activation Template --}}
            {{> "systems/sfrpg/templates/items/parts/item-activation.html"}}

            <h3 class="form-header">{{ localize "SFRPG.Items.Spell.Effects" }}</h3>

            {{!-- Item Action Template --}}
            {{> "systems/sfrpg/templates/items/parts/item-action.html"}}
        </div>
    </section>
</form>
