<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    {{> "systems/sfrpg/templates/items/parts/item-header.html"}}

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SFRPG.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SFRPG.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/sfrpg/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h4 class="section-header first">{{ localize "SFRPG.ItemSheet.StarshipComponent.Header" }}</h4>

            <div class="form-group" data-tippy-content="<b>{{ localize "SFRPG.ItemSheet.StarshipComponent.Cost" }}</b><br/>{{ localize "SFRPG.ItemSheet.StarshipComponent.CostTooltip" }}">
                <label>{{ localize "SFRPG.ItemSheet.StarshipComponent.Cost" }}</label>
                <div class="form-fields">
                    <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number" placeholder="0"/>
                </div>
            </div>

            <div class="form-group" data-tippy-content="<b>{{ localize "SFRPG.ItemSheet.StarshipComponent.PCU" }}</b><br/>{{ localize "SFRPG.ItemSheet.StarshipComponent.PCUTooltip" }}">
                <label>{{ localize "SFRPG.ItemSheet.StarshipComponent.PCU" }}</label>
                <div class="form-fields">
                    <input type="text" name="data.pcu" value="{{data.pcu}}" data-dtype="Number" placeholder="0" />
                </div>
            </div>

            <h4 class="section-header first">{{ localize "SFRPG.ItemSheet.StarshipThruster.Header" }}</h4>

            <div class="form-group" data-tippy-content="<b>{{ localize "SFRPG.ItemSheet.StarshipThruster.Size" }}</b><br/>{{ localize "SFRPG.ItemSheet.StarshipThruster.SizeTooltip" }}">
                <label>{{ localize "SFRPG.ItemSheet.StarshipThruster.Size" }}</label>
                <select name="data.supportedSize">
                    {{#select data.supportedSize}}
                    {{#each config.starshipSizes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            <div class="form-group" data-tippy-content="<b>{{ localize "SFRPG.ItemSheet.StarshipThruster.Speed" }}</b><br/>{{ localize "SFRPG.ItemSheet.StarshipThruster.SpeedTooltip" }}">
                <label>{{ localize "SFRPG.ItemSheet.StarshipThruster.Speed" }}</label>
                <div class="form-fields">
                    <input type="text" name="data.speed" value="{{data.speed}}" data-dtype="Number" placeholder="0" />
                </div>
            </div>

            <div class="form-group" data-tippy-content="<b>{{ localize "SFRPG.ItemSheet.StarshipThruster.PilotingModifier" }}</b><br/>{{ localize "SFRPG.ItemSheet.StarshipThruster.PilotingModifierTooltip" }}">
                <label>{{ localize "SFRPG.ItemSheet.StarshipThruster.PilotingModifier" }}</label>
                <div class="form-fields">
                    <input type="text" name="data.pilotingModifier" value="{{data.pilotingModifier}}" data-dtype="Number" placeholder="0" />
                </div>
            </div>

            <div class="form-group" data-tippy-content="<b>{{ localize "SFRPG.ItemSheet.StarshipThruster.Booster" }}</b><br/>{{ localize "SFRPG.ItemSheet.StarshipThruster.BoosterTooltip" }}">
                <label>{{ localize "SFRPG.ItemSheet.StarshipThruster.Booster" }}</label>
                <div class="form-fields">
                    <label class="checkbox">
                        <input type="checkbox" name="data.isBooster" {{checked data.isBooster}}/> {{ localize "SFRPG.ItemSheet.StarshipThruster.IsBooster" }}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.isEnabled" {{checked data.isEnabled}}/> {{ localize "SFRPG.ItemSheet.StarshipThruster.IsEnabled" }}
                    </label>
                </div>
            </div>

        </div>

    </section>
</form>