<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    {{> "systems/sfrpg/templates/items/parts/item-header.html"}}

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SFRPG.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SFRPG.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/sfrpg/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">

            {{!-- Common component data --}}
            {{> "systems/sfrpg/templates/items/parts/starship-component.html" this noPCUCost=true}}

            <h4 class="section-header first">{{ localize "SFRPG.ItemSheet.StarshipFortifiedHull.Header" }}</h4>

            <div class="form-group" data-tippy-content="<b>{{ localize "SFRPG.ItemSheet.StarshipFortifiedHull.CriticalThresholdBonus" }}</b><br/>{{ localize "SFRPG.ItemSheet.StarshipFortifiedHull.CriticalThresholdBonusTooltip" }}">
                <label>{{ localize "SFRPG.ItemSheet.StarshipFortifiedHull.CriticalThresholdBonus" }}</label>
                <div class="form-fields">
                    <input type="text" name="data.criticalThresholdBonus" value="{{itemData.criticalThresholdBonus}}" data-dtype="Number" placeholder="0" />
                </div>
            </div>

        </div>

    </section>
</form>