<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    {{> "systems/sfrpg/templates/items/parts/item-header.html"}}

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SFRPG.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SFRPG.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/sfrpg/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">

            {{!-- Common component data --}}
            {{> "systems/sfrpg/templates/items/parts/starship-component.html" this}}

            <h4 class="section-header first">{{ localize "SFRPG.ItemSheet.StarshipDriftEngine.Header" }}</h4>

            <div class="form-group" data-tippy-content="<b>{{ localize "SFRPG.ItemSheet.StarshipDriftEngine.EngineRating" }}</b><br/>{{ localize "SFRPG.ItemSheet.StarshipDriftEngine.EngineRatingTooltip" }}">
                <label>{{ localize "SFRPG.ItemSheet.StarshipDriftEngine.EngineRating" }}</label>
                <div class="form-fields">
                    <input type="text" name="system.engineRating" value="{{itemData.engineRating}}" data-dtype="Number" placeholder="0" />
                </div>
            </div>

            <div class="form-group" data-tippy-content="<b>{{ localize "SFRPG.ItemSheet.StarshipDriftEngine.MaxSize" }}</b><br/>{{ localize "SFRPG.ItemSheet.StarshipDriftEngine.MaxSizeTooltip" }}">
                <label>{{ localize "SFRPG.ItemSheet.StarshipDriftEngine.MaxSize" }}</label>
                <select name="system.maxSize">
                    {{#select itemData.maxSize}}
                    {{#each config.starshipSizes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

        </div>

    </section>
</form>