<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    {{> "systems/sfrpg/templates/items/parts/item-header.html"}}

     {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SFRPG.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SFRPG.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">
        {{> "systems/sfrpg/templates/items/parts/item-description.html"}}

        <div class="tab details" data-tab="details" data-group="primary">
            <h3 class="form-header">{{ localize "SFRPG.CapacityUsage" }}</h3>
            {{> "systems/sfrpg/templates/items/parts/item-capacity.html"}}

            <br />

            {{> "systems/sfrpg/templates/items/parts/physical-item-details.html"}}
        </div>

    </section>
</form>
