<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    {{> "systems/sfrpg/templates/items/parts/item-header.html"}}

     {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SFRPG.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SFRPG.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">
        {{> "systems/sfrpg/templates/items/parts/item-description.html"}}

        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "SFRPG.Items.Upgrade.ArmorUpgradeDetails" }}</h3>
            <div class="form-group">
                <label>{{ localize "SFRPG.Items.Upgrade.Slots" }}</label>
                <input type="text" name="data.slots" value="{{data.slots}}" data-dtype="Number" />
            </div>
            <div class="form-group">
                <label>{{ localize "SFRPG.Items.Upgrade.AllowedArmorType" }}</label>
                <select name="data.allowedArmorType">
                    {{#select data.allowedArmorType}}
                    <option value="any">{{ localize "SFRPG.Items.Upgrade.Any" }}</option>
                    {{#each config.allowedArmorTypes as |allowedArmorType k|}}
                    <option value="{{k}}">{{allowedArmorType}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            <h3 class="form-header">{{ localize "SFRPG.CapacityUsage" }}</h3>
            {{> "systems/sfrpg/templates/items/parts/item-capacity.html"}}

            <br />

            {{> "systems/sfrpg/templates/items/parts/physical-item-details.html"}}
        </div>

        
    </section>
</form>
