<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ "SFRPG.Items.Header.ItemName" }}" />
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">Vehicle System</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            {{!-- Item Summary --}}
            <ul class="summary flexrow">
                <li class="wide" data-tippy-content="{{ localize "SFRPG.ItemSheet.Header.SourceTooltip" }}">
                <input type="text" name="system.source" value="{{itemData.source}}" placeholder="{{ localize "SFRPG.ItemSheet.Header.Source" }}"/>
                </li>
            </ul>


        </div>

    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SFRPG.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SFRPG.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/sfrpg/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">

            {{!-- Sense --}}
            <h4 class="section-header">Senses</h4>

            <div class="form-group" data-tippy-content="<strong>{{ localize 'SFRPG.VehicleSystemSheet.UseForSenses' }}</strong><br/>{{ localize "SFRPG.VehicleSystemSheet.UseForSensesTooltip" }}">
            <label>{{ localize "SFRPG.VehicleSystemSheet.UseForSenses" }}</label>
                <div class="form-fields">
                    <label class="checkbox">
                        <input type="checkbox" name="system.senses.usedForSenses" {{checked itemData.senses.usedForSenses}}/>{{ localize "SFRPG.VehicleSystemSheet.UseForSensesTooltip" }}
                    </label>
                </div>
            </div>

            {{#if itemData.senses.usedForSenses }}
            <div class="form-group" data-tippy-content="<strong>{{ localize 'SFRPG.VehicleSystemSheet.Senses' }}</strong><br/>{{ localize 'SFRPG.VehicleSystemSheet.SensesTooltip' }}">
            <label>{{ localize "SFRPG.VehicleSystemSheet.Senses" }}</label>
            <div class="form-fields">
                <input type="text" name="system.senses.senses" value="{{itemData.senses.senses}}" data-dtype="String" />
            </div>
            </div>
            {{/if}}

            {{!-- Piloting --}}
            <h4 class="section-header">Piloting</h4>

            <div class="form-group" data-tippy-content="<strong>{{ localize 'SFRPG.VehicleSystemSheet.UseToPilot' }}</strong><br/>{{ localize "SFRPG.VehicleSystemSheet.UseToPilotTooltip" }}">
            <label>{{ localize "SFRPG.VehicleSystemSheet.UseToPilot" }}</label>
            <div class="form-fields">
                <label class="checkbox">
                    <input type="checkbox" name="system.piloting.usedAsPilot" {{checked itemData.piloting.usedAsPilot}}/>{{ localize "SFRPG.VehicleSystemSheet.UseToPilotTooltip" }}
                </label>
            </div>
            </div>

            {{#if itemData.piloting.usedAsPilot }}
            <div class="form-group" data-tippy-content="<strong>{{ localize 'SFRPG.VehicleSystemSheet.Piloting' }}</strong><br/>{{ localize "SFRPG.VehicleSystemSheet.PilotingTooltip" }}">
                <label>{{ localize "SFRPG.VehicleSystemSheet.Piloting" }}</label>
                <div class="form-fields">
                    <input type="text" name="system.piloting.piloting" value="{{itemData.piloting.piloting}}" data-dtype="String" />
                </div>
            </div>
            {{/if}}

            {{!-- Activation --}}
            <h4 class="section-header">Activation</h4>

            <div class="form-group" data-tippy-content="<strong>{{ localize 'SFRPG.VehicleSystemSheet.CanBeActivated' }}</strong><br/>{{ localize "SFRPG.VehicleSystemSheet.CanBeActivatedTooltip" }}">
            <label>{{ localize "SFRPG.VehicleSystemSheet.CanBeActivated" }}</label>
            <div class="form-fields">
                <label class="checkbox">
                    <input type="checkbox" name="system.canBeActivated" {{checked itemData.canBeActivated}}/>{{ localize "SFRPG.VehicleSystemSheet.CanBeActivatedTooltip" }}
                </label>
            </div>
            </div>


            {{#if itemData.canBeActivated}}
            <div class="form-group" data-tippy-content="<strong>{{ localize 'SFRPG.VehicleSystemSheet.isActivated' }}</strong><br/>{{ localize "SFRPG.VehicleSystemSheet.isActivatedTooltip" }}">
            <label>{{ localize "SFRPG.VehicleSystemSheet.isActivated" }}</label>
            <div class="form-fields">
                <label class="checkbox">
                    <input type="checkbox" name="system.isActive" {{checked itemData.isActive}}/>{{ localize "SFRPG.VehicleSystemSheet.isActivatedTooltip" }}
                </label>
            </div>
            </div>
            {{/if}}

        </div>

    </section>
</form>